//
// Written by Synplify Pro 
// Product Version "U-2023.03LR-1"
// Program "Synplify Pro", Mapper "map202303lat, Build 070R"
// Mon Oct  2 07:16:13 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\lscc\radiant\2023.1\synpbase\lib\lucent\lifcl.v "
// file 1 "\c:\lscc\radiant\2023.1\synpbase\lib\lucent\pmi_def.v "
// file 2 "\c:\lscc\radiant\2023.1\synpbase\lib\vlog\hypermods.v "
// file 3 "\c:\lscc\radiant\2023.1\synpbase\lib\vlog\scemi_objects.v "
// file 4 "\c:\lscc\radiant\2023.1\synpbase\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_lifcl.v "
// file 6 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_addsub.v "
// file 7 "\c:\lscc\radiant\2023.1\ip\pmi\../common/adder_subtractor/rtl\lscc_add_sub.v "
// file 8 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_add.v "
// file 9 "\c:\lscc\radiant\2023.1\ip\pmi\../common/adder/rtl\lscc_adder.v "
// file 10 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_complex_mult.v "
// file 11 "\c:\lscc\radiant\2023.1\ip\pmi\../common/complex_mult/rtl\lscc_complex_mult.v "
// file 12 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_counter.v "
// file 13 "\c:\lscc\radiant\2023.1\ip\pmi\../common/counter/rtl\lscc_cntr.v "
// file 14 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_dpram.v "
// file 15 "\c:\lscc\radiant\2023.1\ip\pmi\../common/distributed_dpram/rtl\lscc_distributed_dpram.v "
// file 16 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_spram.v "
// file 17 "\c:\lscc\radiant\2023.1\ip\pmi\../common/distributed_spram/rtl\lscc_distributed_spram.v "
// file 18 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_rom.v "
// file 19 "\c:\lscc\radiant\2023.1\ip\pmi\../common/distributed_rom/rtl\lscc_distributed_rom.v "
// file 20 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_shift_reg.v "
// file 21 "\c:\lscc\radiant\2023.1\ip\pmi\../common/ram_shift_reg/rtl\lscc_shift_register.v "
// file 22 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_fifo.v "
// file 23 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/fifo/rtl\lscc_fifo.v "
// file 24 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_fifo_dc.v "
// file 25 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/fifo_dc/rtl\lscc_fifo_dc.v "
// file 26 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_mac.v "
// file 27 "\c:\lscc\radiant\2023.1\ip\pmi\../common/mult_accumulate/rtl\lscc_mult_accumulate.v "
// file 28 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_multaddsubsum.v "
// file 29 "\c:\lscc\radiant\2023.1\ip\pmi\../common/mult_add_sub_sum/rtl\lscc_mult_add_sub_sum.v "
// file 30 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_multaddsub.v "
// file 31 "\c:\lscc\radiant\2023.1\ip\pmi\../common/mult_add_sub/rtl\lscc_mult_add_sub.v "
// file 32 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_mult.v "
// file 33 "\c:\lscc\radiant\2023.1\ip\pmi\../common/multiplier/rtl\lscc_multiplier.v "
// file 34 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dp.v "
// file 35 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/ram_dp/rtl\lscc_ram_dp.v "
// file 36 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dp_be.v "
// file 37 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dp_true.v "
// file 38 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/ram_dp_true/rtl\lscc_ram_dp_true.v "
// file 39 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dq.v "
// file 40 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/ram_dq/rtl\lscc_ram_dq.v "
// file 41 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dq_be.v "
// file 42 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_rom.v "
// file 43 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/rom/rtl\lscc_rom.v "
// file 44 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_sub.v "
// file 45 "\c:\lscc\radiant\2023.1\ip\pmi\../common/subtractor/rtl\lscc_subtractor.v "
// file 46 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\mipi_dphy_1\rtl\mipi_dphy_1.v "
// file 47 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\ddr_mem_1\ddr_mem_1\rtl\ddr_mem_1.v "
// file 48 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\mipi_dphy_2\rtl\mipi_dphy_2.v "
// file 49 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\source\impl_1\main.v "
// file 50 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\i2c_dphy_1\i2c_dphy_1\rtl\i2c_dphy_1.v "
// file 51 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\i2c_dphy_2\i2c_dphy_2\rtl\i2c_dphy_2.v "
// file 52 "\c:\lscc\radiant\2023.1\synpbase\lib\nlconst.dat "
// file 53 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\impl_1\lattice_project_1_impl_1_cpe.ldc "
// file 54 "\c:/users/timot/documents/programming/fpga-accelerator/software/lattice_project_1/impl_1/lattice_project_1_impl_1_cpe.ldc "

`timescale 100 ps/100 ps
module DDR_MEM_1_ipgen_common_logic_2s_2 (
  code_w,
  eclkout_w,
  sclk_o
)
;
output [8:0] code_w ;
output eclkout_w ;
output sclk_o ;
wire eclkout_w ;
wire sclk_o ;
wire [8:0] dcnt_o_w;
wire GND ;
wire lock_w ;
wire VCC ;
//@47:4198
// @47:1070
  DDRDLL u0_DDRDLL (
	.CODE(code_w[8:0]),
	.FREEZE(GND),
	.LOCK(lock_w),
	.CLKIN(eclkout_w),
	.RST(GND),
	.DCNTL(dcnt_o_w[8:0]),
	.UDDCNTL_N(VCC)
);
defparam u0_DDRDLL.GSR = "ENABLED";
defparam u0_DDRDLL.ENA_ROUNDOFF = "ENABLED";
defparam u0_DDRDLL.FORCE_MAX_DELAY = "CODE_OR_LOCK_FROM_DLL_LOOP";
// @47:1053
  ECLKSYNC u0_ECLKSYNC (
	.ECLKIN(GND),
	.ECLKOUT(eclkout_w),
	.STOP(GND)
);
defparam u0_ECLKSYNC.STOP_EN = "ENABLE";
// @47:1047
  ECLKDIV u0_ECLKDIV (
	.DIVOUT(sclk_o),
	.DIVRST(GND),
	.ECLKIN(eclkout_w),
	.SLIP(GND)
);
defparam u0_ECLKDIV.ECLK_DIV = "2";
defparam u0_ECLKDIV.GSR = "DISABLED";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_common_logic_2s_2 */

module DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0 (
  code_w,
  dq_dqs1_io,
  sclk_o,
  eclkout_w,
  dqs1_io
)
;
input [8:0] code_w ;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
input sclk_o ;
input eclkout_w ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
wire sclk_o ;
wire eclkout_w ;
wire dqs1_io ;
wire [7:0] dout_w;
wire [7:0] bb_o_di;
wire [2:0] rdpntr_w;
wire [2:0] wrpntr_w;
wire dqs_o_w ;
wire dqs_outen_n_w ;
wire dqs_bb_out_w ;
wire dqts_w ;
wire GND ;
wire sw270_out_w ;
wire dqswout_w ;
wire burst_detect_o ;
wire burst_detect_sclk_o ;
wire data_valid_o ;
wire dqsw_rd_section_o ;
wire VCC ;
wire rd_cout_o ;
wire sr90_out_w ;
wire wr_cout_o ;
wire wrvl_cout_o ;
// @47:1338
  BB \DQS_BLOCK.u_DQS_BB  (
	.B(dqs1_io),
	.I(dqs_o_w),
	.T(dqs_outen_n_w),
	.O(dqs_bb_out_w)
);
// @47:1460
  BB \DQ_BLOCK[6].u_DQ_BB  (
	.B(dq_dqs1_io[6]),
	.I(dout_w[6]),
	.T(dqts_w),
	.O(bb_o_di[6])
);
// @47:1460
  BB \DQ_BLOCK[4].u_DQ_BB  (
	.B(dq_dqs1_io[4]),
	.I(dout_w[4]),
	.T(dqts_w),
	.O(bb_o_di[4])
);
// @47:1460
  BB \DQ_BLOCK[2].u_DQ_BB  (
	.B(dq_dqs1_io[2]),
	.I(dout_w[2]),
	.T(dqts_w),
	.O(bb_o_di[2])
);
// @47:1460
  BB \DQ_BLOCK[0].u_DQ_BB  (
	.B(dq_dqs1_io[0]),
	.I(dout_w[0]),
	.T(dqts_w),
	.O(bb_o_di[0])
);
// @47:1460
  BB \DQ_BLOCK[1].u_DQ_BB  (
	.B(dq_dqs1_io[1]),
	.I(dout_w[1]),
	.T(dqts_w),
	.O(bb_o_di[1])
);
// @47:1460
  BB \DQ_BLOCK[3].u_DQ_BB  (
	.B(dq_dqs1_io[3]),
	.I(dout_w[3]),
	.T(dqts_w),
	.O(bb_o_di[3])
);
// @47:1460
  BB \DQ_BLOCK[5].u_DQ_BB  (
	.B(dq_dqs1_io[5]),
	.I(dout_w[5]),
	.T(dqts_w),
	.O(bb_o_di[5])
);
// @47:1460
  BB \DQ_BLOCK[7].u_DQ_BB  (
	.B(dq_dqs1_io[7]),
	.I(dout_w[7]),
	.T(dqts_w),
	.O(bb_o_di[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[1].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[1])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[5].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[5])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[2].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[2])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[4].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[4])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[7].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[0].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[0])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[3].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[3])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[6].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[6])
);
// @47:1411
  TSHX2DQS \TS_BLOCK.TS_X2.u_TSHX2DQS  (
	.T0(GND),
	.T1(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_outen_n_w)
);
// @47:1398
  TSHX2DQ \TS_BLOCK.TS_X2.u_TSHX2DQ  (
	.T0(GND),
	.T1(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqts_w)
);
// @47:1349
  ODDRX2DQS \DQS_BLOCK.DQS_X2.u_ODDRX2DQS  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_o_w)
);
// @47:1299
  DQSBUF u0_DQSBUF (
	.BTDETECT(burst_detect_o),
	.BURSTDETECT(burst_detect_sclk_o),
	.DATAVALID(data_valid_o),
	.DQSI(dqs_bb_out_w),
	.DQSW(dqswout_w),
	.DQSWRD(dqsw_rd_section_o),
	.PAUSE(GND),
	.RDCLKSEL({GND, GND, GND, GND}),
	.RDDIR(GND),
	.RDLOADN(VCC),
	.RDPNTR(rdpntr_w[2:0]),
	.READ({GND, GND, GND, GND}),
	.READCOUT(rd_cout_o),
	.READMOVE(GND),
	.RST(GND),
	.SCLK(sclk_o),
	.SELCLK(GND),
	.DQSR90(sr90_out_w),
	.DQSW270(sw270_out_w),
	.WRCOUT(wr_cout_o),
	.WRDIR(GND),
	.WRLOAD_N(VCC),
	.WRLVCOUT(wrvl_cout_o),
	.WRLVDIR(GND),
	.WRLVLOAD_N(VCC),
	.WRLVMOVE(GND),
	.WRMOVE(GND),
	.WRPNTR(wrpntr_w[2:0]),
	.ECLKIN(eclkout_w),
	.RSTSMCNT(GND),
	.DLLCODE(code_w[8:0])
);
defparam u0_DQSBUF.GSR = "ENABLED";
defparam u0_DQSBUF.ENABLE_FIFO = "ENABLED";
defparam u0_DQSBUF.FORCE_READ = "ENABLED";
defparam u0_DQSBUF.FREE_WHEEL = "DDR";
defparam u0_DQSBUF.MODX = "MDDRX2";
defparam u0_DQSBUF.MT_EN_READ = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE_LEVELING = "ENABLED";
defparam u0_DQSBUF.RD_PNTR = "0b000";
defparam u0_DQSBUF.READ_ENABLE = "ENABLED";
defparam u0_DQSBUF.RX_CENTERED = "ENABLED";
defparam u0_DQSBUF.S_READ = "0";
defparam u0_DQSBUF.S_WRITE = "0";
defparam u0_DQSBUF.SIGN_READ = "POSITIVE";
defparam u0_DQSBUF.SIGN_WRITE = "POSITIVE";
defparam u0_DQSBUF.UPDATE_QU = "UP1_AND_UP0_SAME";
defparam u0_DQSBUF.WRITE_ENABLE = "ENABLED";
defparam u0_DQSBUF.SEL_READ_BIT_ENABLE_CYCLES = "NORMAL";
defparam u0_DQSBUF.BYPASS_WR_LEVEL_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_WR_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_READ_SMTH_LATCH = "SMOOTHING_PATH";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0 */

module DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0_0 (
  code_w,
  dq_dqs0_io,
  sclk_o,
  eclkout_w,
  dqs0_io
)
;
input [8:0] code_w ;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
input sclk_o ;
input eclkout_w ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
wire sclk_o ;
wire eclkout_w ;
wire dqs0_io ;
wire [7:0] dout_w;
wire [7:0] bb_o_di;
wire [2:0] rdpntr_w;
wire [2:0] wrpntr_w;
wire dqs_o_w ;
wire dqs_outen_n_w ;
wire dqs_bb_out_w ;
wire dqts_w ;
wire GND ;
wire sw270_out_w ;
wire dqswout_w ;
wire burst_detect_o ;
wire burst_detect_sclk_o ;
wire data_valid_o ;
wire dqsw_rd_section_o ;
wire VCC ;
wire rd_cout_o ;
wire sr90_out_w ;
wire wr_cout_o ;
wire wrvl_cout_o ;
// @47:1338
  BB \DQS_BLOCK.u_DQS_BB  (
	.B(dqs0_io),
	.I(dqs_o_w),
	.T(dqs_outen_n_w),
	.O(dqs_bb_out_w)
);
// @47:1460
  BB \DQ_BLOCK[6].u_DQ_BB  (
	.B(dq_dqs0_io[6]),
	.I(dout_w[6]),
	.T(dqts_w),
	.O(bb_o_di[6])
);
// @47:1460
  BB \DQ_BLOCK[4].u_DQ_BB  (
	.B(dq_dqs0_io[4]),
	.I(dout_w[4]),
	.T(dqts_w),
	.O(bb_o_di[4])
);
// @47:1460
  BB \DQ_BLOCK[2].u_DQ_BB  (
	.B(dq_dqs0_io[2]),
	.I(dout_w[2]),
	.T(dqts_w),
	.O(bb_o_di[2])
);
// @47:1460
  BB \DQ_BLOCK[0].u_DQ_BB  (
	.B(dq_dqs0_io[0]),
	.I(dout_w[0]),
	.T(dqts_w),
	.O(bb_o_di[0])
);
// @47:1460
  BB \DQ_BLOCK[1].u_DQ_BB  (
	.B(dq_dqs0_io[1]),
	.I(dout_w[1]),
	.T(dqts_w),
	.O(bb_o_di[1])
);
// @47:1460
  BB \DQ_BLOCK[3].u_DQ_BB  (
	.B(dq_dqs0_io[3]),
	.I(dout_w[3]),
	.T(dqts_w),
	.O(bb_o_di[3])
);
// @47:1460
  BB \DQ_BLOCK[5].u_DQ_BB  (
	.B(dq_dqs0_io[5]),
	.I(dout_w[5]),
	.T(dqts_w),
	.O(bb_o_di[5])
);
// @47:1460
  BB \DQ_BLOCK[7].u_DQ_BB  (
	.B(dq_dqs0_io[7]),
	.I(dout_w[7]),
	.T(dqts_w),
	.O(bb_o_di[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[1].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[1])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[5].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[5])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[2].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[2])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[4].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[4])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[7].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[0].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[0])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[3].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[3])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[6].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[6])
);
// @47:1411
  TSHX2DQS \TS_BLOCK.TS_X2.u_TSHX2DQS  (
	.T0(GND),
	.T1(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_outen_n_w)
);
// @47:1398
  TSHX2DQ \TS_BLOCK.TS_X2.u_TSHX2DQ  (
	.T0(GND),
	.T1(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqts_w)
);
// @47:1349
  ODDRX2DQS \DQS_BLOCK.DQS_X2.u_ODDRX2DQS  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_o_w)
);
// @47:1299
  DQSBUF u0_DQSBUF (
	.BTDETECT(burst_detect_o),
	.BURSTDETECT(burst_detect_sclk_o),
	.DATAVALID(data_valid_o),
	.DQSI(dqs_bb_out_w),
	.DQSW(dqswout_w),
	.DQSWRD(dqsw_rd_section_o),
	.PAUSE(GND),
	.RDCLKSEL({GND, GND, GND, GND}),
	.RDDIR(GND),
	.RDLOADN(VCC),
	.RDPNTR(rdpntr_w[2:0]),
	.READ({GND, GND, GND, GND}),
	.READCOUT(rd_cout_o),
	.READMOVE(GND),
	.RST(GND),
	.SCLK(sclk_o),
	.SELCLK(GND),
	.DQSR90(sr90_out_w),
	.DQSW270(sw270_out_w),
	.WRCOUT(wr_cout_o),
	.WRDIR(GND),
	.WRLOAD_N(VCC),
	.WRLVCOUT(wrvl_cout_o),
	.WRLVDIR(GND),
	.WRLVLOAD_N(VCC),
	.WRLVMOVE(GND),
	.WRMOVE(GND),
	.WRPNTR(wrpntr_w[2:0]),
	.ECLKIN(eclkout_w),
	.RSTSMCNT(GND),
	.DLLCODE(code_w[8:0])
);
defparam u0_DQSBUF.GSR = "ENABLED";
defparam u0_DQSBUF.ENABLE_FIFO = "ENABLED";
defparam u0_DQSBUF.FORCE_READ = "ENABLED";
defparam u0_DQSBUF.FREE_WHEEL = "DDR";
defparam u0_DQSBUF.MODX = "MDDRX2";
defparam u0_DQSBUF.MT_EN_READ = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE_LEVELING = "ENABLED";
defparam u0_DQSBUF.RD_PNTR = "0b000";
defparam u0_DQSBUF.READ_ENABLE = "ENABLED";
defparam u0_DQSBUF.RX_CENTERED = "ENABLED";
defparam u0_DQSBUF.S_READ = "0";
defparam u0_DQSBUF.S_WRITE = "0";
defparam u0_DQSBUF.SIGN_READ = "POSITIVE";
defparam u0_DQSBUF.SIGN_WRITE = "POSITIVE";
defparam u0_DQSBUF.UPDATE_QU = "UP1_AND_UP0_SAME";
defparam u0_DQSBUF.WRITE_ENABLE = "ENABLED";
defparam u0_DQSBUF.SEL_READ_BIT_ENABLE_CYCLES = "NORMAL";
defparam u0_DQSBUF.BYPASS_WR_LEVEL_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_WR_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_READ_SMTH_LATCH = "SMOOTHING_PATH";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0_0 */

module DDR_MEM_1_ipgen_moshx2_4_csn_SSTL15_II_SSTL15D_II_2s_1s_DQS_CMD_CLK (
  DDR_MEM_1_csn_o_c_0,
  sclk_o,
  eclkout_w
)
;
output DDR_MEM_1_csn_o_c_0 ;
input sclk_o ;
input eclkout_w ;
wire DDR_MEM_1_csn_o_c_0 ;
wire sclk_o ;
wire eclkout_w ;
wire [0:0] q_out_csn_w;
wire GND ;
wire VCC ;
// @47:2449
  OSHX2 \DDR_CSN[0].DDR_CSN_X2.u_CSN_OSHX2  (
	.D0(GND),
	.D1(GND),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(q_out_csn_w[0])
);
// @47:2443
  DELAYB \DDR_CSN[0].u_DELAYB  (
	.A(q_out_csn_w[0]),
	.Z(DDR_MEM_1_csn_o_c_0)
);
defparam \DDR_CSN[0].u_DELAYB .DEL_VALUE = "0";
defparam \DDR_CSN[0].u_DELAYB .COARSE_DELAY = "0NS";
defparam \DDR_CSN[0].u_DELAYB .DEL_MODE = "DQS_CMD_CLK";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_moshx2_4_csn_SSTL15_II_SSTL15D_II_2s_1s_DQS_CMD_CLK */

module DDR_MEM_1_ipgen_oddrx2_4_addr_cmd_cke_odt_SSTL15_II_13s_2s_2s_3s_1s_1s_ODDRX1_SCLK_3_layer0 (
  DDR_MEM_1_addr_o_c,
  DDR_MEM_1_ba_o_c,
  DDR_MEM_1_odt_o_c_0,
  DDR_MEM_1_cke_o_c_0,
  DDR_MEM_1_casn_o_c,
  DDR_MEM_1_rasn_o_c,
  DDR_MEM_1_wen_o_c,
  sclk_o
)
;
output [12:0] DDR_MEM_1_addr_o_c ;
output [2:0] DDR_MEM_1_ba_o_c ;
output DDR_MEM_1_odt_o_c_0 ;
output DDR_MEM_1_cke_o_c_0 ;
output DDR_MEM_1_casn_o_c ;
output DDR_MEM_1_rasn_o_c ;
output DDR_MEM_1_wen_o_c ;
input sclk_o ;
wire DDR_MEM_1_odt_o_c_0 ;
wire DDR_MEM_1_cke_o_c_0 ;
wire DDR_MEM_1_casn_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_wen_o_c ;
wire sclk_o ;
wire GND ;
wire VCC ;
// @47:2815
  ODDRX1 \DDR_CKE[0].DDR_CKE_X2.u_CKE_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_cke_o_c_0)
);
// @47:2778
  ODDRX1 \DDR_ODT[0].DDR_ODT_X2.u_ODT_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_odt_o_c_0)
);
// @47:2741
  ODDRX1 \DDR_WEN.DDR_WEN_X2.u_WEN_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_wen_o_c)
);
// @47:2705
  ODDRX1 \DDR_RASN.DDR_RASN_X2.u_RASN_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_rasn_o_c)
);
// @47:2669
  ODDRX1 \DDR_CASN.DDR_CASN_X2.u_CASN_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_casn_o_c)
);
// @47:2633
  ODDRX1 \DDR_BA[2].DDR_BA_X2.u_BA_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_ba_o_c[2])
);
// @47:2633
  ODDRX1 \DDR_BA[0].DDR_BA_X2.u_BA_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_ba_o_c[0])
);
// @47:2633
  ODDRX1 \DDR_BA[1].DDR_BA_X2.u_BA_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_ba_o_c[1])
);
// @47:2596
  ODDRX1 \DDR_ADDR[3].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[3])
);
// @47:2596
  ODDRX1 \DDR_ADDR[8].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[8])
);
// @47:2596
  ODDRX1 \DDR_ADDR[2].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[2])
);
// @47:2596
  ODDRX1 \DDR_ADDR[9].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[9])
);
// @47:2596
  ODDRX1 \DDR_ADDR[5].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[5])
);
// @47:2596
  ODDRX1 \DDR_ADDR[10].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[10])
);
// @47:2596
  ODDRX1 \DDR_ADDR[4].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[4])
);
// @47:2596
  ODDRX1 \DDR_ADDR[11].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[11])
);
// @47:2596
  ODDRX1 \DDR_ADDR[6].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[6])
);
// @47:2596
  ODDRX1 \DDR_ADDR[12].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[12])
);
// @47:2596
  ODDRX1 \DDR_ADDR[1].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[1])
);
// @47:2596
  ODDRX1 \DDR_ADDR[0].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[0])
);
// @47:2596
  ODDRX1 \DDR_ADDR[7].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[7])
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_oddrx2_4_addr_cmd_cke_odt_SSTL15_II_13s_2s_2s_3s_1s_1s_ODDRX1_SCLK_3_layer0 */

module DDR_MEM_1_ipgen_oddrx2_4_ck_SSTL15_II_1s_2s_DQS_CMD_CLK (
  DDR_MEM_1_ck_o_c_0,
  eclkout_w,
  sclk_o
)
;
output DDR_MEM_1_ck_o_c_0 ;
input eclkout_w ;
input sclk_o ;
wire DDR_MEM_1_ck_o_c_0 ;
wire eclkout_w ;
wire sclk_o ;
wire [0:0] q_out_clk_w;
wire GND ;
wire VCC ;
// @47:2948
  ODDRX2 \DDR_CLK[0].DDR_CLK_X2.u_ck_ODDRX2  (
	.D0(GND),
	.D1(VCC),
	.D2(GND),
	.D3(VCC),
	.SCLK(sclk_o),
	.RST(GND),
	.ECLK(eclkout_w),
	.Q(q_out_clk_w[0])
);
// @47:2942
  DELAYB \DDR_CLK[0].u_DELAYB  (
	.A(q_out_clk_w[0]),
	.Z(DDR_MEM_1_ck_o_c_0)
);
defparam \DDR_CLK[0].u_DELAYB .DEL_VALUE = "0";
defparam \DDR_CLK[0].u_DELAYB .COARSE_DELAY = "0NS";
defparam \DDR_CLK[0].u_DELAYB .DEL_MODE = "DQS_CMD_CLK";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_oddrx2_4_ck_SSTL15_II_1s_2s_DQS_CMD_CLK */

module DDR_MEM_1_ipgen_lscc_ddr_mem_Z1_layer0 (
  DDR_MEM_1_ck_o_c_0,
  DDR_MEM_1_cke_o_c_0,
  DDR_MEM_1_odt_o_c_0,
  DDR_MEM_1_ba_o_c,
  DDR_MEM_1_addr_o_c,
  DDR_MEM_1_csn_o_c_0,
  dq_dqs0_io,
  dq_dqs1_io,
  DDR_MEM_1_wen_o_c,
  DDR_MEM_1_rasn_o_c,
  DDR_MEM_1_casn_o_c,
  dqs0_io,
  dqs1_io
)
;
output DDR_MEM_1_ck_o_c_0 ;
output DDR_MEM_1_cke_o_c_0 ;
output DDR_MEM_1_odt_o_c_0 ;
output [2:0] DDR_MEM_1_ba_o_c ;
output [12:0] DDR_MEM_1_addr_o_c ;
output DDR_MEM_1_csn_o_c_0 ;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
output DDR_MEM_1_wen_o_c ;
output DDR_MEM_1_rasn_o_c ;
output DDR_MEM_1_casn_o_c ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
wire DDR_MEM_1_ck_o_c_0 ;
wire DDR_MEM_1_cke_o_c_0 ;
wire DDR_MEM_1_odt_o_c_0 ;
wire DDR_MEM_1_csn_o_c_0 ;
wire DDR_MEM_1_wen_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_casn_o_c ;
wire dqs0_io ;
wire dqs1_io ;
wire [8:0] code_w;
wire N_28 ;
wire N_27 ;
wire N_26 ;
wire N_25 ;
wire N_24 ;
wire N_23 ;
wire N_22 ;
wire N_13 ;
wire N_12 ;
wire N_11 ;
wire eclkout_w ;
wire sclk_o ;
wire GND ;
wire VCC ;
// @47:4198
  DDR_MEM_1_ipgen_common_logic_2s_2 u1_common_logic (
	.code_w(code_w[8:0]),
	.eclkout_w(eclkout_w),
	.sclk_o(sclk_o)
);
// @47:4565
  DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0 \DW_16.u1_dq_dqs_dm_unit  (
	.code_w(code_w[8:0]),
	.dq_dqs1_io(dq_dqs1_io[7:0]),
	.sclk_o(sclk_o),
	.eclkout_w(eclkout_w),
	.dqs1_io(dqs1_io)
);
// @47:4614
  DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0_0 \DW_8.u1_dq_dqs_dm_unit  (
	.code_w(code_w[8:0]),
	.dq_dqs0_io(dq_dqs0_io[7:0]),
	.sclk_o(sclk_o),
	.eclkout_w(eclkout_w),
	.dqs0_io(dqs0_io)
);
// @47:4657
  DDR_MEM_1_ipgen_moshx2_4_csn_SSTL15_II_SSTL15D_II_2s_1s_DQS_CMD_CLK \DDR3_DDR3L_CLK_ADDR_CMD_ENABLE.u1_moshx2_4_csn  (
	.DDR_MEM_1_csn_o_c_0(DDR_MEM_1_csn_o_c_0),
	.sclk_o(sclk_o),
	.eclkout_w(eclkout_w)
);
// @47:4668
  DDR_MEM_1_ipgen_oddrx2_4_addr_cmd_cke_odt_SSTL15_II_13s_2s_2s_3s_1s_1s_ODDRX1_SCLK_3_layer0 \DDR3_DDR3L_CLK_ADDR_CMD_ENABLE.u1_oddrx2_4_addr_cmd_cke_odt  (
	.DDR_MEM_1_addr_o_c(DDR_MEM_1_addr_o_c[12:0]),
	.DDR_MEM_1_ba_o_c(DDR_MEM_1_ba_o_c[2:0]),
	.DDR_MEM_1_odt_o_c_0(DDR_MEM_1_odt_o_c_0),
	.DDR_MEM_1_cke_o_c_0(DDR_MEM_1_cke_o_c_0),
	.DDR_MEM_1_casn_o_c(DDR_MEM_1_casn_o_c),
	.DDR_MEM_1_rasn_o_c(DDR_MEM_1_rasn_o_c),
	.DDR_MEM_1_wen_o_c(DDR_MEM_1_wen_o_c),
	.sclk_o(sclk_o)
);
// @47:4687
  DDR_MEM_1_ipgen_oddrx2_4_ck_SSTL15_II_1s_2s_DQS_CMD_CLK \DDR3_DDR3L_CLK_ADDR_CMD_ENABLE.u1_oddrx2_4_ck  (
	.DDR_MEM_1_ck_o_c_0(DDR_MEM_1_ck_o_c_0),
	.eclkout_w(eclkout_w),
	.sclk_o(sclk_o)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* DDR_MEM_1_ipgen_lscc_ddr_mem_Z1_layer0 */

module DDR_MEM_1 (
  dq_dqs1_io,
  dq_dqs0_io,
  DDR_MEM_1_csn_o_c_0,
  DDR_MEM_1_addr_o_c,
  DDR_MEM_1_ba_o_c,
  DDR_MEM_1_odt_o_c_0,
  DDR_MEM_1_cke_o_c_0,
  DDR_MEM_1_ck_o_c_0,
  dqs1_io,
  dqs0_io,
  DDR_MEM_1_casn_o_c,
  DDR_MEM_1_rasn_o_c,
  DDR_MEM_1_wen_o_c
)
;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
output DDR_MEM_1_csn_o_c_0 ;
output [12:0] DDR_MEM_1_addr_o_c ;
output [2:0] DDR_MEM_1_ba_o_c ;
output DDR_MEM_1_odt_o_c_0 ;
output DDR_MEM_1_cke_o_c_0 ;
output DDR_MEM_1_ck_o_c_0 ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
output DDR_MEM_1_casn_o_c ;
output DDR_MEM_1_rasn_o_c ;
output DDR_MEM_1_wen_o_c ;
wire DDR_MEM_1_csn_o_c_0 ;
wire DDR_MEM_1_odt_o_c_0 ;
wire DDR_MEM_1_cke_o_c_0 ;
wire DDR_MEM_1_ck_o_c_0 ;
wire dqs1_io ;
wire dqs0_io ;
wire DDR_MEM_1_casn_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_wen_o_c ;
wire GND ;
wire VCC ;
// @47:243
  DDR_MEM_1_ipgen_lscc_ddr_mem_Z1_layer0 lscc_ddr_mem_inst (
	.DDR_MEM_1_ck_o_c_0(DDR_MEM_1_ck_o_c_0),
	.DDR_MEM_1_cke_o_c_0(DDR_MEM_1_cke_o_c_0),
	.DDR_MEM_1_odt_o_c_0(DDR_MEM_1_odt_o_c_0),
	.DDR_MEM_1_ba_o_c(DDR_MEM_1_ba_o_c[2:0]),
	.DDR_MEM_1_addr_o_c(DDR_MEM_1_addr_o_c[12:0]),
	.DDR_MEM_1_csn_o_c_0(DDR_MEM_1_csn_o_c_0),
	.dq_dqs0_io(dq_dqs0_io[7:0]),
	.dq_dqs1_io(dq_dqs1_io[7:0]),
	.DDR_MEM_1_wen_o_c(DDR_MEM_1_wen_o_c),
	.DDR_MEM_1_rasn_o_c(DDR_MEM_1_rasn_o_c),
	.DDR_MEM_1_casn_o_c(DDR_MEM_1_casn_o_c),
	.dqs0_io(dqs0_io),
	.dqs1_io(dqs1_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* DDR_MEM_1 */

module MIPI_DPHY_1_ipgen_lscc_mipi_wrapper_rx_Z5_layer0 (
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_1_clk_p_io,
  MIPI_DPHY_1_clk_n_io
)
;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
wire MIPI_DPHY_1_clk_p_io ;
wire MIPI_DPHY_1_clk_n_io ;
wire [3:0] lmmi_rdata_o;
wire [1:0] un1_u_dphy_nocil_5;
wire [9:0] un1_u_dphy_nocil_6;
wire [9:0] un1_u_dphy_nocil_7;
wire [1:0] un1_u_dphy_nocil_115;
wire [1:0] un1_u_dphy_nocil_116;
wire [1:0] un1_u_dphy_nocil_90;
wire [9:0] un1_u_dphy_nocil_78;
wire [9:0] un1_u_dphy_nocil_79;
wire [1:0] un1_u_dphy_nocil_13;
wire [1:0] un1_u_dphy_nocil_14;
wire [1:0] un1_u_dphy_nocil_15;
wire [9:0] un1_u_dphy_nocil_16;
wire [9:0] un1_u_dphy_nocil_17;
wire [1:0] un1_u_dphy_nocil_18;
wire [1:0] un1_u_dphy_nocil_19;
wire [1:0] un1_u_dphy_nocil_20;
wire [9:0] un1_u_dphy_nocil_21;
wire [9:0] un1_u_dphy_nocil_22;
wire [1:0] un1_u_dphy_nocil_23;
wire [1:0] un1_u_dphy_nocil_24;
wire [9:0] un1_u_dphy_nocil_25;
wire [7:0] un1_u_dphy_nocil_45;
wire [15:0] dphy_hs_data_line0_w;
wire [3:0] lp_data_n_w;
wire [3:0] u_rx_sync_hs_w;
wire [3:0] lp_data_p_w;
wire [3:0] un1_u_dphy_nocil_57;
wire [7:0] un1_u_dphy_nocil_73;
wire [15:0] dphy_hs_data_line1_w;
wire [3:0] u1_rx_sync_hs_w;
wire [3:0] un1_u_dphy_nocil_85;
wire [7:0] un1_u_dphy_nocil_101;
wire [15:0] dphy_hs_data_line2_w;
wire [3:0] u2_rx_sync_hs_w;
wire [3:0] un1_u_dphy_nocil_113;
wire [7:0] un1_u_dphy_nocil_11;
wire [15:0] dphy_hs_data_line3_w;
wire [3:0] u3_rx_sync_hs_w;
wire [3:0] un1_u_dphy_nocil_120;
wire GND ;
wire lmmi_rdata_valid_o ;
wire ready_o ;
wire VCC ;
wire un1_u_dphy_nocil_34 ;
wire un1_u_dphy_nocil_119 ;
wire un1_u_dphy_nocil_118 ;
wire un1_u_dphy_nocil_50 ;
wire un1_u_dphy_nocil_76 ;
wire un1_u_dphy_nocil_75 ;
wire un1_u_dphy_nocil ;
wire un1_u_dphy_nocil_1 ;
wire un1_u_dphy_nocil_2 ;
wire un1_u_dphy_nocil_43 ;
wire un1_u_dphy_nocil_44 ;
wire un1_u_dphy_nocil_47 ;
wire un1_u_dphy_nocil_35 ;
wire lp_rx_clk_p_o ;
wire lp_rx_clk_n_o ;
wire un1_u_dphy_nocil_55 ;
wire un1_u_dphy_nocil_56 ;
wire un1_u_dphy_nocil_58 ;
wire un1_u_dphy_nocil_59 ;
wire un1_u_dphy_nocil_61 ;
wire un1_u_dphy_nocil_62 ;
wire un1_u_dphy_nocil_63 ;
wire un1_u_dphy_nocil_64 ;
wire un1_u_dphy_nocil_65 ;
wire un1_u_dphy_nocil_66 ;
wire un1_u_dphy_nocil_67 ;
wire un1_u_dphy_nocil_68 ;
wire un1_u_dphy_nocil_69 ;
wire un1_u_dphy_nocil_70 ;
wire un1_u_dphy_nocil_71 ;
wire un1_u_dphy_nocil_72 ;
wire un1_u_dphy_nocil_88 ;
wire un1_u_dphy_nocil_89 ;
wire cd_d0_p ;
wire cd_d0_n ;
wire un1_u_dphy_nocil_41 ;
wire un1_u_dphy_nocil_42 ;
wire un1_u_dphy_nocil_83 ;
wire un1_u_dphy_nocil_84 ;
wire un1_u_dphy_nocil_46 ;
wire un1_u_dphy_nocil_87 ;
wire un1_u_dphy_nocil_36 ;
wire un1_u_dphy_nocil_117 ;
wire un1_u_dphy_nocil_9 ;
wire un1_u_dphy_nocil_8 ;
wire un1_u_dphy_nocil_53 ;
wire un1_u_dphy_nocil_54 ;
wire un1_u_dphy_nocil_95 ;
wire un1_u_dphy_nocil_96 ;
wire un1_u_dphy_nocil_97 ;
wire un1_u_dphy_nocil_98 ;
wire un1_u_dphy_nocil_99 ;
wire un1_u_dphy_nocil_60 ;
wire un1_u_dphy_nocil_77 ;
wire un1_u_dphy_nocil_104 ;
wire un1_u_dphy_nocil_94 ;
wire un1_u_dphy_nocil_108 ;
wire un1_u_dphy_nocil_109 ;
wire un1_u_dphy_nocil_106 ;
wire un1_u_dphy_nocil_103 ;
wire un1_u_dphy_nocil_112 ;
wire un1_u_dphy_nocil_74 ;
wire un1_u_dphy_nocil_107 ;
wire un1_u_dphy_nocil_10 ;
wire un1_u_dphy_nocil_129 ;
wire un1_u_dphy_nocil_128 ;
wire un1_u_dphy_nocil_40 ;
wire un1_u_dphy_nocil_81 ;
wire un1_u_dphy_nocil_82 ;
wire un1_u_dphy_nocil_111 ;
wire un1_u_dphy_nocil_91 ;
wire un1_u_dphy_nocil_125 ;
wire un1_u_dphy_nocil_86 ;
wire un1_u_dphy_nocil_92 ;
wire un1_u_dphy_nocil_12 ;
wire un1_u_dphy_nocil_38 ;
wire un1_u_dphy_nocil_39 ;
wire un1_u_dphy_nocil_80 ;
wire un1_u_dphy_nocil_51 ;
wire un1_u_dphy_nocil_124 ;
wire un1_u_dphy_nocil_127 ;
wire un1_u_dphy_nocil_126 ;
wire un1_u_dphy_nocil_122 ;
wire un1_u_dphy_nocil_100 ;
wire un1_u_dphy_nocil_102 ;
wire un1_u_dphy_nocil_37 ;
wire un1_u_dphy_nocil_114 ;
wire un1_u_dphy_nocil_105 ;
wire un1_u_dphy_nocil_93 ;
wire un1_u_dphy_nocil_121 ;
wire un1_u_dphy_nocil_52 ;
wire un1_u_dphy_nocil_49 ;
wire un1_u_dphy_nocil_48 ;
wire clk_byte_o ;
wire un1_u_dphy_nocil_123 ;
wire int_clk ;
wire un1_u_dphy_nocil_110 ;
// @46:880
  DPHY \HARD_IP.NO_CIL.u_dphy_nocil  (
	.LMMICLK(GND),
	.LMMIRESET_N(GND),
	.LMMIREQUEST(GND),
	.LMMIWRRD_N(GND),
	.LMMIOFFSET({GND, GND, GND, GND, GND}),
	.LMMIWDATA({GND, GND, GND, GND}),
	.LMMIRDATA(lmmi_rdata_o[3:0]),
	.LMMIRDATAVALID(lmmi_rdata_valid_o),
	.LMMIREADY(ready_o),
	.BITCKEXT(VCC),
	.CKN(MIPI_DPHY_1_clk_n_io),
	.CKP(MIPI_DPHY_1_clk_p_io),
	.CLKREF(GND),
	.D0ACTIVE(un1_u_dphy_nocil_5[1:0]),
	.D0BYTCNT(un1_u_dphy_nocil_6[9:0]),
	.D0ERRCNT(un1_u_dphy_nocil_7[9:0]),
	.D0PASS(un1_u_dphy_nocil_115[1:0]),
	.D0VALID(un1_u_dphy_nocil_116[1:0]),
	.D1ACTIVE(un1_u_dphy_nocil_90[1:0]),
	.D1BYTCNT(un1_u_dphy_nocil_78[9:0]),
	.D1ERRCNT(un1_u_dphy_nocil_79[9:0]),
	.D1PASS(un1_u_dphy_nocil_13[1:0]),
	.D1VALID(un1_u_dphy_nocil_14[1:0]),
	.D2ACTIVE(un1_u_dphy_nocil_15[1:0]),
	.D2BYTCNT(un1_u_dphy_nocil_16[9:0]),
	.D2ERRCNT(un1_u_dphy_nocil_17[9:0]),
	.D2PASS(un1_u_dphy_nocil_18[1:0]),
	.D2VALID(un1_u_dphy_nocil_19[1:0]),
	.D3ACTIVE(un1_u_dphy_nocil_20[1:0]),
	.D3BYTCNT(un1_u_dphy_nocil_21[9:0]),
	.D3ERRCNT(un1_u_dphy_nocil_22[9:0]),
	.D3PASS(un1_u_dphy_nocil_23[1:0]),
	.D3VALID(un1_u_dphy_nocil_24[1:0]),
	.DCTSTOUT(un1_u_dphy_nocil_25[9:0]),
	.DN0(MIPI_DPHY_1_data_n_io[0]),
	.DN1(MIPI_DPHY_1_data_n_io[1]),
	.DN2(MIPI_DPHY_1_data_n_io[2]),
	.DN3(MIPI_DPHY_1_data_n_io[3]),
	.DP0(MIPI_DPHY_1_data_p_io[0]),
	.DP1(MIPI_DPHY_1_data_p_io[1]),
	.DP2(MIPI_DPHY_1_data_p_io[2]),
	.DP3(MIPI_DPHY_1_data_p_io[3]),
	.LOCK(un1_u_dphy_nocil_34),
	.PDDPHY(GND),
	.PDPLL(VCC),
	.SCCLKIN(VCC),
	.UDIR(un1_u_dphy_nocil_119),
	.UED0THEN(GND),
	.UERCLP0(un1_u_dphy_nocil_118),
	.UERCLP1(un1_u_dphy_nocil_50),
	.UERCTRL(un1_u_dphy_nocil_76),
	.UERE(un1_u_dphy_nocil_75),
	.UERSTHS(un1_u_dphy_nocil),
	.UERSSHS(un1_u_dphy_nocil_1),
	.UERSE(un1_u_dphy_nocil_2),
	.UFRXMODE(VCC),
	.UTXMDTX(GND),
	.URXACTHS(un1_u_dphy_nocil_43),
	.URXCKE(un1_u_dphy_nocil_44),
	.URXCKINE(VCC),
	.URXDE(un1_u_dphy_nocil_45[7:0]),
	.URXDHS(dphy_hs_data_line0_w[15:0]),
	.URXLPDTE(un1_u_dphy_nocil_47),
	.URXSKCHS(un1_u_dphy_nocil_35),
	.URXDRX(lp_data_n_w[0]),
	.URXSHS(u_rx_sync_hs_w[3:0]),
	.URE0D3DP(lp_data_n_w[3]),
	.URE1D3DN(lp_data_p_w[3]),
	.URE2CKDP(lp_rx_clk_p_o),
	.URE3CKDN(lp_rx_clk_n_o),
	.URXULPSE(un1_u_dphy_nocil_55),
	.URXVDE(un1_u_dphy_nocil_56),
	.URXVDHS(un1_u_dphy_nocil_57[3:0]),
	.USSTT(un1_u_dphy_nocil_58),
	.UTDIS(VCC),
	.UTXCKE(VCC),
	.UDE0D0TN(GND),
	.UDE1D1TN(GND),
	.UDE2D2TN(GND),
	.UDE3D3TN(GND),
	.UDE4CKTN(GND),
	.UDE5D0RN(GND),
	.UDE6D1RN(GND),
	.UDE7D2RN(GND),
	.UTXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.UTXENER(GND),
	.UTXRRS(un1_u_dphy_nocil_59),
	.UTXRYP(lp_data_p_w[0]),
	.UTXRYSK(un1_u_dphy_nocil_61),
	.UTXRD0EN(GND),
	.UTRD0SEN(GND),
	.UTXSKD0N(GND),
	.UTXTGE0(VCC),
	.UTXTGE1(VCC),
	.UTXTGE2(VCC),
	.UTXTGE3(VCC),
	.UTXULPSE(VCC),
	.UTXUPSEX(VCC),
	.UTXVDE(VCC),
	.UTXWVDHS({VCC, VCC, VCC, VCC}),
	.UUSAN(un1_u_dphy_nocil_62),
	.U1DIR(un1_u_dphy_nocil_63),
	.U1ENTHEN(GND),
	.U1ERCLP0(un1_u_dphy_nocil_64),
	.U1ERCLP1(un1_u_dphy_nocil_65),
	.U1ERCTRL(un1_u_dphy_nocil_66),
	.U1ERE(un1_u_dphy_nocil_67),
	.U1ERSTHS(un1_u_dphy_nocil_68),
	.U1ERSSHS(un1_u_dphy_nocil_69),
	.U1ERSE(un1_u_dphy_nocil_70),
	.U1FRXMD(VCC),
	.U1FTXST(GND),
	.U1RXATHS(un1_u_dphy_nocil_71),
	.U1RXCKE(un1_u_dphy_nocil_72),
	.U1RXDE(un1_u_dphy_nocil_73[7:0]),
	.U1RXDHS(dphy_hs_data_line1_w[15:0]),
	.U1RXDTE(un1_u_dphy_nocil_88),
	.U1RXSKS(un1_u_dphy_nocil_89),
	.U1RXSK(lp_data_n_w[1]),
	.U1RXSHS(u1_rx_sync_hs_w[3:0]),
	.U1RE0D(cd_d0_p),
	.U1RE1CN(cd_d0_n),
	.U1RE2D(un1_u_dphy_nocil_41),
	.U1RE3N(un1_u_dphy_nocil_42),
	.U1RXUPSE(un1_u_dphy_nocil_83),
	.U1RXVDE(un1_u_dphy_nocil_84),
	.U1RXVDHS(un1_u_dphy_nocil_85[3:0]),
	.U1SSTT(un1_u_dphy_nocil_46),
	.U1TDIS(VCC),
	.U1TREQ(VCC),
	.U1TDE0D3(GND),
	.U1TDE1CK(GND),
	.U1TDE2D0(VCC),
	.U1TDE3D1(VCC),
	.U1TDE4D2(VCC),
	.U1TDE5D3(VCC),
	.U1TDE6(VCC),
	.U1TDE7(VCC),
	.U1TXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.U1TXLPD(VCC),
	.U1TXRYE(un1_u_dphy_nocil_87),
	.U1TXRY(lp_data_p_w[1]),
	.U1TXRYSK(un1_u_dphy_nocil_36),
	.U1TXREQ(GND),
	.U1TXREQH(GND),
	.U1TXSK(GND),
	.U1TXTGE0(VCC),
	.U1TXTGE1(VCC),
	.U1TXTGE2(VCC),
	.U1TXTGE3(VCC),
	.U1TXUPSE(VCC),
	.U1TXUPSX(VCC),
	.U1TXVDE(VCC),
	.U1TXWVHS({VCC, VCC, VCC, VCC}),
	.U1USAN(un1_u_dphy_nocil_117),
	.U2DIR(un1_u_dphy_nocil_9),
	.U2END2(GND),
	.U2ERCLP0(un1_u_dphy_nocil_8),
	.U2ERCLP1(un1_u_dphy_nocil_53),
	.U2ERCTRL(un1_u_dphy_nocil_54),
	.U2ERE(un1_u_dphy_nocil_95),
	.U2ERSTHS(un1_u_dphy_nocil_96),
	.U2ERSSHS(un1_u_dphy_nocil_97),
	.U2ERSE(un1_u_dphy_nocil_98),
	.U2FRXMD(VCC),
	.U2FTXST(VCC),
	.U2RXACHS(un1_u_dphy_nocil_99),
	.U2RXCKE(un1_u_dphy_nocil_60),
	.U2RXDE(un1_u_dphy_nocil_101[7:0]),
	.U2RXDHS(dphy_hs_data_line2_w[15:0]),
	.U2RPDTE(un1_u_dphy_nocil_77),
	.U2RXSK(un1_u_dphy_nocil_104),
	.U2RXSKC(lp_data_n_w[2]),
	.U2RXSHS(u2_rx_sync_hs_w[3:0]),
	.U2RE0D2(un1_u_dphy_nocil_94),
	.U2RE1D2(un1_u_dphy_nocil_108),
	.U2RE2D3(un1_u_dphy_nocil_109),
	.U2RE3D3(un1_u_dphy_nocil_106),
	.U2RXUPSE(un1_u_dphy_nocil_103),
	.U2RXVDE(un1_u_dphy_nocil_112),
	.U2RXVDHS(un1_u_dphy_nocil_113[3:0]),
	.U2SSTT(un1_u_dphy_nocil_74),
	.U2TDIS(VCC),
	.U2TREQ(VCC),
	.U2TDE0D0(VCC),
	.U2TDE1D1(VCC),
	.U2TDE2D2(VCC),
	.U2TDE3D3(VCC),
	.U2TDE4CK(VCC),
	.U2TDE5D0(VCC),
	.U2TDE6D1(VCC),
	.U2TDE7D2(VCC),
	.U2TXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.U2TPDTE(VCC),
	.U2TXRYE(un1_u_dphy_nocil_107),
	.U2TXRYH(lp_data_p_w[2]),
	.U2TXRYSK(un1_u_dphy_nocil_10),
	.U2TXREQ(GND),
	.U2TXREQH(GND),
	.U2TXSKC(GND),
	.U2TXTGE0(VCC),
	.U2TXTGE1(VCC),
	.U2TXTGE2(VCC),
	.U2TXTGE3(VCC),
	.U2TXUPSE(VCC),
	.U2TXUPSX(VCC),
	.U2TXVDE(VCC),
	.U2TXWVHS({VCC, VCC, VCC, VCC}),
	.U2USAN(un1_u_dphy_nocil_129),
	.U3DIR(un1_u_dphy_nocil_128),
	.U3END3(GND),
	.U3ERCLP0(un1_u_dphy_nocil_40),
	.U3ERCLP1(un1_u_dphy_nocil_81),
	.U3ERCTRL(un1_u_dphy_nocil_82),
	.U3ERE(un1_u_dphy_nocil_111),
	.U3ERSTHS(un1_u_dphy_nocil_91),
	.U3ERSSHS(un1_u_dphy_nocil_125),
	.U3ERSE(un1_u_dphy_nocil_86),
	.U3FRXMD(VCC),
	.U3FTXST(VCC),
	.U3RXATHS(un1_u_dphy_nocil_92),
	.U3RXCKE(un1_u_dphy_nocil_12),
	.U3RXDE(un1_u_dphy_nocil_11[7:0]),
	.U3RXDHS(dphy_hs_data_line3_w[15:0]),
	.U3RPDTE(un1_u_dphy_nocil_38),
	.U3RXSK(un1_u_dphy_nocil_39),
	.U3RXSKC(un1_u_dphy_nocil_80),
	.U3RXSHS(u3_rx_sync_hs_w[3:0]),
	.U3RE0CK(un1_u_dphy_nocil_51),
	.U3RE1CK(un1_u_dphy_nocil_124),
	.U3RE2(un1_u_dphy_nocil_127),
	.U3RE3(un1_u_dphy_nocil_126),
	.U3RXUPSE(un1_u_dphy_nocil_122),
	.U3RXVDE(un1_u_dphy_nocil_100),
	.U3RXVDHS(un1_u_dphy_nocil_120[3:0]),
	.U3SSTT(un1_u_dphy_nocil_102),
	.U3TDISD2(VCC),
	.U3TREQD2(VCC),
	.U3TDE0D3(VCC),
	.U3TDE1D0(VCC),
	.U3TDE2D1(VCC),
	.U3TDE3D2(VCC),
	.U3TDE4D3(VCC),
	.U3TDE5CK(VCC),
	.U3TDE6(GND),
	.U3TDE7(GND),
	.U3TXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.U3TXLPDT(VCC),
	.U3TXRY(un1_u_dphy_nocil_37),
	.U3TXRYHS(un1_u_dphy_nocil_114),
	.U3TXRYSK(un1_u_dphy_nocil_105),
	.U3TXREQ(GND),
	.U3TXREQH(GND),
	.U3TXSKC(GND),
	.U3TXTGE0(VCC),
	.U3TXTGE1(VCC),
	.U3TXTGE2(VCC),
	.U3TXTGE3(VCC),
	.U3TXULPS(VCC),
	.U3TXUPSX(VCC),
	.U3TXVD3(VCC),
	.U3TXWVHS({VCC, VCC, VCC, VCC}),
	.U3USAN(un1_u_dphy_nocil_93),
	.UCENCK(GND),
	.UCRXCKAT(un1_u_dphy_nocil_121),
	.UCRXUCKN(un1_u_dphy_nocil_52),
	.UCSSTT(un1_u_dphy_nocil_49),
	.UCTXREQH(GND),
	.UCTXUPSC(GND),
	.UCTXUPSX(GND),
	.UCUSAN(un1_u_dphy_nocil_48),
	.LTSTEN(GND),
	.LTSTLANE({GND, VCC}),
	.URWDCKHS(clk_byte_o),
	.UTRNREQ(VCC),
	.UTWDCKHS(un1_u_dphy_nocil_123),
	.UCRXWCHS(int_clk),
	.CLKLBACT(un1_u_dphy_nocil_110)
);
defparam \HARD_IP.NO_CIL.u_dphy_nocil .GSR = "ENABLED";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .AUTO_PD_EN = "POWERED_UP";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .CFG_NUM_LANES = "FOUR_LANES";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .CM = "0b00000000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .CN = "0b00000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .CO = "0b000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .CONT_CLK_MODE = "ENABLED";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .DESKEW_EN = "DISABLED";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .DSI_CSI = "CSI2_APP";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .EN_CIL = "CIL_BYPASSED";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .HSEL = "DISABLED";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .LANE0_SEL = "LANE_0";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .LOCK_BYP = "GATE_TXBYTECLKHS";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .MASTER_SLAVE = "SLAVE";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .PLLCLKBYPASS = "BYPASSED";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .RSEL = "0b00";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .RXCDRP = "0b01";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .RXDATAWIDTHHS = "0b00";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .RXLPRP = "0b001";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .TEST_ENBL = "0b000000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .TEST_PATTERN = "0b10000000001000000000000000000000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .TST = "0b0000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .TXDATAWIDTHHS = "0b00";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .U_PRG_HS_PREPARE = "0b00";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .U_PRG_HS_TRAIL = "0b000000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .U_PRG_HS_ZERO = "0b000000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .U_PRG_RXHS_SETTLE = "0b000001";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .UC_PRG_HS_PREPARE = "1P0_TXCLKESC";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .UC_PRG_HS_TRAIL = "0b00000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .UC_PRG_HS_ZERO = "0b0000000";
defparam \HARD_IP.NO_CIL.u_dphy_nocil .UC_PRG_RXHS_SETTLE = "0b000001";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* MIPI_DPHY_1_ipgen_lscc_mipi_wrapper_rx_Z5_layer0 */

module MIPI_DPHY_1_ipgen_lscc_mipi_dphy_Z4_layer0 (
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_clk_n_io,
  MIPI_DPHY_1_clk_p_io
)
;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
wire MIPI_DPHY_1_clk_n_io ;
wire MIPI_DPHY_1_clk_p_io ;
wire GND ;
wire VCC ;
// @46:5731
  MIPI_DPHY_1_ipgen_lscc_mipi_wrapper_rx_Z5_layer0 \RECEIVER.lscc_mipi_wrapper_rx  (
	.MIPI_DPHY_1_data_p_io(MIPI_DPHY_1_data_p_io[3:0]),
	.MIPI_DPHY_1_data_n_io(MIPI_DPHY_1_data_n_io[3:0]),
	.MIPI_DPHY_1_clk_p_io(MIPI_DPHY_1_clk_p_io),
	.MIPI_DPHY_1_clk_n_io(MIPI_DPHY_1_clk_n_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_1_ipgen_lscc_mipi_dphy_Z4_layer0 */

module MIPI_DPHY_1 (
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_1_clk_p_io,
  MIPI_DPHY_1_clk_n_io
)
;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
wire MIPI_DPHY_1_clk_p_io ;
wire MIPI_DPHY_1_clk_n_io ;
wire GND ;
wire VCC ;
// @46:180
  MIPI_DPHY_1_ipgen_lscc_mipi_dphy_Z4_layer0 lscc_mipi_dphy_inst (
	.MIPI_DPHY_1_data_n_io(MIPI_DPHY_1_data_n_io[3:0]),
	.MIPI_DPHY_1_data_p_io(MIPI_DPHY_1_data_p_io[3:0]),
	.MIPI_DPHY_1_clk_n_io(MIPI_DPHY_1_clk_n_io),
	.MIPI_DPHY_1_clk_p_io(MIPI_DPHY_1_clk_p_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_1 */

module MIPI_DPHY_2_ipgen_lscc_mipi_wrapper_tx_Z8_layer0 (
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_data_n_io,
  MIPI_DPHY_2_clk_p_io,
  MIPI_DPHY_2_clk_n_io
)
;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
wire MIPI_DPHY_2_clk_p_io ;
wire MIPI_DPHY_2_clk_n_io ;
wire [3:0] lmmi_rdata_o;
wire [1:0] un1_u_DPHY_NO_CIL_tx_37;
wire [9:0] un1_u_DPHY_NO_CIL_tx_38;
wire [9:0] un1_u_DPHY_NO_CIL_tx_39;
wire [1:0] un1_u_DPHY_NO_CIL_tx_88;
wire [1:0] un1_u_DPHY_NO_CIL_tx_89;
wire [1:0] un1_u_DPHY_NO_CIL_tx_63;
wire [9:0] un1_u_DPHY_NO_CIL_tx_64;
wire [9:0] un1_u_DPHY_NO_CIL_tx_65;
wire [1:0] un1_u_DPHY_NO_CIL_tx_66;
wire [1:0] un1_u_DPHY_NO_CIL_tx_67;
wire [1:0] un1_u_DPHY_NO_CIL_tx_68;
wire [9:0] un1_u_DPHY_NO_CIL_tx_69;
wire [9:0] un1_u_DPHY_NO_CIL_tx_70;
wire [1:0] un1_u_DPHY_NO_CIL_tx_71;
wire [1:0] un1_u_DPHY_NO_CIL_tx_72;
wire [1:0] un1_u_DPHY_NO_CIL_tx_73;
wire [9:0] un1_u_DPHY_NO_CIL_tx_74;
wire [9:0] un1_u_DPHY_NO_CIL_tx_22;
wire [1:0] un1_u_DPHY_NO_CIL_tx_103;
wire [1:0] un1_u_DPHY_NO_CIL_tx_104;
wire [9:0] un1_u_DPHY_NO_CIL_tx_105;
wire [7:0] un1_u_DPHY_NO_CIL_tx_1;
wire [15:0] un1_u_DPHY_NO_CIL_tx_2;
wire [3:0] un1_u_DPHY_NO_CIL_tx_23;
wire [3:0] un1_u_DPHY_NO_CIL_tx_30;
wire [7:0] un1_u_DPHY_NO_CIL_tx_113;
wire [15:0] un1_u_DPHY_NO_CIL_tx_114;
wire [3:0] un1_u_DPHY_NO_CIL_tx_122;
wire [3:0] un1_u_DPHY_NO_CIL_tx_5;
wire [7:0] un1_u_DPHY_NO_CIL_tx_21;
wire [15:0] un1_u_DPHY_NO_CIL_tx_102;
wire [3:0] un1_u_DPHY_NO_CIL_tx_93;
wire [3:0] un1_u_DPHY_NO_CIL_tx_140;
wire [7:0] un1_u_DPHY_NO_CIL_tx_116;
wire [15:0] un1_u_DPHY_NO_CIL_tx_50;
wire [3:0] un1_u_DPHY_NO_CIL_tx_85;
wire [3:0] un1_u_DPHY_NO_CIL_tx_60;
wire GND ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o ;
wire VCC ;
wire ready_o ;
wire un1_u_DPHY_NO_CIL_tx_48 ;
wire un1_u_DPHY_NO_CIL_tx_49 ;
wire un1_u_DPHY_NO_CIL_tx_117 ;
wire un1_u_DPHY_NO_CIL_tx_118 ;
wire un1_u_DPHY_NO_CIL_tx_119 ;
wire un1_u_DPHY_NO_CIL_tx ;
wire un1_u_DPHY_NO_CIL_tx_77 ;
wire un1_u_DPHY_NO_CIL_tx_78 ;
wire un1_u_DPHY_NO_CIL_tx_43 ;
wire un1_u_DPHY_NO_CIL_tx_44 ;
wire un1_u_DPHY_NO_CIL_tx_3 ;
wire un1_u_DPHY_NO_CIL_tx_128 ;
wire lp_rx_data_n_o ;
wire un1_u_DPHY_NO_CIL_tx_24 ;
wire un1_u_DPHY_NO_CIL_tx_25 ;
wire un1_u_DPHY_NO_CIL_tx_26 ;
wire un1_u_DPHY_NO_CIL_tx_27 ;
wire un1_u_DPHY_NO_CIL_tx_28 ;
wire un1_u_DPHY_NO_CIL_tx_29 ;
wire un1_u_DPHY_NO_CIL_tx_31 ;
wire un1_u_DPHY_NO_CIL_tx_32 ;
wire lp_rx_data_p_o ;
wire un1_u_DPHY_NO_CIL_tx_34 ;
wire un1_u_DPHY_NO_CIL_tx_62 ;
wire un1_u_DPHY_NO_CIL_tx_130 ;
wire un1_u_DPHY_NO_CIL_tx_131 ;
wire un1_u_DPHY_NO_CIL_tx_132 ;
wire un1_u_DPHY_NO_CIL_tx_133 ;
wire un1_u_DPHY_NO_CIL_tx_107 ;
wire un1_u_DPHY_NO_CIL_tx_108 ;
wire un1_u_DPHY_NO_CIL_tx_109 ;
wire un1_u_DPHY_NO_CIL_tx_137 ;
wire un1_u_DPHY_NO_CIL_tx_111 ;
wire un1_u_DPHY_NO_CIL_tx_112 ;
wire un1_u_DPHY_NO_CIL_tx_8 ;
wire un1_u_DPHY_NO_CIL_tx_9 ;
wire un1_u_DPHY_NO_CIL_tx_121 ;
wire un1_u_DPHY_NO_CIL_tx_123 ;
wire un1_u_DPHY_NO_CIL_tx_40 ;
wire un1_u_DPHY_NO_CIL_tx_41 ;
wire un1_u_DPHY_NO_CIL_tx_42 ;
wire un1_u_DPHY_NO_CIL_tx_83 ;
wire un1_u_DPHY_NO_CIL_tx_84 ;
wire un1_u_DPHY_NO_CIL_tx_6 ;
wire un1_u_DPHY_NO_CIL_tx_7 ;
wire un1_u_DPHY_NO_CIL_tx_115 ;
wire un1_u_DPHY_NO_CIL_tx_129 ;
wire un1_u_DPHY_NO_CIL_tx_10 ;
wire un1_u_DPHY_NO_CIL_tx_11 ;
wire un1_u_DPHY_NO_CIL_tx_12 ;
wire un1_u_DPHY_NO_CIL_tx_13 ;
wire un1_u_DPHY_NO_CIL_tx_14 ;
wire un1_u_DPHY_NO_CIL_tx_15 ;
wire un1_u_DPHY_NO_CIL_tx_16 ;
wire un1_u_DPHY_NO_CIL_tx_17 ;
wire un1_u_DPHY_NO_CIL_tx_18 ;
wire un1_u_DPHY_NO_CIL_tx_19 ;
wire un1_u_DPHY_NO_CIL_tx_33 ;
wire un1_u_DPHY_NO_CIL_tx_90 ;
wire un1_u_DPHY_NO_CIL_tx_91 ;
wire un1_u_DPHY_NO_CIL_tx_92 ;
wire un1_u_DPHY_NO_CIL_tx_134 ;
wire un1_u_DPHY_NO_CIL_tx_135 ;
wire un1_u_DPHY_NO_CIL_tx_136 ;
wire un1_u_DPHY_NO_CIL_tx_97 ;
wire un1_u_DPHY_NO_CIL_tx_138 ;
wire un1_u_DPHY_NO_CIL_tx_139 ;
wire un1_u_DPHY_NO_CIL_tx_141 ;
wire un1_u_DPHY_NO_CIL_tx_35 ;
wire un1_u_DPHY_NO_CIL_tx_36 ;
wire un1_u_DPHY_NO_CIL_tx_125 ;
wire un1_u_DPHY_NO_CIL_tx_126 ;
wire un1_u_DPHY_NO_CIL_tx_127 ;
wire un1_u_DPHY_NO_CIL_tx_80 ;
wire un1_u_DPHY_NO_CIL_tx_81 ;
wire un1_u_DPHY_NO_CIL_tx_82 ;
wire un1_u_DPHY_NO_CIL_tx_87 ;
wire un1_u_DPHY_NO_CIL_tx_124 ;
wire un1_u_DPHY_NO_CIL_tx_99 ;
wire un1_u_DPHY_NO_CIL_tx_46 ;
wire un1_u_DPHY_NO_CIL_tx_47 ;
wire un1_u_DPHY_NO_CIL_tx_75 ;
wire un1_u_DPHY_NO_CIL_tx_51 ;
wire un1_u_DPHY_NO_CIL_tx_52 ;
wire un1_u_DPHY_NO_CIL_tx_120 ;
wire un1_u_DPHY_NO_CIL_tx_86 ;
wire un1_u_DPHY_NO_CIL_tx_56 ;
wire un1_u_DPHY_NO_CIL_tx_57 ;
wire un1_u_DPHY_NO_CIL_tx_45 ;
wire un1_u_DPHY_NO_CIL_tx_55 ;
wire un1_u_DPHY_NO_CIL_tx_20 ;
wire un1_u_DPHY_NO_CIL_tx_76 ;
wire un1_u_DPHY_NO_CIL_tx_58 ;
wire un1_u_DPHY_NO_CIL_tx_59 ;
wire un1_u_DPHY_NO_CIL_tx_61 ;
wire un1_u_DPHY_NO_CIL_tx_53 ;
wire un1_u_DPHY_NO_CIL_tx_94 ;
wire un1_u_DPHY_NO_CIL_tx_95 ;
wire un1_u_DPHY_NO_CIL_tx_96 ;
wire un1_u_DPHY_NO_CIL_tx_54 ;
wire un1_u_DPHY_NO_CIL_tx_98 ;
wire clk_byte_o ;
wire un1_u_DPHY_NO_CIL_tx_100 ;
wire un1_u_DPHY_NO_CIL_tx_101 ;
// @48:1944
  DPHY \HARD_IP.genblk1.u_DPHY_NO_CIL_tx  (
	.LMMICLK(GND),
	.LMMIRESET_N(GND),
	.LMMIREQUEST(GND),
	.LMMIWRRD_N(GND),
	.LMMIOFFSET({GND, GND, GND, GND, GND}),
	.LMMIWDATA({GND, GND, GND, GND}),
	.LMMIRDATA(lmmi_rdata_o[3:0]),
	.LMMIRDATAVALID(lmmi_rdata_valid_o),
	.LMMIREADY(lmmi_ready_o),
	.BITCKEXT(VCC),
	.CKN(MIPI_DPHY_2_clk_n_io),
	.CKP(MIPI_DPHY_2_clk_p_io),
	.CLKREF(GND),
	.D0ACTIVE(un1_u_DPHY_NO_CIL_tx_37[1:0]),
	.D0BYTCNT(un1_u_DPHY_NO_CIL_tx_38[9:0]),
	.D0ERRCNT(un1_u_DPHY_NO_CIL_tx_39[9:0]),
	.D0PASS(un1_u_DPHY_NO_CIL_tx_88[1:0]),
	.D0VALID(un1_u_DPHY_NO_CIL_tx_89[1:0]),
	.D1ACTIVE(un1_u_DPHY_NO_CIL_tx_63[1:0]),
	.D1BYTCNT(un1_u_DPHY_NO_CIL_tx_64[9:0]),
	.D1ERRCNT(un1_u_DPHY_NO_CIL_tx_65[9:0]),
	.D1PASS(un1_u_DPHY_NO_CIL_tx_66[1:0]),
	.D1VALID(un1_u_DPHY_NO_CIL_tx_67[1:0]),
	.D2ACTIVE(un1_u_DPHY_NO_CIL_tx_68[1:0]),
	.D2BYTCNT(un1_u_DPHY_NO_CIL_tx_69[9:0]),
	.D2ERRCNT(un1_u_DPHY_NO_CIL_tx_70[9:0]),
	.D2PASS(un1_u_DPHY_NO_CIL_tx_71[1:0]),
	.D2VALID(un1_u_DPHY_NO_CIL_tx_72[1:0]),
	.D3ACTIVE(un1_u_DPHY_NO_CIL_tx_73[1:0]),
	.D3BYTCNT(un1_u_DPHY_NO_CIL_tx_74[9:0]),
	.D3ERRCNT(un1_u_DPHY_NO_CIL_tx_22[9:0]),
	.D3PASS(un1_u_DPHY_NO_CIL_tx_103[1:0]),
	.D3VALID(un1_u_DPHY_NO_CIL_tx_104[1:0]),
	.DCTSTOUT(un1_u_DPHY_NO_CIL_tx_105[9:0]),
	.DN0(MIPI_DPHY_2_data_n_io[0]),
	.DN1(MIPI_DPHY_2_data_n_io[1]),
	.DN2(MIPI_DPHY_2_data_n_io[2]),
	.DN3(MIPI_DPHY_2_data_n_io[3]),
	.DP0(MIPI_DPHY_2_data_p_io[0]),
	.DP1(MIPI_DPHY_2_data_p_io[1]),
	.DP2(MIPI_DPHY_2_data_p_io[2]),
	.DP3(MIPI_DPHY_2_data_p_io[3]),
	.LOCK(ready_o),
	.PDDPHY(GND),
	.PDPLL(GND),
	.SCCLKIN(GND),
	.UDIR(un1_u_DPHY_NO_CIL_tx_48),
	.UED0THEN(GND),
	.UERCLP0(un1_u_DPHY_NO_CIL_tx_49),
	.UERCLP1(un1_u_DPHY_NO_CIL_tx_117),
	.UERCTRL(un1_u_DPHY_NO_CIL_tx_118),
	.UERE(un1_u_DPHY_NO_CIL_tx_119),
	.UERSTHS(un1_u_DPHY_NO_CIL_tx),
	.UERSSHS(un1_u_DPHY_NO_CIL_tx_77),
	.UERSE(un1_u_DPHY_NO_CIL_tx_78),
	.UFRXMODE(VCC),
	.UTXMDTX(GND),
	.URXACTHS(un1_u_DPHY_NO_CIL_tx_43),
	.URXCKE(un1_u_DPHY_NO_CIL_tx_44),
	.URXCKINE(VCC),
	.URXDE(un1_u_DPHY_NO_CIL_tx_1[7:0]),
	.URXDHS(un1_u_DPHY_NO_CIL_tx_2[15:0]),
	.URXLPDTE(un1_u_DPHY_NO_CIL_tx_3),
	.URXSKCHS(un1_u_DPHY_NO_CIL_tx_128),
	.URXDRX(lp_rx_data_n_o),
	.URXSHS(un1_u_DPHY_NO_CIL_tx_23[3:0]),
	.URE0D3DP(un1_u_DPHY_NO_CIL_tx_24),
	.URE1D3DN(un1_u_DPHY_NO_CIL_tx_25),
	.URE2CKDP(un1_u_DPHY_NO_CIL_tx_26),
	.URE3CKDN(un1_u_DPHY_NO_CIL_tx_27),
	.URXULPSE(un1_u_DPHY_NO_CIL_tx_28),
	.URXVDE(un1_u_DPHY_NO_CIL_tx_29),
	.URXVDHS(un1_u_DPHY_NO_CIL_tx_30[3:0]),
	.USSTT(un1_u_DPHY_NO_CIL_tx_31),
	.UTDIS(VCC),
	.UTXCKE(VCC),
	.UDE0D0TN(GND),
	.UDE1D1TN(GND),
	.UDE2D2TN(GND),
	.UDE3D3TN(GND),
	.UDE4CKTN(GND),
	.UDE5D0RN(GND),
	.UDE6D1RN(GND),
	.UDE7D2RN(GND),
	.UTXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.UTXENER(GND),
	.UTXRRS(un1_u_DPHY_NO_CIL_tx_32),
	.UTXRYP(lp_rx_data_p_o),
	.UTXRYSK(un1_u_DPHY_NO_CIL_tx_34),
	.UTXRD0EN(GND),
	.UTRD0SEN(GND),
	.UTXSKD0N(GND),
	.UTXTGE0(VCC),
	.UTXTGE1(VCC),
	.UTXTGE2(VCC),
	.UTXTGE3(VCC),
	.UTXULPSE(GND),
	.UTXUPSEX(VCC),
	.UTXVDE(VCC),
	.UTXWVDHS({GND, GND, GND, VCC}),
	.UUSAN(un1_u_DPHY_NO_CIL_tx_62),
	.U1DIR(un1_u_DPHY_NO_CIL_tx_130),
	.U1ENTHEN(GND),
	.U1ERCLP0(un1_u_DPHY_NO_CIL_tx_131),
	.U1ERCLP1(un1_u_DPHY_NO_CIL_tx_132),
	.U1ERCTRL(un1_u_DPHY_NO_CIL_tx_133),
	.U1ERE(un1_u_DPHY_NO_CIL_tx_107),
	.U1ERSTHS(un1_u_DPHY_NO_CIL_tx_108),
	.U1ERSSHS(un1_u_DPHY_NO_CIL_tx_109),
	.U1ERSE(un1_u_DPHY_NO_CIL_tx_137),
	.U1FRXMD(VCC),
	.U1FTXST(GND),
	.U1RXATHS(un1_u_DPHY_NO_CIL_tx_111),
	.U1RXCKE(un1_u_DPHY_NO_CIL_tx_112),
	.U1RXDE(un1_u_DPHY_NO_CIL_tx_113[7:0]),
	.U1RXDHS(un1_u_DPHY_NO_CIL_tx_114[15:0]),
	.U1RXDTE(un1_u_DPHY_NO_CIL_tx_8),
	.U1RXSKS(un1_u_DPHY_NO_CIL_tx_9),
	.U1RXSK(un1_u_DPHY_NO_CIL_tx_121),
	.U1RXSHS(un1_u_DPHY_NO_CIL_tx_122[3:0]),
	.U1RE0D(un1_u_DPHY_NO_CIL_tx_123),
	.U1RE1CN(un1_u_DPHY_NO_CIL_tx_40),
	.U1RE2D(un1_u_DPHY_NO_CIL_tx_41),
	.U1RE3N(un1_u_DPHY_NO_CIL_tx_42),
	.U1RXUPSE(un1_u_DPHY_NO_CIL_tx_83),
	.U1RXVDE(un1_u_DPHY_NO_CIL_tx_84),
	.U1RXVDHS(un1_u_DPHY_NO_CIL_tx_5[3:0]),
	.U1SSTT(un1_u_DPHY_NO_CIL_tx_6),
	.U1TDIS(VCC),
	.U1TREQ(VCC),
	.U1TDE0D3(GND),
	.U1TDE1CK(GND),
	.U1TDE2D0(GND),
	.U1TDE3D1(GND),
	.U1TDE4D2(GND),
	.U1TDE5D3(GND),
	.U1TDE6(GND),
	.U1TDE7(GND),
	.U1TXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.U1TXLPD(GND),
	.U1TXRYE(un1_u_DPHY_NO_CIL_tx_7),
	.U1TXRY(un1_u_DPHY_NO_CIL_tx_115),
	.U1TXRYSK(un1_u_DPHY_NO_CIL_tx_129),
	.U1TXREQ(GND),
	.U1TXREQH(GND),
	.U1TXSK(GND),
	.U1TXTGE0(VCC),
	.U1TXTGE1(VCC),
	.U1TXTGE2(VCC),
	.U1TXTGE3(VCC),
	.U1TXUPSE(VCC),
	.U1TXUPSX(VCC),
	.U1TXVDE(VCC),
	.U1TXWVHS({GND, GND, GND, VCC}),
	.U1USAN(un1_u_DPHY_NO_CIL_tx_10),
	.U2DIR(un1_u_DPHY_NO_CIL_tx_11),
	.U2END2(GND),
	.U2ERCLP0(un1_u_DPHY_NO_CIL_tx_12),
	.U2ERCLP1(un1_u_DPHY_NO_CIL_tx_13),
	.U2ERCTRL(un1_u_DPHY_NO_CIL_tx_14),
	.U2ERE(un1_u_DPHY_NO_CIL_tx_15),
	.U2ERSTHS(un1_u_DPHY_NO_CIL_tx_16),
	.U2ERSSHS(un1_u_DPHY_NO_CIL_tx_17),
	.U2ERSE(un1_u_DPHY_NO_CIL_tx_18),
	.U2FRXMD(VCC),
	.U2FTXST(GND),
	.U2RXACHS(un1_u_DPHY_NO_CIL_tx_19),
	.U2RXCKE(un1_u_DPHY_NO_CIL_tx_33),
	.U2RXDE(un1_u_DPHY_NO_CIL_tx_21[7:0]),
	.U2RXDHS(un1_u_DPHY_NO_CIL_tx_102[15:0]),
	.U2RPDTE(un1_u_DPHY_NO_CIL_tx_90),
	.U2RXSK(un1_u_DPHY_NO_CIL_tx_91),
	.U2RXSKC(un1_u_DPHY_NO_CIL_tx_92),
	.U2RXSHS(un1_u_DPHY_NO_CIL_tx_93[3:0]),
	.U2RE0D2(un1_u_DPHY_NO_CIL_tx_134),
	.U2RE1D2(un1_u_DPHY_NO_CIL_tx_135),
	.U2RE2D3(un1_u_DPHY_NO_CIL_tx_136),
	.U2RE3D3(un1_u_DPHY_NO_CIL_tx_97),
	.U2RXUPSE(un1_u_DPHY_NO_CIL_tx_138),
	.U2RXVDE(un1_u_DPHY_NO_CIL_tx_139),
	.U2RXVDHS(un1_u_DPHY_NO_CIL_tx_140[3:0]),
	.U2SSTT(un1_u_DPHY_NO_CIL_tx_141),
	.U2TDIS(VCC),
	.U2TREQ(VCC),
	.U2TDE0D0(VCC),
	.U2TDE1D1(VCC),
	.U2TDE2D2(VCC),
	.U2TDE3D3(VCC),
	.U2TDE4CK(GND),
	.U2TDE5D0(GND),
	.U2TDE6D1(GND),
	.U2TDE7D2(GND),
	.U2TXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.U2TPDTE(VCC),
	.U2TXRYE(un1_u_DPHY_NO_CIL_tx_35),
	.U2TXRYH(un1_u_DPHY_NO_CIL_tx_36),
	.U2TXRYSK(un1_u_DPHY_NO_CIL_tx_125),
	.U2TXREQ(GND),
	.U2TXREQH(GND),
	.U2TXSKC(GND),
	.U2TXTGE0(VCC),
	.U2TXTGE1(VCC),
	.U2TXTGE2(VCC),
	.U2TXTGE3(VCC),
	.U2TXUPSE(VCC),
	.U2TXUPSX(VCC),
	.U2TXVDE(VCC),
	.U2TXWVHS({GND, GND, GND, VCC}),
	.U2USAN(un1_u_DPHY_NO_CIL_tx_126),
	.U3DIR(un1_u_DPHY_NO_CIL_tx_127),
	.U3END3(GND),
	.U3ERCLP0(un1_u_DPHY_NO_CIL_tx_80),
	.U3ERCLP1(un1_u_DPHY_NO_CIL_tx_81),
	.U3ERCTRL(un1_u_DPHY_NO_CIL_tx_82),
	.U3ERE(un1_u_DPHY_NO_CIL_tx_87),
	.U3ERSTHS(un1_u_DPHY_NO_CIL_tx_124),
	.U3ERSSHS(un1_u_DPHY_NO_CIL_tx_99),
	.U3ERSE(un1_u_DPHY_NO_CIL_tx_46),
	.U3FRXMD(VCC),
	.U3FTXST(GND),
	.U3RXATHS(un1_u_DPHY_NO_CIL_tx_47),
	.U3RXCKE(un1_u_DPHY_NO_CIL_tx_75),
	.U3RXDE(un1_u_DPHY_NO_CIL_tx_116[7:0]),
	.U3RXDHS(un1_u_DPHY_NO_CIL_tx_50[15:0]),
	.U3RPDTE(un1_u_DPHY_NO_CIL_tx_51),
	.U3RXSK(un1_u_DPHY_NO_CIL_tx_52),
	.U3RXSKC(un1_u_DPHY_NO_CIL_tx_120),
	.U3RXSHS(un1_u_DPHY_NO_CIL_tx_85[3:0]),
	.U3RE0CK(un1_u_DPHY_NO_CIL_tx_86),
	.U3RE1CK(un1_u_DPHY_NO_CIL_tx_56),
	.U3RE2(un1_u_DPHY_NO_CIL_tx_57),
	.U3RE3(un1_u_DPHY_NO_CIL_tx_45),
	.U3RXUPSE(un1_u_DPHY_NO_CIL_tx_55),
	.U3RXVDE(un1_u_DPHY_NO_CIL_tx_20),
	.U3RXVDHS(un1_u_DPHY_NO_CIL_tx_60[3:0]),
	.U3SSTT(un1_u_DPHY_NO_CIL_tx_76),
	.U3TDISD2(GND),
	.U3TREQD2(GND),
	.U3TDE0D3(GND),
	.U3TDE1D0(VCC),
	.U3TDE2D1(VCC),
	.U3TDE3D2(VCC),
	.U3TDE4D3(VCC),
	.U3TDE5CK(GND),
	.U3TDE6(GND),
	.U3TDE7(GND),
	.U3TXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.U3TXLPDT(GND),
	.U3TXRY(un1_u_DPHY_NO_CIL_tx_58),
	.U3TXRYHS(un1_u_DPHY_NO_CIL_tx_59),
	.U3TXRYSK(un1_u_DPHY_NO_CIL_tx_61),
	.U3TXREQ(GND),
	.U3TXREQH(GND),
	.U3TXSKC(GND),
	.U3TXTGE0(VCC),
	.U3TXTGE1(VCC),
	.U3TXTGE2(VCC),
	.U3TXTGE3(VCC),
	.U3TXULPS(GND),
	.U3TXUPSX(GND),
	.U3TXVD3(GND),
	.U3TXWVHS({GND, GND, GND, VCC}),
	.U3USAN(un1_u_DPHY_NO_CIL_tx_53),
	.UCENCK(GND),
	.UCRXCKAT(un1_u_DPHY_NO_CIL_tx_94),
	.UCRXUCKN(un1_u_DPHY_NO_CIL_tx_95),
	.UCSSTT(un1_u_DPHY_NO_CIL_tx_96),
	.UCTXREQH(GND),
	.UCTXUPSC(GND),
	.UCTXUPSX(GND),
	.UCUSAN(un1_u_DPHY_NO_CIL_tx_54),
	.LTSTEN(GND),
	.LTSTLANE({GND, GND}),
	.URWDCKHS(un1_u_DPHY_NO_CIL_tx_98),
	.UTRNREQ(VCC),
	.UTWDCKHS(clk_byte_o),
	.UCRXWCHS(un1_u_DPHY_NO_CIL_tx_100),
	.CLKLBACT(un1_u_DPHY_NO_CIL_tx_101)
);
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .GSR = "ENABLED";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .AUTO_PD_EN = "POWERED_UP";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .CFG_NUM_LANES = "FOUR_LANES";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .CM = "0b11010101";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .CN = "0b11111";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .CO = "0b010";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .CONT_CLK_MODE = "ENABLED";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .DESKEW_EN = "DISABLED";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .DSI_CSI = "DSI_APP";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .EN_CIL = "CIL_BYPASSED";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .HSEL = "DISABLED";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .LANE0_SEL = "LANE_0";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .LOCK_BYP = "GATE_TXBYTECLKHS";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .MASTER_SLAVE = "MASTER";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .PLLCLKBYPASS = "REGISTERED";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .RSEL = "0b01";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .RXCDRP = "0b00";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .RXDATAWIDTHHS = "0b01";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .RXLPRP = "0b000";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .TEST_ENBL = "0b000000";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .TEST_PATTERN = "0b00000000000000000000000000000000";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .TST = "0b1001";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .TXDATAWIDTHHS = "0b00";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .U_PRG_HS_PREPARE = "0b01";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .U_PRG_HS_TRAIL = "0b000001";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .U_PRG_HS_ZERO = "0b000001";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .U_PRG_RXHS_SETTLE = "0b000001";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .UC_PRG_HS_PREPARE = "1P0_TXCLKESC";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .UC_PRG_HS_TRAIL = "0b00001";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .UC_PRG_HS_ZERO = "0b0000001";
defparam \HARD_IP.genblk1.u_DPHY_NO_CIL_tx .UC_PRG_RXHS_SETTLE = "0b000001";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* MIPI_DPHY_2_ipgen_lscc_mipi_wrapper_tx_Z8_layer0 */

module MIPI_DPHY_2_ipgen_lscc_mipi_dphy_Z7_layer0 (
  MIPI_DPHY_2_data_n_io,
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_clk_n_io,
  MIPI_DPHY_2_clk_p_io
)
;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
wire MIPI_DPHY_2_clk_n_io ;
wire MIPI_DPHY_2_clk_p_io ;
wire GND ;
wire VCC ;
// @48:5657
  MIPI_DPHY_2_ipgen_lscc_mipi_wrapper_tx_Z8_layer0 \TRANSMITTER.lscc_mipi_wrapper_tx  (
	.MIPI_DPHY_2_data_p_io(MIPI_DPHY_2_data_p_io[3:0]),
	.MIPI_DPHY_2_data_n_io(MIPI_DPHY_2_data_n_io[3:0]),
	.MIPI_DPHY_2_clk_p_io(MIPI_DPHY_2_clk_p_io),
	.MIPI_DPHY_2_clk_n_io(MIPI_DPHY_2_clk_n_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_2_ipgen_lscc_mipi_dphy_Z7_layer0 */

module MIPI_DPHY_2 (
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_data_n_io,
  MIPI_DPHY_2_clk_p_io,
  MIPI_DPHY_2_clk_n_io
)
;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
wire MIPI_DPHY_2_clk_p_io ;
wire MIPI_DPHY_2_clk_n_io ;
wire GND ;
wire VCC ;
// @48:182
  MIPI_DPHY_2_ipgen_lscc_mipi_dphy_Z7_layer0 lscc_mipi_dphy_inst (
	.MIPI_DPHY_2_data_n_io(MIPI_DPHY_2_data_n_io[3:0]),
	.MIPI_DPHY_2_data_p_io(MIPI_DPHY_2_data_p_io[3:0]),
	.MIPI_DPHY_2_clk_n_io(MIPI_DPHY_2_clk_n_io),
	.MIPI_DPHY_2_clk_p_io(MIPI_DPHY_2_clk_p_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_2 */

`pragma protect begin_protected

`pragma protect version=1
`pragma protect author="Lattice Semiconductor Corporation"
`pragma protect author_info="Lattice Semiconductor Corporation"
`pragma protect encrypt_agent="Radiant encrypt_hdl"
`pragma protect encrypt_agent_info="Radiant encrypt_hdl Version 1.0"

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP15_1"
`pragma protect key_method="rsa"
`pragma protect key_block
5RhpCwhO5sIJPzi57MA/6QUFzxZqmaWu3VOMo66vWSIEOB/PPOgZI2HBLXGt7vFl
oVlAsTjh//h7zZ6DYh2Ya9iRo5Icafb1dN+Z0orADxE/TaxlhbqHE2rGinBF2m6s
ZCIVUYe3B3f74fBdQPh6jPUP1C7g55bcXus3UqJOTP7DqHPlqA1dnlyfnQiRBTy9
T8i3spvbKf0cF3y5Qzqgo8tDWz4KfU8iWky9AzIAnN7K7br5LGVhIjsvXxlRGVIm
hWwixrZGbyHKuWu3YZFFx77LPwYnDrnETqsWzZSCiPtRCBimksPUr0tmyXFdXa1E
zRZWG3X8cMWqw37+QSucXw==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
kfGbipM2hTdQGHCyqTzO/PL6WKZ+thoofXzMt4K1C9kTOf3pOdi+64jCwWH3w0QN
5d68PltkbZYiPy58jUeBNle0ljsVOBBJhi3jv+82hzaETbIpFn21b2SSIiHxBYtL
vhqpH+92HG2aG1scHbyYiowKw45jkQX8H3Wppb5JHd9arYbt3zGxIrVqRztcGNT5
DW9Usq1kxOBOogE2TxIOleIUpwRYrHd8XBGtfyVVvPUiKL1O8Muya7PH0RK06eJp
IdTmVLexBD1AxYBBm/0LF8ZAt/6jlW3ETmWFOJT05oIBgF4tVzaHUjIv+f8Gzipc
Nq+2xSgxl2N0RKrHXhkVXw==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Mentor Graphics Corporation"
`pragma protect key_keyname="MGC-VERIF-SIM-RSA-2"
`pragma protect key_method="rsa"
`pragma protect key_block
nEeKD2MOsu0fVNQMKLTjTIZzso1Auf760PkTZ73BKPj0SIa/n8SHwGLrpUL47X9j
qzP90mQZBw4ZqPtbiQUY639SH01Ugx9PuuCyVCq9xOay3//pvRXhZi8oKziPxClc
jyxNywPkyy8yu/ISOa7Tn0nwjzF17X7wK3TEWUn9whD9EC5u6NrUe5u0eRZe80Yt
jolXZI0AYLmM7XnT9A3f4L21HZuhz0A0P4zlMeTB8fQSQ2gucP4/+UunTua/fOBT
vI4kpwE1xUbAhfaYzFVDvkAYMUlPvNcnOVPOCgddLT1UHkOPFGE+TnuTriDW/O+7
47ZqF1W4O3sWojkfU2c6FQ==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=128)
`pragma protect key_keyowner="Synopsys"
`pragma protect key_keyname="SNPS-VCS-RSA-1"
`pragma protect key_method="rsa"
`pragma protect key_block
0g3NrIiGhxl4kexFAdtSWgx6B7r1MU2QZ36FiTLD/UuQzGsDZA7X3KMCMEpl7axn
PZyRGcB2ck+qhGtkKTq6kBEYkncjql48S2HG+/E/ZmmGFzhsEF2lyV5VvlmC/3J3
MyM0xkziRoSggS4N0JKgIGK2JcYp4HOGQhWemeEQXho=

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Aldec"
`pragma protect key_keyname="ALDEC15_001"
`pragma protect key_method="rsa"
`pragma protect key_block
oKhpSg//hebTZ5B1S1q/VPBKQFlX3ShJ1GIKI6hAynHmxtbWGCt+2VjHehwsM578
/3c91reWtYKZFy8JereX1Pu/0ORQxH0Vi+8eATQpw5VSe+STNt9jA1wmX1APYjHj
5YGiw+27ziqwV3goIZYtlfN4mWFE34HKbW/bbe4E3TmEDiLsDcf/Q5AFCXmdCiIn
Z24/C6p+pIDJACNSEu2B0xhUm72JyW8xygs3v0Itjv9LjX8Ovw7piiA6zKAB9cO+
aKEaoGn4SqEuZUwcbyweMoeDiSZMJko/RLFVilxP6+BpXUaqJjR6ap6FO6JTTfFe
Sm3cfTA6AxFqN6KqT/dwHg==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Cadence Design Systems."
`pragma protect key_keyname="CDS_RSA_KEY_VER_1"
`pragma protect key_method="rsa"
`pragma protect key_block
BayJDn4EbviUSJ0nCbn4un/zAA+/+9oGRp3zRxREpJ9BMtO6qXTNmVGao8sLxLCQ
3HjCHIMEDSSJYS5rIV4nW4vp6IfPhji4466kjbacQTme9aGZsnam7jFnIuu0tTEE
RD0XcZXXaJ7Q7FFs9kN9KpBJnKu6idOqxBcPyjpqxjTD5cotSYB4jidojsa6OxzM
Nt82bp2ULA4EaWqwHz5DFQlN3BXG2hzvDgq15xLoRyKvF5pPjkNCG1vPkE8fSf5K
K69OzyFJHUSfT19Mi3aUn+7Ix978KtH+yCVWvDR79QZN4GVM4PbPa6DcIqWdJPHj
dYIfw//omGv61unLNwj9rA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_2"
`pragma protect key_method="rsa"
`pragma protect key_block
QuO6MyIieU5n/GxSePFqkU6I1SmqUds1kGO6AuIAhAuDWKZkpUMI/q5c+zHIFg1S
ykVjeRDOdi6dLnYP1IRdmZd4Kzb1Id4Z8jnPYqRohDazAto0YVbBpvYR0cUO+oUG
hhrWy6gyxFUakHDCauzdsq/Nr/M/m1I1A7XKOTq10LOaF+AdXBFxAgFSVSWCPerD
7XX5WksZPnwbaAV+Nk2BZBlFf3IW45DafjMaK4YGlPTCKka6C0blQwHWfeGxcX0s
JiAGumB7fLSqzUh6yYWCrVqyCU9BtxhmO+psApBLVxr8JtFa03pzvx/4rB5ycOUF
55BrR7IcubvDLjq3l3Ez4Q==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=384)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_3"
`pragma protect key_method="rsa"
`pragma protect key_block
qwfVrzuxt6A9ocD9CFvFulquHHtHdo+H2g1D675bqPhuPI5bwxXgkcqOa3zdYMRi
ftkDfHCE2VAzwB+nGxP4+0tZbJD13tU2j0Dn9xuNUi0ofCBsqh1vWWgT1KftekOZ
jc5IoV8+C7woqiX2ygeo7ca3nUZ5JXIPf43SFF5BbE3uu8rjydJ6qNvxVWI4BGvU
BJ0mx/cJZuekWNfv9HFazgtDb/QgLs2D+nzIBfpACiQZe9+MtOENygZZLsiaaPeV
6DL+NU7EeV2T77cO/kBO1veZ+5/b8RG+hBH1JMAP8Tc7rJJdXMhpypEunQlkeJye
TBx5H6xYyrONPzMsNaJ7yjzYVXdCiHUz9lNJ1MdeyyCGpMby+UH2mck1kqVIzzjV
RZqOykaprOvwceT8gIhUMxRo9KZVNBS9b23jbo8Tq6qfR2fNAwEE/pG6ZyeIBk1f
vn+z4eTypBhwfIQUEAmkJIPC29Rs0/pufiM/eG2cR5D/YBuWwLKNsa9KzT2TUOuE

`pragma protect data_method="aes256-cbc"
`pragma protect encoding=(enctype="base64", line_length=64, bytes=3728)
`pragma protect data_block
jrYFuj6BxiItMr3CYlDT2mezhmK9lZUtKPQF3VI4ZsZ97qrtC9b6YqKfCHT6EsGR
AhKb0MKgoA8nlSqZUT7gXmlHotVXjniA2OiBHhUvmDWhatr0WqbW5GUWUP57jKCz
TAKPgtrnieC8b6GhZTWEYF+mmMom9nrRn7GqVM6kGN1vetuuxZqsx9ClFdeTEyKu
JNUywQ6Wtyj2OWBmwiDLBv1T1cY1fqEKFuzi9Oo6o4rC3LUyihHSGHM9rJVFnD7X
XF9tWjGWt+F/b1QMDSuWrdzLRPtNfZRtIUFqL9/49TQMiuQ+e+DQCuFAdAb5FW1f
gvSd+NbttY6v7nAfCbBHHejXBBk4Q/x31JNANNKXkEHqm7y7/nkQpASkD6fYRzQS
axcZk3cYRZaVlbXhACBCYjhXNHnprLT3aqtUbum3Fx8ejA9kQN0Sz2SEiVTZhhx/
jfjUhHcvaq835cVrW1IdJzEudknQ1B8DA9NDUjP+3YRAfqVTAqWtWM5wn0APrvTV
Ds7QLRqdA/aSH5m/tefoRrRjXHRVEupX0e8iRF3cbua2Z/LhnmbSZ4X9hQ0mfxuq
2lO0l325PjN28S8updCVhcKVRw6qH3cAQKBywHtqFUUsxYMEhfnFKL6M/kuiw6ON
p4wAxKP3+oLvI3263YIVrfBmfPrs8u3ItPWVsSIb4tEYk0AQ/OhpBTRs9yEiePHJ
axOfjD31pgM4yjpaHiZzi7+2kBytrwSlCksw/F5YUEqXHv0+uNNjQMVKZeu5E8rs
ubiL0SOyhBCaosnUbfr+243eeeJybhPOmvEgCbcgY2MAXXn2j3ZoUxBfx4McuTeo
SkAuqgQVdztmSpvqw4KwCfiUvDf5EEAU74U3e8G2N7btEIIjWMSI0JKAA6aeIrM/
pCiTp79RNpa9hHREvyDcU2PWhI58Oyz23p2t7/Y77F8cj1XshTjKw3H62nbxFLWZ
jKDtnTNb1XurV9WLTr4M6VHqPfwdlOB21/luyUpREQqozZLk9LDopXJng7Ln04bQ
aYZg2LPsDdzj+IZ/VU1fBQeILp6mYweWLlA+fL1NZPDZM4grNgdF4ux6t31bdAQ+
D47go7xpK99aojk+4X7G+sRZUG76XiPnZnFl4nMVpWSt14il4NRLUnFyFPKl280l
nrDKVqXeYzFbW+bcrvhe/KHzhZ6P3qm+R8OhbG7/jESsIkzKk48Hg7SGgbUW1OPN
DA8gfSDaueZs6IN1uTuruWKgjlDIwsl11UchCp++GDSHDodBu/EUb4+5/eMjr66d
2jQKVDDiBX0FjVx1Act78zCzH8mV6uFu720Ukdexr93hZC8UJItclT/f5iCVAjBS
325mVOggFDAJpuR3Ts9h3+OYW9E7gnsP188dfQBKDnw5Kx0s5UMGenht7/gF6D9x
zyAUT3WqaQ9XSDFcv0QLqGgSIMY0qr98IpZdhRFdSfw8jRFlIR5rmEDQX6YivAjr
EKbaorKcd6UuB8TvL56h6fenPEQG9oiJa/mQfhFieDlIsSeTfzj/Ebez8+zpzB7+
UcnWy4wHXKP99KC3c+A5ihx12YNeGFtDz/AyF1x1UUQbwSjwQlyucsEjC/ljq12V
zpP+tc8Df/VYPF1PanIrn0ZgpHFIz9Itt8RJq2XH2uDOb4+itJjnwsI6umNzE+QY
Ap6cYr9SvXFMuWbDu3PaiBeIbUY6lIVnNrW2U1nx8ONdDfWMo7ulaeIzTJlTGhW9
0/UGXJW52XzVLWZrVNiAxWYpXrrM8CjM5Nd5I1tDrrqf8UvAa8lSrj/5Qv6WG3cf
Iu+PeiBpplqLuKk5T309RfPvQCdsd1uEweULGPCjUDFtCTpCm8ISx6nJ/UqW2bYb
lW/ABAWqv10vAsc0eSuL21f6VbZO/8I+D7a4Av3WENiHDAHflBk/hkJbFLArW8Ze
glzIwKFiMh8Fr1nsgv4VFQ0tO7UVjET8WLVkQNNTN/17TznRtlNX16j2e91R7t9P
ShQvctOiLvB/voAm4xtEVKTlfKc0czTK4N5vkRXQ/P1n2k4E+Ht86iAwpPRApyen
t53Si5JEw7pFFhi6Yp5xObcjfYpKWpsV9qxhFSu1vI6t33FjBOE6REH/2BWXp3vU
aQNfrYg+JG/wWWNJg/CF34cwIxiuRQJjL8DeXwBB1Z+4uOULBDqp+mRJsI2eGAqZ
k6iWwyssb92gfAAftjqHPEQsNfLDmULL0WijlfGpj7v18Wtxz4TAnnCF8z5c1Qy4
dueNrOJDTiCTAgxqWqTJiRyLb4DZ8OV2UfYm+ivWeL0Zlt1TWpbPP1242CNQMuvv
iBqlSjm+3tUYkDprmlIrYGSCZq1LtyZQ0GJ3V4+rL9sWvAqX7bI7oXD95Fj48msn
zdPoTCidMQ97+7VMwyo5BZihl1cBxMdZGndV9x+i+g+lAlRnezmGVKmIbDbAOvIr
IECs/m0lIlVdNE2WQPl4AOPNl1Eh/kbgQTLeBh9E7rA2v8KZkqHPWwpNrcvpU+Ie
8VUiy2mi5i5n3wzeB8h3O8EW/UqSjjzNGmIoTGsBsoLjFKRRe4vaCZiRKw/bUMYf
/ugaO7JlQunVoFGqn9YOf0v5KOS23iWuCBf31sTcjmRne689oSsJaDM6zhjCoqkW
H1nc5tZYGibJB7zRXdIfTT/+4h8APSpFf2qEwG3y5L0AVlB66zQMlqLBV11wbgYU
ra/HRlI9igZIB1fDCUw4v+wFS8fL9fQHaRY6BsKPocFvi/7wV0Vp8fMxQSnhD58b
MbJeNSveuM6SGDtUQ3HOYNSGm5o24sYpZB5AapitT+wN2ns6sUqwq7BpQMIhQtXB
OJsw3dOahiPWeW8tzbQ8gMUppB5nNkp1xRYooWK/ief6IGE7sHdjll6FuduOEc7u
0xpD3N2HAO5T43OilLoJ9Et+zbUJXODLE6ssVpTBztvmkW9puvGlmr7/VZeMy/Af
mLwn0id7MlQ7tnFFQlVgR+QZy/wEcUGGJQNxNX0V927TLKIyvjNIl94OlyjTUBLG
waWhJUytE//SPodAifsghfjqCaJc1h1xZXfwZ4XQjK4ot6L3X09vphZneNS6PQ/2
I0U8xig0WY3/L22rTODCD5NJyD+VJoOHkFA5IwrdWKj5tSGijuR1eZ+FvMHJ01nd
tSw147N42xuRwLRtS8r9gmKp/44vS1pzoWLrJBTPG1o0DxJxeV/daMV+sYkhrFJf
w0P1gPc1QoAltMV5LVM2asq2/E9sLpPvWA4L2D4LLtiXrfksZBA+qf/LKP2mDEee
eVR/6LhhAam8QJqaDWzCTbM4fDUAQ88gTGwkqaqDs7CDKcIbeG7eONEIFoYvS1v4
ZOMBfnT/6/NdpXDxIQKl25bL9u6n5g1UXQW0eF/eQymjL+iakj1Y55f0gT+TZLOr
vtp7dLZjlav3sxFE1hdqtwTn9BPbEQHlXWet7L3f/dHizMLinG6tg1p4YSrgVBAb
E6C1ms9JAwco+OIkeTzV2YC7S4WlN7abtcQSMxPoICv0/Uwy9bUZZ5arjcn9lgAy
lsVzBPakKEMzX6+Lzy4sTYahxMYIcceZPaM/H7IETRhM9ljrMXEBHPhkX4jNxNxb
wyUcc2vDrA5e7h/9t8P8jWSPc76Ipyg6ETn4Oe+a06L7ne6HW4UQL4v6Y4NJztTA
1lFmbszVnTF67cO6UOR254Hfb+lY8U/f4wRUwGaKf9ECqJNwdgUnvCRd8OwHc3gm
gWjRpswLahUnoVuXutrrF/4/mAp7KeEhXMkXErigndfm4iU1UzPT8/SIx0tI85ay
dwInm+kJRWY3VCQ+4S29pxtwhNLDr0iL2TSIz9jUEEtmIAxrWBOIZrwF4N2LAa3x
kaVDt27v3NJ1vHtf/+bOixLdMMEoTQbTqj4i1HY08hpuFsMlKYJVgCB/bipU5kGK
TjsyP4MFA4azpESwcR1IPQhd/nOOBZUifJojvXWjSF2EMGUQ6rRGOqNKzKyuFkZX
Y4S3mUdHuJMyJpoCetwirXsapJLOrtvAS7hoXmSU3Jv87fxfgtPdAky4BQnOFmeV
rNpyZKjwp/LTI6P657H33ve2pHnYXukQ2QBVHrCrORitOvjOVbkRUXrYQ67LQ4ZN
awXKiZn9KkRLEESq8HvWW3bUYcq97Ly8GhUyvDuXRjyA0fWwZ4UZ9QZxsGuxzezc
BHlYO52/9RyoRva81rBmFg/r7fpBwVBMJrO6PoOolgGyptRj/M2MwuATljXedNMt
IPunz8GjC29YTerc1wFmS3UMQMxG99bF/l8DyVlIOkoezruEzXdUFBmw2p7qt2X5
77rGeqyvFe+H1xqrK4oa2+NV+46hj3YRq5sLZL52QHYn1g+OXonK4fivPOK7wIsQ
gje8zPuL4Uf2EGje3dYRtB0rrtdyLgS2r0M7+Rx922OMRXW/XBkhzWwHxYzNYEKO
hJtkpHuJ5dmd86xc/fpEiKz116DGksHwM/JlbNHXns/eJXbTFvGHi9lH26EjnSNZ
d9UUWkT8EMbLQ0fY9N9A3gLe16l9/9Du0gGuCbS9XqpZGvpfYZUozqIve4znv9XX
0dIJVBE0J97UDgBjXmk1REhWw+WWk7sPYPb+piCuJLpO6+cUsBs6xlRxTn9Qfmu2
XU/TOVcby7UzM3Nu5304SxXtEDajXYfrGuOsJtpwUOpW4lJWWhyLAw+8ISUtgV1h
EdoTbJ2HD8Rv82YfwK1XyEOE/Gr7DKgPvRCr+C3f0LyZvuxLqnHfuPV2LAAJlwA9
Dnx0wyE4tJT+kL/gHLPeQfFFbKlUCE55bhuj+u15byxLVIrtq5bw+mfp2i6GT2ZT
RvLpirYURWJ6NT0Exh5xKFW9ZCVMpWABm/j55G1xwH5BoW/KZF8+p+TJrZsZbrpI
znN4Wv7zJ+qiiYm0HVH1zRyuS6qk0ezJhPqoGVsObPnRNZTOKmVhDFIziVk1tTVx
w3fv1KzPqgASPatEBwT6VRS0HLdvM/wYKpoAw5GGvxE=
`pragma protect end_protected
module I2C_DPHY_1 (
  I2C_DPHY_1_sda_io,
  I2C_DPHY_1_scl_io
)
;
inout I2C_DPHY_1_sda_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_1_scl_io /* synthesis syn_tristate = 1 */ ;
wire I2C_DPHY_1_sda_io ;
wire I2C_DPHY_1_scl_io ;
wire [7:0] lmmi_rdata_o;
wire [31:0] apb_prdata_o;
wire GND ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o ;
wire int_o ;
wire apb_pready_o ;
wire apb_pslverr_o ;
wire VCC ;
// @50:42
  I2C_DPHY_1_ipgen_lscc_i2c_master_Z21_layer0 lscc_i2c_master_inst (
	.clk_i(GND),
	.rst_n_i(GND),
	.lmmi_wdata_i({GND, GND, GND, GND, GND, GND, GND, GND}),
	.lmmi_rdata_o(lmmi_rdata_o[7:0]),
	.lmmi_rdata_valid_o(lmmi_rdata_valid_o),
	.lmmi_ready_o(lmmi_ready_o),
	.lmmi_wr_rdn_i(GND),
	.lmmi_offset_i({GND, GND, GND, GND}),
	.lmmi_request_i(GND),
	.int_o(int_o),
	.scl_io(I2C_DPHY_1_scl_io),
	.sda_io(I2C_DPHY_1_sda_io),
	.apb_penable_i(GND),
	.apb_psel_i(GND),
	.apb_pwrite_i(GND),
	.apb_paddr_i({GND, GND, GND, GND, GND, GND}),
	.apb_pwdata_i({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.apb_pready_o(apb_pready_o),
	.apb_pslverr_o(apb_pslverr_o),
	.apb_prdata_o(apb_prdata_o[31:0])
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* I2C_DPHY_1 */

`pragma protect begin_protected

`pragma protect version=1
`pragma protect author="Lattice Semiconductor Corporation"
`pragma protect author_info="Lattice Semiconductor Corporation"
`pragma protect encrypt_agent="Radiant encrypt_hdl"
`pragma protect encrypt_agent_info="Radiant encrypt_hdl Version 1.0"

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP15_1"
`pragma protect key_method="rsa"
`pragma protect key_block
5KyZgdkbHvQqpDJCr2tpbqyUW4P1mwhQ4mP7tJoQXDMAN3dBvMrui3i+UgS+ohAm
6EOLB/OCJnC5S3BxcTdhLHXewRZ68mFdgspywzAwvpFfbxXiW2zaD9E4VzZBoUT/
bWxlTVfO/aNAyZOhMo6mWMOZlJYaAHvNSB9ZiPxeqtL1kJRNTTVshJafOSiCfgFl
x8zfOkiPwwgFznaZNA8BCOA28X2tFaJ5bpS89bDlgADHaCovhAzxV4PJNyeAMDx+
CukL8zSkRBdJTGvBexPunTFYqcrmsYK5R9pEMlVh6JYVorRxL/4iv24bhS5DSWRG
x0140S/5Jjy/l15f3Rbz3Q==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
FYSfFuGo4jTWAiGXp0m0r5cj8VjNrW8GvAF9Q7oEWS2U6rb27C5/Xdbo7+5mLLVm
3tMbJ+V0s9A8QDn114G+bOOKefeBt8hQHv/FrtZK3BZWYXSZETrXSd9u5ePjUOq1
qOtcQTH1HzMz6M7HTWSBwMX9ZokSSWTJaoahXFNtaOHe+zqsLNMMCrnRb4CnZPK/
NiUWRwwJ1QxPEvgGlCU44YWuKyu2Iq8cxwDlbjIEgHYqStdMNgYiOcr/lqXDEyL3
ATjnClqU/Cd8+CrDYtFDxpEy/FNBq6duF67iLjhp1iUnLMidaiX5VNk5co+H5kaW
rcE8/BXQ8arHtoLs74N5kA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Mentor Graphics Corporation"
`pragma protect key_keyname="MGC-VERIF-SIM-RSA-2"
`pragma protect key_method="rsa"
`pragma protect key_block
PXm06xow8Tpod1qaH88Wi3U0ihvzexZdPbqt1z4TLzlLM9+8IylxKUDCc8kSbtm2
5Ary1aCrZRiiDyQJWemstP7qhzLvdiw4MN8KrfEkf+F0WFYHaJI1Zf09i5aVRHi9
G5cW8fHA4+Q3YtTNMWPL795aMtdsL1FDJdwkyh9f0TUxpW8WNVoNrhhxZPHUtIqd
utuM8OUMnFGxZtV5UjH1lLgqce3X2cDyMkvPT9cewPdEOE909ogxA1rXRVYNolmh
n8fEpmUUDZ62j1XQkBgbWcw7O17MqqZZUibnn8MhcXwTdFh6SdgNBZuu9pd84GuV
XMhgIllAemmd1hzxShG1Mw==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=128)
`pragma protect key_keyowner="Synopsys"
`pragma protect key_keyname="SNPS-VCS-RSA-1"
`pragma protect key_method="rsa"
`pragma protect key_block
Aquo8BYWRiWj6TOOOF00MzJhEkX6uZdIgU470cNZbTubBSCwCdeonJl8ViCTLFa7
lyI+edcqcqJbDvX5bgX9OCqJLNPrihFWd+8uBwm4cCu2jEnIZ6/hOqkv5pAK7GzV
Db1BVIZTDZyrOpage03liUgqHGA2PZKmH/oJ/fRZ1qQ=

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Aldec"
`pragma protect key_keyname="ALDEC15_001"
`pragma protect key_method="rsa"
`pragma protect key_block
Y9lS29ZzEC/mYWvzII3BjVbCiAvCZRGL4piYY7gXD9ljxHrBnKXoYdAnl4JcNtNY
WH/TQ/qvKAkjr+PHgYx5n+9dT8j3RV5PxHPpwSHfKGjcjItbm3IjD6/uR8iLg0e4
RWGvQZ4EqRO20Y9fKMgYy28UTawG+bL6md7XTnBzJcZtaqiRaRGO26U+Fb+K/Kuv
CJ3I02wtot/YQhJ1nP9xUJMrOyxyuaqrslO/Q2QOJiK9M5AKHfRBrEtg3v2689Mg
IyxmjD4CnjImTCaoagRxw2OMmHZwJxRNgsNF4hzACi0Kw+vod8EFvWFuWt6hnah3
1bSQ323w+EanbaM0METOEA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Cadence Design Systems."
`pragma protect key_keyname="CDS_RSA_KEY_VER_1"
`pragma protect key_method="rsa"
`pragma protect key_block
EdSRAsV9a4ZisB2htXZjs7ktngOb5798Chhb1n4ud8OlUhY9/RBVOScqTrlyJcW5
BFlRfVLIZHd3jJQlTdt/vGv3NwMph+OoSr+Kgc5fuNFwTRWYxHkaaTv8O4yo0d1x
ZL8KDEmZULuYDz6HaUKcaiiIniGEKhSCyRHFEgeCUdEmIOLUDeDmLs83SJV7YW2+
a09z1XfVVyFBQvGKwel7Y9I7QtVHfp0GTk6dZM36DI5SHYlcvAZHaQE+sb3tLHvJ
ifr4R425LtFLEKG/7wNhXLOCP9ajZBByXVXoKm6tRBTaIlNwFOgLgMhW9naXqSYj
jlXTloNd0QO3zR3EaTdjyQ==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_2"
`pragma protect key_method="rsa"
`pragma protect key_block
aDveNpw77Qb6+8PG4hAN3OzjFjoN4A8olybrUs9acnH/8is4yU1m90PZ+3PvN6Ha
1dvVrIG1+4ArFCuQSY4iD3/2QvLmo/5srhSzCF8myCMZsZCH30EMV2T/1RENDFZW
y9FT6c2ftJ7iHRiBdrNtaAMFAe5EzP9IoqFCq7uDIbt06moYlDmT4iF4ePuK6R4X
JNMpHdDEdXCR62+Vkv2XeWgRiK9xO0mp2JVIsYNBwKSPnDEpf45dUo1SCSmgSF8u
GnshXqXacWkl5eWHWgJGMkY063tLWR/uXPkpEoUu0TNNvT4Krc+R1cvy+mAStP/G
szNOdozrNQoujSNX+lay4w==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=384)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_3"
`pragma protect key_method="rsa"
`pragma protect key_block
NY6AvJigX7wUiZpKkW3cHCG8ehWyzMcar6l3MCCk4IediNiChpbKN58PZe5I2E8y
eNuxAO5RhEHBrS3pjyomC6siS4dXkPcOrl4EBJIYaZPvqBEgWF/c30X1dilwEKnl
VKgfTLrqLXANf1RX0C3+XpVcXUG4czumpx8mNn1eiZRvXWuizUdVu1t6Q6LiN/g5
RrMzN9kBA2mbNzREr0g1Bk9P5SuFJg4Ia5O6lBvStK8NK2lQnC1OizcMCci615HP
k6soKtj9Yzlj9q/N8vb+/NnvE7qZZKdLWG3thS5vZHQEDAoeGBYfrA7wUDuHC1mQ
MPAkp/tcJf1VemSBHKL97qy294DrAW73B8q1fDHKoMwsHAEbr7KcjHqo+9K4oFX1
n56I1ybN/vfavHL1wHSrdIRi3jKTuJXM2w0NeWcYiP3xVYd54lQ6dMve7PBky6/i
7E5USNr7R5LjL4ZwTyxa8d0dqAiVB9nIjmQEP/T4tgXreDR5Bu7YcO9Ot+Pr4GsW

`pragma protect data_method="aes256-cbc"
`pragma protect encoding=(enctype="base64", line_length=64, bytes=3728)
`pragma protect data_block
fpQtrig70U0sqwVkEZzvxndX9jMTLse2/T+OksctoqnPybLZflxWqntg1WwKPWv4
aBE8mqXr500B34orouoMF7VvyZunQMTEH3sqMQCmXLQ+J385XVOZXK8moLH7ohwe
skSFjIigCXnbPbxptGzGdVvfhryUss4EYkFeShe6FCuarzZ02O2jaZ4CPzY8APpY
BflPlcT2gE0+FUiDSFZTK846dMihiPySm8SvKFDSjVcDwwy38CR3/b6927MwWqqT
odxyrN/RwR6dmodNzuIgKcy946TqOJB7iXrc+7BGfJoF4KoZhtctg/LjkASLvgfg
DLi11pc1FfxUj9kfTUHfJsSj5NBv2cthStJFL2WGwEPmI3ygPkNMkSIuiw1XMjJR
g1awndXpIq7vJp1cvFCf5XZ7dG320i5qXCRKUvzmOCdNBI+RqP6b4q9alI0VeU4Z
GT/R5UQ/nMWgamoQCyeHSpXC21M82zRG8n/eU1GeCaG+MbpISU9IEAoRnV9Mkje0
cmoGbLqXBI5jImjg3IrQzH0ya9PJhIqrBwDBzHvHu3m8gIcvbtyFD4aC5Vb0+sfr
QxZHTcH/36MHIKOiGo7whwhxBSQ5FORhgJG8Xv75jBPoGkfiVtuBIFfNZ0v3ENYC
WcReuIeQKm9OMdin3uhvVRZn1V7843REbCZ3oHFg3/sTfW2+YWfBybg5gatQx5MK
/5Oesmon2wJHVF4R+z/lebsJT/UMhdcgRZGMQJSSTGZIhZVLCi+U/m/xOwRDdVGD
xpD6D8HGXndkKjzxNMzMB/esMVO7+ql8TmepbodbAXM2ZZM3EEPsmYkABgt3kqRq
0IuO2Rmxh/xu4C2hCAbfnwdbhVfZ9TSipX/gmesnlysC0BoyGF5ECr4GrSfRwrGV
TMqjHFVaGoTuCfPVSfIYlGyGHOvI3IPmt44+Rz5EFtITlXTWmlc8eTJg1AC88pgE
gH4tSr1k3WLDEgsPrbQNiabbohbXdDDkjpbkp3Yb8ccWz4yRWWNItZjl/yB5sKCJ
HyY3GbVQjrd6W8D5OULH5Hf/2RFEJ4ScZ3jMGjKGlFyyVPl4ExaxY0PczpnEubOn
uek2bAukuieSGXhO1v7FRlTBFcAdhL9UJDOVnzIp7V8/DfjfHtT5u7x167KXKsya
oQQ74avDn6RrW47FJ/YGOJmstTsuzgyNydEuVUaNx1Rcc4RXjNiqkgzPjoyaRLW+
tlKgfIck/+Dhj5pJSGcCADMk8oZtE8NcRfNofNaQQAUw8ebOGHPRzDcFeBInGZOW
kkfnoQVh9FsQ4lzi8kl82X+mhMg6cpvln+1fW5tSMtobP3nGCuLDjNhADnsXDmgj
WwZRVi18lw3LB8q372xDwneTJPMpTAKmEVNE4Z3668y5HPfFjDXgASUqafSDxoyE
/02nu7DszMdebHaV6xGG3xwSydux5N9ovEFuF0GEiaO1FM1TM86NCjTXPOyp0u9n
P0qSuZbMgX3urKEb8LH+STRl8BAVfLkHZsvARplqv9j9lljCZgJbhZKn7G5srHhl
cZ2JmY2iJgvyKMyTBPBlnluX0Z3GPBw1BW6q4GGmbULSIu1VVkb1stsIILcR/s/d
fBw4vMBQMNoDBD1b4v08daMlfkvIW3p2RDeXxYLn00w+OgQGI/1Svq+D2ZcD00M/
Blg4ASW09aKKVIGLpy1cYjNWJA+bEIgY4fymiyyPFU0uFP4v1kquWY4o1K8hpiuV
S2Lmbf/y6u0pQF7GomL+eHLTj6guWjRlvnp8xRfaZQnW8+FK68wwnLiVkvaq9l9W
eWSdV0MCaMujMPoGSr1g1V4rJMf++c6IPytGQnDFt+ppVOqN86Xjo0L004NRpFp9
ect6+HgzmXcLmwZ26KYKpVEHgOKuPGfLDnVwwgUE9VeWklU6WLW9itZ0r09lQAAK
eHlvhd8+tyX9FrZAUKnyWqMzn8I8AgCICuNEmbNLhb+3HwwTUz24TMYV1wOfmlej
OiH448O5tS6EsnnQOG5aF2a/ruYn5ux4WRM+/LFxSS2MS8yv/ZDpIZsWrDL5ozm3
mkGUctAUkD5RLa+rOl7Ns577wYC8YgAXyezUb1FW1ees13LtqHa+GGzix+1E7+f9
P6TkjhrSk+S5fnFehT0XGLx//J4IHpHRWvPEuqXgSUVW1HoElSOckkf437JacAOT
shbun3dwbDODk1ccFsYgbc45cRuok/sM2RdmJe9e/tG7ZhQTXamfPei8v/fUchfw
ty2x3DzbThBrIp++3jGiIEBjH6AHWL6+MPrJxiUt76pOc8kOx8uqQjty6nOrXhi+
/p9hArKgpB+l3d5vGoJZSKHlMI6ShABqEnD5i+9yrvQghohgUEl2yyEPjyOePBfW
hshpHv0vFT0zArmUAS/paZ5dEzuvdFjKDOHS7OLuH4/sIeM66zFx13R5z7URS+Q8
ERMFlGRbqYGrHDq7hqGohpxdBPHIEIU5aayrauNHRByqzVFp+t/UoQO+JysIjSbr
w+0pDzcCmzCZ0pRFn+MnR1H9x4tE+0fSZ0Q2y1zBGa1WAFg/Y/UVZ1qUqYBvQvdC
bwcCHfAi1p0T+ep7c5Fjre+73TcIyzK6KSZacd/XWm4UG4C9ZdmzN26di+7ZQ6Zk
JO7+uglgWtHV062YE4yB5u3b+BwCsf+tYrVWQKfuIKz4zToMoW9KRCiCCyLHPc70
g7th4+sNxdizw3mmEF0/GbDk+BXeYLuk0HrYkMTSWVyD8iUU118qerDzz+rzGKLm
g0gEm8O8K6yyxOcK9/T/CYGcLOx34TBe9cnMqNxRNttrZVEp0l4wsi6y4zKuwXiu
bjqmtIXdONElrzCiwzL2mgdHvGrcSjMNxWv33f5UCZ+Hr11r4lD2f7nzuCSsJA/F
M+Nv0BSZBfKBVXATSZ7f121T1qY5GkSXQPMPVNxNT1d6gPnSoDVzBj1Xgy2aRFYS
MCUMuTc6/PD1N6wjFH5K0F/Lr7WvnvhvrZi2+wGP/NHd1ZZwAZPs3a3B5Hlhqn39
USwHLRxeE0BDfS84uPTlL5h4/0zoNVVMwNxAYDFhhwpys0sx6MIuWy1BtVQNM/3e
cTgrey2GoHlEimEdurcZ9d2ZyXX4P4Ov9bi+Nu4KpjUpMN0gmkhV6BQx0UY/WhvC
B9V9d/atqum3Ib+1tD215kPwooCQezxzIsCArX98wUn2UkM9jgV91/kpLOX7Pd9t
VRF7CMyylAr3Yctv8tLdPH+lCJVva8WoJc4QnFlSAEwiMjDPSwr6X1q38rTZx/1l
EH0om5bUj5J2KDY05KW+cRNrHTGvs3lR4zzNv2+pDkCfV6WKeNUsg40n4e85g6JR
T8vl8g7SqmrKui3ZQazYG4s/AcY+iDhX/PbgO1KipfTKKqffiMXJP7Ff9vIu0fDG
4nK5pT/qaF7p7U+hfLmz7QqHhY1semLNkwNZHb+lj89p1t9vJXIrkrvGK5t3f7Yt
gagZw+VfjF0JASLxbqNfBlp5UzqhA8wh4fb9ToPefpMH3jM2ZJec91+p8sjxZLTg
5etgeC2jZgJtVyD/mRnuCvMvvPPRa7HhkdSpPG+G6jr8eU3rLEKBY+Gilr7EVM3s
tGg67DwrRRZEyNbz1sJYCKVtAE9gMfWUT3PAaM2H5FXbfjHaFw6S3zRaqkx/TVJC
XH13o1Etm7jqjA5/DbiO8guLfT2qBUl0YwC4hpDUqwGoZLXRgX2nvXEtFrLuY3jv
fPTiWkO+wma5EAVoGO7CCmtWZbr5d5wepaDhCtsBKAvdI+LOlvR6qbCLIZ2cxZPv
JmvD8MjwxMu2roG9qK5ddWUCarHN0gai8yRkby1DBgSc+WGbzxmbmMEWoeEXdwQo
Gu1zKZbDjTBKNQm0R9eyTX+aq0geH7DTWDhYcvTisVKI6XwdXdqNbRiPQCQY3IRA
mfRAOQqMAXBsexygjpaKwes4qROxPtQdOpvrUx9WlPjuvMsFtL3JDBMMfFXNKRID
AhlmkJDyjJhLNRG+crwAUGxaYZulYihgysJswwg0QxZ4rwNXzH56ffB7s0yRnBTI
QdaXTNZHw5m2d6PM6XBOMTEswtoI0EJALEY1O6FqqbCkaLucABoMBhlh70ISbJqI
071YUvFRnqLOaaNmzlszVQsTBQVMqMnK88c6xFKrbsrnQscqHay3pPLziTECT97f
SJyVN5WwfZ8r8DfXojVg5n0N4RkLZIsaB5vS2sYMI2BjYG8CDL9R33eYGZhgz6xr
TtfnKK+thRfM2pJlTAeuGRkArLANGHQO3n19EuR9paOdFpFMWiCOuhpuoNGj8VvQ
QzkcnJyi9fGhoCmOdMA6wzb8C7pjTKltmA3W9rCbwrcau9BpUPKTivJm7NQj/kmN
OsIq8l4JVmbzc4khpou/CqqXDzXKx4weX3hVhzzIqS/QzMg8P6maazC1cZck374q
GiaalhcboNpbCpW4nPyW1eWRFJZbmA5y3l3Ky3Mi/l+nT0EUaTmiYSwatKi6XXmb
6/j5g/b6J0D+gsVRa5eje8ghL66W/rTh2/bmu1I99HjYfBycy7JPZ/S6Ou/DoBEA
WvMzkQ4HWQa9wgFDR1vc+pHWw+OXnlMb53KyzlXm1h4dc7h761KxrZXzt0k36vmi
h5pvyPaY9KFd2IyxnmQqNUke5/hrQMDf5enT9X4mNILOsziuHgeSj2Z+iraBdJpH
cw+Pq0nj7L2f6DO1uldHp0MiImSI6RWPB0JQVLSiG+s3rwomXT8OrsZf2fyYiZnm
2RA319sKNmNJcwH7PVWZoej/Fw5PfNv1CQBfQPYZO2o1ogYqhu6TGwUo59EEqBuT
u/7lUPEc/ElKOC+isB2Pzjp8TnfWAXJ5Goo0essaHEUPnuX+QQrtztcnkjdM30yf
/xCMH9IPabbIASRYzzDRIwHAOx7BW2sIKg+3q8mSCxBTnL4jeP+x/4fHdZl34J/Z
Wy6VX6giDYJRAfsERNBPbx1SRCiwAa0tUKpVpCzOFDo=
`pragma protect end_protected
module I2C_DPHY_2 (
  I2C_DPHY_2_sda_io,
  I2C_DPHY_2_scl_io
)
;
inout I2C_DPHY_2_sda_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_2_scl_io /* synthesis syn_tristate = 1 */ ;
wire I2C_DPHY_2_sda_io ;
wire I2C_DPHY_2_scl_io ;
wire [7:0] lmmi_rdata_o;
wire [31:0] apb_prdata_o_0;
wire GND ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o_0 ;
wire int_o ;
wire apb_pready_o_0 ;
wire apb_pslverr_o_0 ;
wire VCC ;
// @51:42
  I2C_DPHY_2_ipgen_lscc_i2c_master_Z25_layer0 lscc_i2c_master_inst (
	.clk_i(GND),
	.rst_n_i(GND),
	.lmmi_wdata_i({GND, GND, GND, GND, GND, GND, GND, GND}),
	.lmmi_rdata_o(lmmi_rdata_o[7:0]),
	.lmmi_rdata_valid_o(lmmi_rdata_valid_o),
	.lmmi_ready_o(lmmi_ready_o_0),
	.lmmi_wr_rdn_i(GND),
	.lmmi_offset_i({GND, GND, GND, GND}),
	.lmmi_request_i(GND),
	.int_o(int_o),
	.scl_io(I2C_DPHY_2_scl_io),
	.sda_io(I2C_DPHY_2_sda_io),
	.apb_penable_i(GND),
	.apb_psel_i(GND),
	.apb_pwrite_i(GND),
	.apb_paddr_i({GND, GND, GND, GND, GND, GND}),
	.apb_pwdata_i({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.apb_pready_o(apb_pready_o_0),
	.apb_pslverr_o(apb_pslverr_o_0),
	.apb_prdata_o(apb_prdata_o_0[31:0])
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* I2C_DPHY_2 */

module main (
  dq_dqs0_io,
  dq_dqs1_io,
  dqs0_io,
  dqs1_io,
  DDR_MEM_1_ck_o,
  DDR_MEM_1_csn_o,
  DDR_MEM_1_addr_o,
  DDR_MEM_1_ba_o,
  DDR_MEM_1_casn_o,
  DDR_MEM_1_rasn_o,
  DDR_MEM_1_wen_o,
  DDR_MEM_1_odt_o,
  DDR_MEM_1_cke_o,
  MIPI_DPHY_1_clk_p_io,
  MIPI_DPHY_1_clk_n_io,
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_2_clk_p_io,
  MIPI_DPHY_2_clk_n_io,
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_data_n_io,
  I2C_DPHY_1_scl_io,
  I2C_DPHY_1_sda_io,
  I2C_DPHY_2_scl_io,
  I2C_DPHY_2_sda_io
)
;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
output [0:0] DDR_MEM_1_ck_o ;
output [0:0] DDR_MEM_1_csn_o ;
output [12:0] DDR_MEM_1_addr_o ;
output [2:0] DDR_MEM_1_ba_o ;
output DDR_MEM_1_casn_o ;
output DDR_MEM_1_rasn_o ;
output DDR_MEM_1_wen_o ;
output [0:0] DDR_MEM_1_odt_o ;
output [0:0] DDR_MEM_1_cke_o ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_1_scl_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_1_sda_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_2_scl_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_2_sda_io /* synthesis syn_tristate = 1 */ ;
wire dqs0_io ;
wire dqs1_io ;
wire DDR_MEM_1_casn_o ;
wire DDR_MEM_1_rasn_o ;
wire DDR_MEM_1_wen_o ;
wire MIPI_DPHY_1_clk_p_io ;
wire MIPI_DPHY_1_clk_n_io ;
wire MIPI_DPHY_2_clk_p_io ;
wire MIPI_DPHY_2_clk_n_io ;
wire I2C_DPHY_1_scl_io ;
wire I2C_DPHY_1_sda_io ;
wire I2C_DPHY_2_scl_io ;
wire I2C_DPHY_2_sda_io ;
wire [0:0] DDR_MEM_1_ck_o_c;
wire [0:0] DDR_MEM_1_csn_o_c;
wire [12:0] DDR_MEM_1_addr_o_c;
wire [2:0] DDR_MEM_1_ba_o_c;
wire [0:0] DDR_MEM_1_odt_o_c;
wire [0:0] DDR_MEM_1_cke_o_c;
wire VCC ;
wire GND ;
wire DDR_MEM_1_casn_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_wen_o_c ;
wire NC0 ;
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  GSR GSR_INST (
	.GSR_N(VCC),
	.CLK(NC0)
);
defparam GSR_INST.SYNCMODE="ASYNC";
// @49:90
  OB \DDR_MEM_1_cke_o_pad[0]  (
	.I(DDR_MEM_1_cke_o_c[0]),
	.O(DDR_MEM_1_cke_o[0])
);
// @49:89
  OB \DDR_MEM_1_odt_o_pad[0]  (
	.I(DDR_MEM_1_odt_o_c[0]),
	.O(DDR_MEM_1_odt_o[0])
);
// @49:88
  OB DDR_MEM_1_wen_o_pad (
	.I(DDR_MEM_1_wen_o_c),
	.O(DDR_MEM_1_wen_o)
);
// @49:87
  OB DDR_MEM_1_rasn_o_pad (
	.I(DDR_MEM_1_rasn_o_c),
	.O(DDR_MEM_1_rasn_o)
);
// @49:86
  OB DDR_MEM_1_casn_o_pad (
	.I(DDR_MEM_1_casn_o_c),
	.O(DDR_MEM_1_casn_o)
);
// @49:85
  OB \DDR_MEM_1_ba_o_pad[2]  (
	.I(DDR_MEM_1_ba_o_c[2]),
	.O(DDR_MEM_1_ba_o[2])
);
// @49:85
  OB \DDR_MEM_1_ba_o_pad[1]  (
	.I(DDR_MEM_1_ba_o_c[1]),
	.O(DDR_MEM_1_ba_o[1])
);
// @49:85
  OB \DDR_MEM_1_ba_o_pad[0]  (
	.I(DDR_MEM_1_ba_o_c[0]),
	.O(DDR_MEM_1_ba_o[0])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[12]  (
	.I(DDR_MEM_1_addr_o_c[12]),
	.O(DDR_MEM_1_addr_o[12])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[11]  (
	.I(DDR_MEM_1_addr_o_c[11]),
	.O(DDR_MEM_1_addr_o[11])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[10]  (
	.I(DDR_MEM_1_addr_o_c[10]),
	.O(DDR_MEM_1_addr_o[10])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[9]  (
	.I(DDR_MEM_1_addr_o_c[9]),
	.O(DDR_MEM_1_addr_o[9])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[8]  (
	.I(DDR_MEM_1_addr_o_c[8]),
	.O(DDR_MEM_1_addr_o[8])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[7]  (
	.I(DDR_MEM_1_addr_o_c[7]),
	.O(DDR_MEM_1_addr_o[7])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[6]  (
	.I(DDR_MEM_1_addr_o_c[6]),
	.O(DDR_MEM_1_addr_o[6])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[5]  (
	.I(DDR_MEM_1_addr_o_c[5]),
	.O(DDR_MEM_1_addr_o[5])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[4]  (
	.I(DDR_MEM_1_addr_o_c[4]),
	.O(DDR_MEM_1_addr_o[4])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[3]  (
	.I(DDR_MEM_1_addr_o_c[3]),
	.O(DDR_MEM_1_addr_o[3])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[2]  (
	.I(DDR_MEM_1_addr_o_c[2]),
	.O(DDR_MEM_1_addr_o[2])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[1]  (
	.I(DDR_MEM_1_addr_o_c[1]),
	.O(DDR_MEM_1_addr_o[1])
);
// @49:84
  OB \DDR_MEM_1_addr_o_pad[0]  (
	.I(DDR_MEM_1_addr_o_c[0]),
	.O(DDR_MEM_1_addr_o[0])
);
// @49:83
  OB \DDR_MEM_1_csn_o_pad[0]  (
	.I(DDR_MEM_1_csn_o_c[0]),
	.O(DDR_MEM_1_csn_o[0])
);
// @49:82
  OB \DDR_MEM_1_ck_o_pad[0]  (
	.I(DDR_MEM_1_ck_o_c[0]),
	.O(DDR_MEM_1_ck_o[0])
);
// @49:190
  DDR_MEM_1 DDR_MEM_1_inst (
	.dq_dqs1_io(dq_dqs1_io[7:0]),
	.dq_dqs0_io(dq_dqs0_io[7:0]),
	.DDR_MEM_1_csn_o_c_0(DDR_MEM_1_csn_o_c[0]),
	.DDR_MEM_1_addr_o_c(DDR_MEM_1_addr_o_c[12:0]),
	.DDR_MEM_1_ba_o_c(DDR_MEM_1_ba_o_c[2:0]),
	.DDR_MEM_1_odt_o_c_0(DDR_MEM_1_odt_o_c[0]),
	.DDR_MEM_1_cke_o_c_0(DDR_MEM_1_cke_o_c[0]),
	.DDR_MEM_1_ck_o_c_0(DDR_MEM_1_ck_o_c[0]),
	.dqs1_io(dqs1_io),
	.dqs0_io(dqs0_io),
	.DDR_MEM_1_casn_o_c(DDR_MEM_1_casn_o_c),
	.DDR_MEM_1_rasn_o_c(DDR_MEM_1_rasn_o_c),
	.DDR_MEM_1_wen_o_c(DDR_MEM_1_wen_o_c)
);
// @49:251
  MIPI_DPHY_1 MIPI_DPHY_1_inst (
	.MIPI_DPHY_1_data_p_io(MIPI_DPHY_1_data_p_io[3:0]),
	.MIPI_DPHY_1_data_n_io(MIPI_DPHY_1_data_n_io[3:0]),
	.MIPI_DPHY_1_clk_p_io(MIPI_DPHY_1_clk_p_io),
	.MIPI_DPHY_1_clk_n_io(MIPI_DPHY_1_clk_n_io)
);
// @49:281
  MIPI_DPHY_2 MIPI_DPHY_2_inst (
	.MIPI_DPHY_2_data_p_io(MIPI_DPHY_2_data_p_io[3:0]),
	.MIPI_DPHY_2_data_n_io(MIPI_DPHY_2_data_n_io[3:0]),
	.MIPI_DPHY_2_clk_p_io(MIPI_DPHY_2_clk_p_io),
	.MIPI_DPHY_2_clk_n_io(MIPI_DPHY_2_clk_n_io)
);
// @49:312
  I2C_DPHY_1 I2C_DPHY_1_inst (
	.I2C_DPHY_1_sda_io(I2C_DPHY_1_sda_io),
	.I2C_DPHY_1_scl_io(I2C_DPHY_1_scl_io)
);
// @49:325
  I2C_DPHY_2 I2C_DPHY_2_inst (
	.I2C_DPHY_2_sda_io(I2C_DPHY_2_sda_io),
	.I2C_DPHY_2_scl_io(I2C_DPHY_2_scl_io)
);
endmodule /* main */

