//
// Written by Synplify Pro 
// Product Version "U-2023.03LR-1"
// Program "Synplify Pro", Mapper "map202303lat, Build 070R"
// Mon Oct  2 17:37:17 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\lscc\radiant\2023.1\synpbase\lib\lucent\lifcl.v "
// file 1 "\c:\lscc\radiant\2023.1\synpbase\lib\lucent\pmi_def.v "
// file 2 "\c:\lscc\radiant\2023.1\synpbase\lib\vlog\hypermods.v "
// file 3 "\c:\lscc\radiant\2023.1\synpbase\lib\vlog\scemi_objects.v "
// file 4 "\c:\lscc\radiant\2023.1\synpbase\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_lifcl.v "
// file 6 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_addsub.v "
// file 7 "\c:\lscc\radiant\2023.1\ip\pmi\../common/adder_subtractor/rtl\lscc_add_sub.v "
// file 8 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_add.v "
// file 9 "\c:\lscc\radiant\2023.1\ip\pmi\../common/adder/rtl\lscc_adder.v "
// file 10 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_complex_mult.v "
// file 11 "\c:\lscc\radiant\2023.1\ip\pmi\../common/complex_mult/rtl\lscc_complex_mult.v "
// file 12 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_counter.v "
// file 13 "\c:\lscc\radiant\2023.1\ip\pmi\../common/counter/rtl\lscc_cntr.v "
// file 14 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_dpram.v "
// file 15 "\c:\lscc\radiant\2023.1\ip\pmi\../common/distributed_dpram/rtl\lscc_distributed_dpram.v "
// file 16 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_spram.v "
// file 17 "\c:\lscc\radiant\2023.1\ip\pmi\../common/distributed_spram/rtl\lscc_distributed_spram.v "
// file 18 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_rom.v "
// file 19 "\c:\lscc\radiant\2023.1\ip\pmi\../common/distributed_rom/rtl\lscc_distributed_rom.v "
// file 20 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_distributed_shift_reg.v "
// file 21 "\c:\lscc\radiant\2023.1\ip\pmi\../common/ram_shift_reg/rtl\lscc_shift_register.v "
// file 22 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_fifo.v "
// file 23 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/fifo/rtl\lscc_fifo.v "
// file 24 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_fifo_dc.v "
// file 25 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/fifo_dc/rtl\lscc_fifo_dc.v "
// file 26 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_mac.v "
// file 27 "\c:\lscc\radiant\2023.1\ip\pmi\../common/mult_accumulate/rtl\lscc_mult_accumulate.v "
// file 28 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_multaddsubsum.v "
// file 29 "\c:\lscc\radiant\2023.1\ip\pmi\../common/mult_add_sub_sum/rtl\lscc_mult_add_sub_sum.v "
// file 30 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_multaddsub.v "
// file 31 "\c:\lscc\radiant\2023.1\ip\pmi\../common/mult_add_sub/rtl\lscc_mult_add_sub.v "
// file 32 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_mult.v "
// file 33 "\c:\lscc\radiant\2023.1\ip\pmi\../common/multiplier/rtl\lscc_multiplier.v "
// file 34 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dp.v "
// file 35 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/ram_dp/rtl\lscc_ram_dp.v "
// file 36 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dp_be.v "
// file 37 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dp_true.v "
// file 38 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/ram_dp_true/rtl\lscc_ram_dp_true.v "
// file 39 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dq.v "
// file 40 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/ram_dq/rtl\lscc_ram_dq.v "
// file 41 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_ram_dq_be.v "
// file 42 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_rom.v "
// file 43 "\c:\lscc\radiant\2023.1\ip\pmi\../avant/rom/rtl\lscc_rom.v "
// file 44 "\c:\lscc\radiant\2023.1\ip\pmi\pmi_sub.v "
// file 45 "\c:\lscc\radiant\2023.1\ip\pmi\../common/subtractor/rtl\lscc_subtractor.v "
// file 46 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\mipi_dphy_1\rtl\mipi_dphy_1.v "
// file 47 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\ddr_mem_1\ddr_mem_1\rtl\ddr_mem_1.v "
// file 48 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\mipi_dphy_2\rtl\mipi_dphy_2.v "
// file 49 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\source\impl_1\main.v "
// file 50 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\i2c_dphy_1\i2c_dphy_1\rtl\i2c_dphy_1.v "
// file 51 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\i2c_dphy_2\i2c_dphy_2\rtl\i2c_dphy_2.v "
// file 52 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\ip\pll_1\pll_1\rtl\pll_1.v "
// file 53 "\c:\lscc\radiant\2023.1\synpbase\lib\nlconst.dat "
// file 54 "\c:\users\timot\documents\programming\fpga-accelerator\software\lattice_project_1\impl_1\lattice_project_1_impl_1_cpe.ldc "
// file 55 "\c:/users/timot/documents/programming/fpga-accelerator/software/lattice_project_1/impl_1/lattice_project_1_impl_1_cpe.ldc "

`timescale 100 ps/100 ps
module DDR_MEM_1_ipgen_common_logic_2s_2 (
  code_w,
  PLL_1_clkos_o,
  eclkout_w,
  sclk_o
)
;
output [8:0] code_w ;
input PLL_1_clkos_o ;
output eclkout_w ;
output sclk_o ;
wire PLL_1_clkos_o ;
wire eclkout_w ;
wire sclk_o ;
wire [8:0] dcnt_o_w;
wire GND ;
wire lock_w ;
wire VCC ;
//@47:4198
// @47:1070
  DDRDLL u0_DDRDLL (
	.CODE(code_w[8:0]),
	.FREEZE(GND),
	.LOCK(lock_w),
	.CLKIN(eclkout_w),
	.RST(GND),
	.DCNTL(dcnt_o_w[8:0]),
	.UDDCNTL_N(VCC)
);
defparam u0_DDRDLL.GSR = "ENABLED";
defparam u0_DDRDLL.ENA_ROUNDOFF = "ENABLED";
defparam u0_DDRDLL.FORCE_MAX_DELAY = "CODE_OR_LOCK_FROM_DLL_LOOP";
// @47:1053
  ECLKSYNC u0_ECLKSYNC (
	.ECLKIN(PLL_1_clkos_o),
	.ECLKOUT(eclkout_w),
	.STOP(GND)
);
defparam u0_ECLKSYNC.STOP_EN = "ENABLE";
// @47:1047
  ECLKDIV u0_ECLKDIV (
	.DIVOUT(sclk_o),
	.DIVRST(GND),
	.ECLKIN(eclkout_w),
	.SLIP(GND)
);
defparam u0_ECLKDIV.ECLK_DIV = "2";
defparam u0_ECLKDIV.GSR = "DISABLED";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_common_logic_2s_2 */

module DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0 (
  code_w,
  dq_dqs1_io,
  sclk_o,
  eclkout_w,
  dqs1_io
)
;
input [8:0] code_w ;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
input sclk_o ;
input eclkout_w ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
wire sclk_o ;
wire eclkout_w ;
wire dqs1_io ;
wire [7:0] dout_w;
wire [7:0] bb_o_di;
wire [2:0] rdpntr_w;
wire [2:0] wrpntr_w;
wire dqs_o_w ;
wire dqs_outen_n_w ;
wire dqs_bb_out_w ;
wire dqts_w ;
wire GND ;
wire sw270_out_w ;
wire dqswout_w ;
wire burst_detect_o ;
wire burst_detect_sclk_o ;
wire data_valid_o ;
wire dqsw_rd_section_o ;
wire VCC ;
wire rd_cout_o ;
wire sr90_out_w ;
wire wr_cout_o ;
wire wrvl_cout_o ;
// @47:1338
  BB \DQS_BLOCK.u_DQS_BB  (
	.B(dqs1_io),
	.I(dqs_o_w),
	.T(dqs_outen_n_w),
	.O(dqs_bb_out_w)
);
// @47:1460
  BB \DQ_BLOCK[6].u_DQ_BB  (
	.B(dq_dqs1_io[6]),
	.I(dout_w[6]),
	.T(dqts_w),
	.O(bb_o_di[6])
);
// @47:1460
  BB \DQ_BLOCK[4].u_DQ_BB  (
	.B(dq_dqs1_io[4]),
	.I(dout_w[4]),
	.T(dqts_w),
	.O(bb_o_di[4])
);
// @47:1460
  BB \DQ_BLOCK[2].u_DQ_BB  (
	.B(dq_dqs1_io[2]),
	.I(dout_w[2]),
	.T(dqts_w),
	.O(bb_o_di[2])
);
// @47:1460
  BB \DQ_BLOCK[0].u_DQ_BB  (
	.B(dq_dqs1_io[0]),
	.I(dout_w[0]),
	.T(dqts_w),
	.O(bb_o_di[0])
);
// @47:1460
  BB \DQ_BLOCK[1].u_DQ_BB  (
	.B(dq_dqs1_io[1]),
	.I(dout_w[1]),
	.T(dqts_w),
	.O(bb_o_di[1])
);
// @47:1460
  BB \DQ_BLOCK[3].u_DQ_BB  (
	.B(dq_dqs1_io[3]),
	.I(dout_w[3]),
	.T(dqts_w),
	.O(bb_o_di[3])
);
// @47:1460
  BB \DQ_BLOCK[5].u_DQ_BB  (
	.B(dq_dqs1_io[5]),
	.I(dout_w[5]),
	.T(dqts_w),
	.O(bb_o_di[5])
);
// @47:1460
  BB \DQ_BLOCK[7].u_DQ_BB  (
	.B(dq_dqs1_io[7]),
	.I(dout_w[7]),
	.T(dqts_w),
	.O(bb_o_di[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[1].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[1])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[5].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[5])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[2].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[2])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[4].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[4])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[7].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[0].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[0])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[3].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[3])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[6].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[6])
);
// @47:1411
  TSHX2DQS \TS_BLOCK.TS_X2.u_TSHX2DQS  (
	.T0(GND),
	.T1(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_outen_n_w)
);
// @47:1398
  TSHX2DQ \TS_BLOCK.TS_X2.u_TSHX2DQ  (
	.T0(GND),
	.T1(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqts_w)
);
// @47:1349
  ODDRX2DQS \DQS_BLOCK.DQS_X2.u_ODDRX2DQS  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_o_w)
);
// @47:1299
  DQSBUF u0_DQSBUF (
	.BTDETECT(burst_detect_o),
	.BURSTDETECT(burst_detect_sclk_o),
	.DATAVALID(data_valid_o),
	.DQSI(dqs_bb_out_w),
	.DQSW(dqswout_w),
	.DQSWRD(dqsw_rd_section_o),
	.PAUSE(GND),
	.RDCLKSEL({GND, GND, GND, GND}),
	.RDDIR(GND),
	.RDLOADN(VCC),
	.RDPNTR(rdpntr_w[2:0]),
	.READ({GND, GND, GND, GND}),
	.READCOUT(rd_cout_o),
	.READMOVE(GND),
	.RST(GND),
	.SCLK(sclk_o),
	.SELCLK(GND),
	.DQSR90(sr90_out_w),
	.DQSW270(sw270_out_w),
	.WRCOUT(wr_cout_o),
	.WRDIR(GND),
	.WRLOAD_N(VCC),
	.WRLVCOUT(wrvl_cout_o),
	.WRLVDIR(GND),
	.WRLVLOAD_N(VCC),
	.WRLVMOVE(GND),
	.WRMOVE(GND),
	.WRPNTR(wrpntr_w[2:0]),
	.ECLKIN(eclkout_w),
	.RSTSMCNT(GND),
	.DLLCODE(code_w[8:0])
);
defparam u0_DQSBUF.GSR = "ENABLED";
defparam u0_DQSBUF.ENABLE_FIFO = "ENABLED";
defparam u0_DQSBUF.FORCE_READ = "ENABLED";
defparam u0_DQSBUF.FREE_WHEEL = "DDR";
defparam u0_DQSBUF.MODX = "MDDRX2";
defparam u0_DQSBUF.MT_EN_READ = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE_LEVELING = "ENABLED";
defparam u0_DQSBUF.RD_PNTR = "0b000";
defparam u0_DQSBUF.READ_ENABLE = "ENABLED";
defparam u0_DQSBUF.RX_CENTERED = "ENABLED";
defparam u0_DQSBUF.S_READ = "0";
defparam u0_DQSBUF.S_WRITE = "0";
defparam u0_DQSBUF.SIGN_READ = "POSITIVE";
defparam u0_DQSBUF.SIGN_WRITE = "POSITIVE";
defparam u0_DQSBUF.UPDATE_QU = "UP1_AND_UP0_SAME";
defparam u0_DQSBUF.WRITE_ENABLE = "ENABLED";
defparam u0_DQSBUF.SEL_READ_BIT_ENABLE_CYCLES = "NORMAL";
defparam u0_DQSBUF.BYPASS_WR_LEVEL_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_WR_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_READ_SMTH_LATCH = "SMOOTHING_PATH";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0 */

module DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0_0 (
  code_w,
  dq_dqs0_io,
  sclk_o,
  eclkout_w,
  dqs0_io
)
;
input [8:0] code_w ;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
input sclk_o ;
input eclkout_w ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
wire sclk_o ;
wire eclkout_w ;
wire dqs0_io ;
wire [7:0] dout_w;
wire [7:0] bb_o_di;
wire [2:0] rdpntr_w;
wire [2:0] wrpntr_w;
wire dqs_o_w ;
wire dqs_outen_n_w ;
wire dqs_bb_out_w ;
wire dqts_w ;
wire GND ;
wire sw270_out_w ;
wire dqswout_w ;
wire burst_detect_o ;
wire burst_detect_sclk_o ;
wire data_valid_o ;
wire dqsw_rd_section_o ;
wire VCC ;
wire rd_cout_o ;
wire sr90_out_w ;
wire wr_cout_o ;
wire wrvl_cout_o ;
// @47:1338
  BB \DQS_BLOCK.u_DQS_BB  (
	.B(dqs0_io),
	.I(dqs_o_w),
	.T(dqs_outen_n_w),
	.O(dqs_bb_out_w)
);
// @47:1460
  BB \DQ_BLOCK[6].u_DQ_BB  (
	.B(dq_dqs0_io[6]),
	.I(dout_w[6]),
	.T(dqts_w),
	.O(bb_o_di[6])
);
// @47:1460
  BB \DQ_BLOCK[4].u_DQ_BB  (
	.B(dq_dqs0_io[4]),
	.I(dout_w[4]),
	.T(dqts_w),
	.O(bb_o_di[4])
);
// @47:1460
  BB \DQ_BLOCK[2].u_DQ_BB  (
	.B(dq_dqs0_io[2]),
	.I(dout_w[2]),
	.T(dqts_w),
	.O(bb_o_di[2])
);
// @47:1460
  BB \DQ_BLOCK[0].u_DQ_BB  (
	.B(dq_dqs0_io[0]),
	.I(dout_w[0]),
	.T(dqts_w),
	.O(bb_o_di[0])
);
// @47:1460
  BB \DQ_BLOCK[1].u_DQ_BB  (
	.B(dq_dqs0_io[1]),
	.I(dout_w[1]),
	.T(dqts_w),
	.O(bb_o_di[1])
);
// @47:1460
  BB \DQ_BLOCK[3].u_DQ_BB  (
	.B(dq_dqs0_io[3]),
	.I(dout_w[3]),
	.T(dqts_w),
	.O(bb_o_di[3])
);
// @47:1460
  BB \DQ_BLOCK[5].u_DQ_BB  (
	.B(dq_dqs0_io[5]),
	.I(dout_w[5]),
	.T(dqts_w),
	.O(bb_o_di[5])
);
// @47:1460
  BB \DQ_BLOCK[7].u_DQ_BB  (
	.B(dq_dqs0_io[7]),
	.I(dout_w[7]),
	.T(dqts_w),
	.O(bb_o_di[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[1].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[1])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[5].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[5])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[2].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[2])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[4].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[4])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[7].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[7])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[0].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[0])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[3].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[3])
);
// @47:1490
  ODDRX2DQ \DQ_BLOCK[6].DQ_X2.u_DQ_ODDRX2DQ  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dout_w[6])
);
// @47:1411
  TSHX2DQS \TS_BLOCK.TS_X2.u_TSHX2DQS  (
	.T0(GND),
	.T1(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_outen_n_w)
);
// @47:1398
  TSHX2DQ \TS_BLOCK.TS_X2.u_TSHX2DQ  (
	.T0(GND),
	.T1(GND),
	.DQSW270(sw270_out_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqts_w)
);
// @47:1349
  ODDRX2DQS \DQS_BLOCK.DQS_X2.u_ODDRX2DQS  (
	.D0(GND),
	.D1(GND),
	.D2(GND),
	.D3(GND),
	.DQSW(dqswout_w),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(dqs_o_w)
);
// @47:1299
  DQSBUF u0_DQSBUF (
	.BTDETECT(burst_detect_o),
	.BURSTDETECT(burst_detect_sclk_o),
	.DATAVALID(data_valid_o),
	.DQSI(dqs_bb_out_w),
	.DQSW(dqswout_w),
	.DQSWRD(dqsw_rd_section_o),
	.PAUSE(GND),
	.RDCLKSEL({GND, GND, GND, GND}),
	.RDDIR(GND),
	.RDLOADN(VCC),
	.RDPNTR(rdpntr_w[2:0]),
	.READ({GND, GND, GND, GND}),
	.READCOUT(rd_cout_o),
	.READMOVE(GND),
	.RST(GND),
	.SCLK(sclk_o),
	.SELCLK(GND),
	.DQSR90(sr90_out_w),
	.DQSW270(sw270_out_w),
	.WRCOUT(wr_cout_o),
	.WRDIR(GND),
	.WRLOAD_N(VCC),
	.WRLVCOUT(wrvl_cout_o),
	.WRLVDIR(GND),
	.WRLVLOAD_N(VCC),
	.WRLVMOVE(GND),
	.WRMOVE(GND),
	.WRPNTR(wrpntr_w[2:0]),
	.ECLKIN(eclkout_w),
	.RSTSMCNT(GND),
	.DLLCODE(code_w[8:0])
);
defparam u0_DQSBUF.GSR = "ENABLED";
defparam u0_DQSBUF.ENABLE_FIFO = "ENABLED";
defparam u0_DQSBUF.FORCE_READ = "ENABLED";
defparam u0_DQSBUF.FREE_WHEEL = "DDR";
defparam u0_DQSBUF.MODX = "MDDRX2";
defparam u0_DQSBUF.MT_EN_READ = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE = "ENABLED";
defparam u0_DQSBUF.MT_EN_WRITE_LEVELING = "ENABLED";
defparam u0_DQSBUF.RD_PNTR = "0b000";
defparam u0_DQSBUF.READ_ENABLE = "ENABLED";
defparam u0_DQSBUF.RX_CENTERED = "ENABLED";
defparam u0_DQSBUF.S_READ = "0";
defparam u0_DQSBUF.S_WRITE = "0";
defparam u0_DQSBUF.SIGN_READ = "POSITIVE";
defparam u0_DQSBUF.SIGN_WRITE = "POSITIVE";
defparam u0_DQSBUF.UPDATE_QU = "UP1_AND_UP0_SAME";
defparam u0_DQSBUF.WRITE_ENABLE = "ENABLED";
defparam u0_DQSBUF.SEL_READ_BIT_ENABLE_CYCLES = "NORMAL";
defparam u0_DQSBUF.BYPASS_WR_LEVEL_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_WR_SMTH_LATCH = "SMOOTHING_PATH";
defparam u0_DQSBUF.BYPASS_READ_SMTH_LATCH = "SMOOTHING_PATH";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0_0 */

module DDR_MEM_1_ipgen_moshx2_4_csn_SSTL15_II_SSTL15D_II_2s_1s_DQS_CMD_CLK (
  DDR_MEM_1_csn_o_c_0,
  sclk_o,
  eclkout_w
)
;
output DDR_MEM_1_csn_o_c_0 ;
input sclk_o ;
input eclkout_w ;
wire DDR_MEM_1_csn_o_c_0 ;
wire sclk_o ;
wire eclkout_w ;
wire [0:0] q_out_csn_w;
wire GND ;
wire VCC ;
// @47:2449
  OSHX2 \DDR_CSN[0].DDR_CSN_X2.u_CSN_OSHX2  (
	.D0(GND),
	.D1(GND),
	.ECLK(eclkout_w),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(q_out_csn_w[0])
);
// @47:2443
  DELAYB \DDR_CSN[0].u_DELAYB  (
	.A(q_out_csn_w[0]),
	.Z(DDR_MEM_1_csn_o_c_0)
);
defparam \DDR_CSN[0].u_DELAYB .DEL_VALUE = "0";
defparam \DDR_CSN[0].u_DELAYB .COARSE_DELAY = "0NS";
defparam \DDR_CSN[0].u_DELAYB .DEL_MODE = "DQS_CMD_CLK";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_moshx2_4_csn_SSTL15_II_SSTL15D_II_2s_1s_DQS_CMD_CLK */

module DDR_MEM_1_ipgen_oddrx2_4_addr_cmd_cke_odt_SSTL15_II_13s_2s_2s_3s_1s_1s_ODDRX1_SCLK_3_layer0 (
  DDR_MEM_1_addr_o_c,
  DDR_MEM_1_ba_o_c,
  DDR_MEM_1_odt_o_c_0,
  DDR_MEM_1_cke_o_c_0,
  DDR_MEM_1_casn_o_c,
  DDR_MEM_1_rasn_o_c,
  DDR_MEM_1_wen_o_c,
  sclk_o
)
;
output [12:0] DDR_MEM_1_addr_o_c ;
output [2:0] DDR_MEM_1_ba_o_c ;
output DDR_MEM_1_odt_o_c_0 ;
output DDR_MEM_1_cke_o_c_0 ;
output DDR_MEM_1_casn_o_c ;
output DDR_MEM_1_rasn_o_c ;
output DDR_MEM_1_wen_o_c ;
input sclk_o ;
wire DDR_MEM_1_odt_o_c_0 ;
wire DDR_MEM_1_cke_o_c_0 ;
wire DDR_MEM_1_casn_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_wen_o_c ;
wire sclk_o ;
wire GND ;
wire VCC ;
// @47:2815
  ODDRX1 \DDR_CKE[0].DDR_CKE_X2.u_CKE_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_cke_o_c_0)
);
// @47:2778
  ODDRX1 \DDR_ODT[0].DDR_ODT_X2.u_ODT_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_odt_o_c_0)
);
// @47:2741
  ODDRX1 \DDR_WEN.DDR_WEN_X2.u_WEN_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_wen_o_c)
);
// @47:2705
  ODDRX1 \DDR_RASN.DDR_RASN_X2.u_RASN_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_rasn_o_c)
);
// @47:2669
  ODDRX1 \DDR_CASN.DDR_CASN_X2.u_CASN_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_casn_o_c)
);
// @47:2633
  ODDRX1 \DDR_BA[2].DDR_BA_X2.u_BA_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_ba_o_c[2])
);
// @47:2633
  ODDRX1 \DDR_BA[0].DDR_BA_X2.u_BA_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_ba_o_c[0])
);
// @47:2633
  ODDRX1 \DDR_BA[1].DDR_BA_X2.u_BA_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_ba_o_c[1])
);
// @47:2596
  ODDRX1 \DDR_ADDR[3].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[3])
);
// @47:2596
  ODDRX1 \DDR_ADDR[8].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[8])
);
// @47:2596
  ODDRX1 \DDR_ADDR[2].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[2])
);
// @47:2596
  ODDRX1 \DDR_ADDR[9].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[9])
);
// @47:2596
  ODDRX1 \DDR_ADDR[5].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[5])
);
// @47:2596
  ODDRX1 \DDR_ADDR[10].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[10])
);
// @47:2596
  ODDRX1 \DDR_ADDR[4].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[4])
);
// @47:2596
  ODDRX1 \DDR_ADDR[11].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[11])
);
// @47:2596
  ODDRX1 \DDR_ADDR[6].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[6])
);
// @47:2596
  ODDRX1 \DDR_ADDR[12].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[12])
);
// @47:2596
  ODDRX1 \DDR_ADDR[1].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[1])
);
// @47:2596
  ODDRX1 \DDR_ADDR[0].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[0])
);
// @47:2596
  ODDRX1 \DDR_ADDR[7].DDR_ADDR_X2.u_ADDR_ODDRX1  (
	.D0(GND),
	.D1(GND),
	.SCLK(sclk_o),
	.RST(GND),
	.Q(DDR_MEM_1_addr_o_c[7])
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_oddrx2_4_addr_cmd_cke_odt_SSTL15_II_13s_2s_2s_3s_1s_1s_ODDRX1_SCLK_3_layer0 */

module DDR_MEM_1_ipgen_oddrx2_4_ck_SSTL15_II_1s_2s_DQS_CMD_CLK (
  DDR_MEM_1_ck_o_c_0,
  eclkout_w,
  sclk_o
)
;
output DDR_MEM_1_ck_o_c_0 ;
input eclkout_w ;
input sclk_o ;
wire DDR_MEM_1_ck_o_c_0 ;
wire eclkout_w ;
wire sclk_o ;
wire [0:0] q_out_clk_w;
wire GND ;
wire VCC ;
// @47:2948
  ODDRX2 \DDR_CLK[0].DDR_CLK_X2.u_ck_ODDRX2  (
	.D0(GND),
	.D1(VCC),
	.D2(GND),
	.D3(VCC),
	.SCLK(sclk_o),
	.RST(GND),
	.ECLK(eclkout_w),
	.Q(q_out_clk_w[0])
);
// @47:2942
  DELAYB \DDR_CLK[0].u_DELAYB  (
	.A(q_out_clk_w[0]),
	.Z(DDR_MEM_1_ck_o_c_0)
);
defparam \DDR_CLK[0].u_DELAYB .DEL_VALUE = "0";
defparam \DDR_CLK[0].u_DELAYB .COARSE_DELAY = "0NS";
defparam \DDR_CLK[0].u_DELAYB .DEL_MODE = "DQS_CMD_CLK";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* DDR_MEM_1_ipgen_oddrx2_4_ck_SSTL15_II_1s_2s_DQS_CMD_CLK */

module DDR_MEM_1_ipgen_lscc_ddr_mem_Z1_layer0 (
  DDR_MEM_1_ck_o_c_0,
  DDR_MEM_1_cke_o_c_0,
  DDR_MEM_1_odt_o_c_0,
  DDR_MEM_1_ba_o_c,
  DDR_MEM_1_addr_o_c,
  DDR_MEM_1_csn_o_c_0,
  dq_dqs0_io,
  dq_dqs1_io,
  DDR_MEM_1_wen_o_c,
  DDR_MEM_1_rasn_o_c,
  DDR_MEM_1_casn_o_c,
  dqs0_io,
  dqs1_io,
  PLL_1_clkos_o
)
;
output DDR_MEM_1_ck_o_c_0 ;
output DDR_MEM_1_cke_o_c_0 ;
output DDR_MEM_1_odt_o_c_0 ;
output [2:0] DDR_MEM_1_ba_o_c ;
output [12:0] DDR_MEM_1_addr_o_c ;
output DDR_MEM_1_csn_o_c_0 ;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
output DDR_MEM_1_wen_o_c ;
output DDR_MEM_1_rasn_o_c ;
output DDR_MEM_1_casn_o_c ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkos_o ;
wire DDR_MEM_1_ck_o_c_0 ;
wire DDR_MEM_1_cke_o_c_0 ;
wire DDR_MEM_1_odt_o_c_0 ;
wire DDR_MEM_1_csn_o_c_0 ;
wire DDR_MEM_1_wen_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_casn_o_c ;
wire dqs0_io ;
wire dqs1_io ;
wire PLL_1_clkos_o ;
wire [8:0] code_w;
wire N_34 ;
wire N_33 ;
wire N_32 ;
wire N_31 ;
wire N_30 ;
wire N_29 ;
wire N_28 ;
wire N_13 ;
wire N_12 ;
wire N_11 ;
wire eclkout_w ;
wire sclk_o ;
wire GND ;
wire VCC ;
// @47:4198
  DDR_MEM_1_ipgen_common_logic_2s_2 u1_common_logic (
	.code_w(code_w[8:0]),
	.PLL_1_clkos_o(PLL_1_clkos_o),
	.eclkout_w(eclkout_w),
	.sclk_o(sclk_o)
);
// @47:4565
  DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0 \DW_16.u1_dq_dqs_dm_unit  (
	.code_w(code_w[8:0]),
	.dq_dqs1_io(dq_dqs1_io[7:0]),
	.sclk_o(sclk_o),
	.eclkout_w(eclkout_w),
	.dqs1_io(dqs1_io)
);
// @47:4614
  DDR_MEM_1_ipgen_dq_dqs_dm_unit_Z2_layer0_0 \DW_8.u1_dq_dqs_dm_unit  (
	.code_w(code_w[8:0]),
	.dq_dqs0_io(dq_dqs0_io[7:0]),
	.sclk_o(sclk_o),
	.eclkout_w(eclkout_w),
	.dqs0_io(dqs0_io)
);
// @47:4657
  DDR_MEM_1_ipgen_moshx2_4_csn_SSTL15_II_SSTL15D_II_2s_1s_DQS_CMD_CLK \DDR3_DDR3L_CLK_ADDR_CMD_ENABLE.u1_moshx2_4_csn  (
	.DDR_MEM_1_csn_o_c_0(DDR_MEM_1_csn_o_c_0),
	.sclk_o(sclk_o),
	.eclkout_w(eclkout_w)
);
// @47:4668
  DDR_MEM_1_ipgen_oddrx2_4_addr_cmd_cke_odt_SSTL15_II_13s_2s_2s_3s_1s_1s_ODDRX1_SCLK_3_layer0 \DDR3_DDR3L_CLK_ADDR_CMD_ENABLE.u1_oddrx2_4_addr_cmd_cke_odt  (
	.DDR_MEM_1_addr_o_c(DDR_MEM_1_addr_o_c[12:0]),
	.DDR_MEM_1_ba_o_c(DDR_MEM_1_ba_o_c[2:0]),
	.DDR_MEM_1_odt_o_c_0(DDR_MEM_1_odt_o_c_0),
	.DDR_MEM_1_cke_o_c_0(DDR_MEM_1_cke_o_c_0),
	.DDR_MEM_1_casn_o_c(DDR_MEM_1_casn_o_c),
	.DDR_MEM_1_rasn_o_c(DDR_MEM_1_rasn_o_c),
	.DDR_MEM_1_wen_o_c(DDR_MEM_1_wen_o_c),
	.sclk_o(sclk_o)
);
// @47:4687
  DDR_MEM_1_ipgen_oddrx2_4_ck_SSTL15_II_1s_2s_DQS_CMD_CLK \DDR3_DDR3L_CLK_ADDR_CMD_ENABLE.u1_oddrx2_4_ck  (
	.DDR_MEM_1_ck_o_c_0(DDR_MEM_1_ck_o_c_0),
	.eclkout_w(eclkout_w),
	.sclk_o(sclk_o)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* DDR_MEM_1_ipgen_lscc_ddr_mem_Z1_layer0 */

module DDR_MEM_1 (
  dq_dqs1_io,
  dq_dqs0_io,
  DDR_MEM_1_csn_o_c_0,
  DDR_MEM_1_addr_o_c,
  DDR_MEM_1_ba_o_c,
  DDR_MEM_1_odt_o_c_0,
  DDR_MEM_1_cke_o_c_0,
  DDR_MEM_1_ck_o_c_0,
  PLL_1_clkos_o,
  dqs1_io,
  dqs0_io,
  DDR_MEM_1_casn_o_c,
  DDR_MEM_1_rasn_o_c,
  DDR_MEM_1_wen_o_c
)
;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
output DDR_MEM_1_csn_o_c_0 ;
output [12:0] DDR_MEM_1_addr_o_c ;
output [2:0] DDR_MEM_1_ba_o_c ;
output DDR_MEM_1_odt_o_c_0 ;
output DDR_MEM_1_cke_o_c_0 ;
output DDR_MEM_1_ck_o_c_0 ;
input PLL_1_clkos_o ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
output DDR_MEM_1_casn_o_c ;
output DDR_MEM_1_rasn_o_c ;
output DDR_MEM_1_wen_o_c ;
wire DDR_MEM_1_csn_o_c_0 ;
wire DDR_MEM_1_odt_o_c_0 ;
wire DDR_MEM_1_cke_o_c_0 ;
wire DDR_MEM_1_ck_o_c_0 ;
wire PLL_1_clkos_o ;
wire dqs1_io ;
wire dqs0_io ;
wire DDR_MEM_1_casn_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_wen_o_c ;
wire GND ;
wire VCC ;
// @47:243
  DDR_MEM_1_ipgen_lscc_ddr_mem_Z1_layer0 lscc_ddr_mem_inst (
	.DDR_MEM_1_ck_o_c_0(DDR_MEM_1_ck_o_c_0),
	.DDR_MEM_1_cke_o_c_0(DDR_MEM_1_cke_o_c_0),
	.DDR_MEM_1_odt_o_c_0(DDR_MEM_1_odt_o_c_0),
	.DDR_MEM_1_ba_o_c(DDR_MEM_1_ba_o_c[2:0]),
	.DDR_MEM_1_addr_o_c(DDR_MEM_1_addr_o_c[12:0]),
	.DDR_MEM_1_csn_o_c_0(DDR_MEM_1_csn_o_c_0),
	.dq_dqs0_io(dq_dqs0_io[7:0]),
	.dq_dqs1_io(dq_dqs1_io[7:0]),
	.DDR_MEM_1_wen_o_c(DDR_MEM_1_wen_o_c),
	.DDR_MEM_1_rasn_o_c(DDR_MEM_1_rasn_o_c),
	.DDR_MEM_1_casn_o_c(DDR_MEM_1_casn_o_c),
	.dqs0_io(dqs0_io),
	.dqs1_io(dqs1_io),
	.PLL_1_clkos_o(PLL_1_clkos_o)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* DDR_MEM_1 */

module MIPI_DPHY_1_ipgen_lscc_mipi_wrapper_rx_Z5_layer0 (
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_1_clk_p_io,
  MIPI_DPHY_1_clk_n_io,
  PLL_1_clkop_o
)
;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
wire MIPI_DPHY_1_clk_p_io ;
wire MIPI_DPHY_1_clk_n_io ;
wire PLL_1_clkop_o ;
wire [3:0] lmmi_rdata_o;
wire [1:0] un1_u_dphy_cil_5;
wire [9:0] un1_u_dphy_cil_38;
wire [9:0] un1_u_dphy_cil_39;
wire [1:0] un1_u_dphy_cil_88;
wire [1:0] un1_u_dphy_cil_89;
wire [1:0] un1_u_dphy_cil_90;
wire [9:0] un1_u_dphy_cil_64;
wire [9:0] un1_u_dphy_cil_65;
wire [1:0] un1_u_dphy_cil_66;
wire [1:0] un1_u_dphy_cil_67;
wire [1:0] un1_u_dphy_cil_68;
wire [9:0] un1_u_dphy_cil_69;
wire [9:0] un1_u_dphy_cil_70;
wire [1:0] un1_u_dphy_cil_71;
wire [1:0] un1_u_dphy_cil_72;
wire [1:0] un1_u_dphy_cil_73;
wire [9:0] un1_u_dphy_cil_74;
wire [9:0] un1_u_dphy_cil_22;
wire [1:0] un1_u_dphy_cil_23;
wire [1:0] un1_u_dphy_cil_104;
wire [9:0] un1_u_dphy_cil_105;
wire [7:0] un1_u_dphy_cil_45;
wire [15:0] dphy_hs_data_line0_w;
wire [3:0] u_rx_sync_hs_w;
wire [3:0] un1_u_dphy_cil_30;
wire [7:0] un1_u_dphy_cil_140;
wire [15:0] dphy_hs_data_line1_w;
wire [3:0] u1_rx_sync_hs_w;
wire [3:0] un1_u_dphy_cil_85;
wire [7:0] un1_u_dphy_cil_21;
wire [15:0] dphy_hs_data_line2_w;
wire [3:0] u2_rx_sync_hs_w;
wire [3:0] un1_u_dphy_cil_100;
wire [7:0] un1_u_dphy_cil_36;
wire [15:0] dphy_hs_data_line3_w;
wire [3:0] u3_rx_sync_hs_w;
wire [3:0] un1_u_dphy_cil_53;
wire VCC ;
wire GND ;
wire lmmi_rdata_valid_o ;
wire ready_o ;
wire un1_u_dphy_cil_114 ;
wire un1_u_dphy_cil_48 ;
wire un1_u_dphy_cil_49 ;
wire un1_u_dphy_cil_50 ;
wire un1_u_dphy_cil_118 ;
wire un1_u_dphy_cil_119 ;
wire un1_u_dphy_cil ;
wire un1_u_dphy_cil_1 ;
wire un1_u_dphy_cil_78 ;
wire un1_u_dphy_cil_43 ;
wire un1_u_dphy_cil_44 ;
wire un1_u_dphy_cil_3 ;
wire un1_u_dphy_cil_128 ;
wire un1_u_dphy_cil_129 ;
wire un1_u_dphy_cil_24 ;
wire un1_u_dphy_cil_25 ;
wire un1_u_dphy_cil_26 ;
wire un1_u_dphy_cil_27 ;
wire un1_u_dphy_cil_28 ;
wire un1_u_dphy_cil_29 ;
wire un1_u_dphy_cil_31 ;
wire un1_u_dphy_cil_32 ;
wire un1_u_dphy_cil_33 ;
wire un1_u_dphy_cil_34 ;
wire un1_u_dphy_cil_62 ;
wire un1_u_dphy_cil_63 ;
wire un1_u_dphy_cil_131 ;
wire un1_u_dphy_cil_132 ;
wire un1_u_dphy_cil_133 ;
wire un1_u_dphy_cil_134 ;
wire un1_u_dphy_cil_135 ;
wire un1_u_dphy_cil_136 ;
wire un1_u_dphy_cil_137 ;
wire un1_u_dphy_cil_138 ;
wire un1_u_dphy_cil_139 ;
wire un1_u_dphy_cil_8 ;
wire un1_u_dphy_cil_9 ;
wire un1_u_dphy_cil_10 ;
wire un1_u_dphy_cil_123 ;
wire un1_u_dphy_cil_40 ;
wire un1_u_dphy_cil_41 ;
wire un1_u_dphy_cil_42 ;
wire un1_u_dphy_cil_83 ;
wire un1_u_dphy_cil_84 ;
wire un1_u_dphy_cil_2 ;
wire un1_u_dphy_cil_7 ;
wire un1_u_dphy_cil_115 ;
wire un1_u_dphy_cil_116 ;
wire un1_u_dphy_cil_130 ;
wire un1_u_dphy_cil_11 ;
wire un1_u_dphy_cil_12 ;
wire un1_u_dphy_cil_13 ;
wire un1_u_dphy_cil_14 ;
wire un1_u_dphy_cil_15 ;
wire un1_u_dphy_cil_16 ;
wire un1_u_dphy_cil_17 ;
wire un1_u_dphy_cil_18 ;
wire un1_u_dphy_cil_19 ;
wire un1_u_dphy_cil_20 ;
wire un1_u_dphy_cil_117 ;
wire un1_u_dphy_cil_91 ;
wire un1_u_dphy_cil_92 ;
wire un1_u_dphy_cil_94 ;
wire un1_u_dphy_cil_95 ;
wire un1_u_dphy_cil_96 ;
wire un1_u_dphy_cil_97 ;
wire un1_u_dphy_cil_98 ;
wire un1_u_dphy_cil_99 ;
wire un1_u_dphy_cil_141 ;
wire un1_u_dphy_cil_35 ;
wire un1_u_dphy_cil_103 ;
wire un1_u_dphy_cil_37 ;
wire un1_u_dphy_cil_122 ;
wire un1_u_dphy_cil_127 ;
wire un1_u_dphy_cil_80 ;
wire un1_u_dphy_cil_81 ;
wire un1_u_dphy_cil_82 ;
wire un1_u_dphy_cil_87 ;
wire un1_u_dphy_cil_124 ;
wire un1_u_dphy_cil_125 ;
wire un1_u_dphy_cil_6 ;
wire un1_u_dphy_cil_47 ;
wire un1_u_dphy_cil_75 ;
wire un1_u_dphy_cil_126 ;
wire un1_u_dphy_cil_52 ;
wire un1_u_dphy_cil_120 ;
wire un1_u_dphy_cil_86 ;
wire un1_u_dphy_cil_56 ;
wire un1_u_dphy_cil_76 ;
wire un1_u_dphy_cil_54 ;
wire un1_u_dphy_cil_46 ;
wire un1_u_dphy_cil_60 ;
wire un1_u_dphy_cil_102 ;
wire un1_u_dphy_cil_77 ;
wire un1_u_dphy_cil_51 ;
wire un1_u_dphy_cil_57 ;
wire un1_u_dphy_cil_93 ;
wire un1_u_dphy_cil_121 ;
wire un1_u_dphy_cil_55 ;
wire un1_u_dphy_cil_61 ;
wire un1_u_dphy_cil_58 ;
wire clk_byte_o ;
wire un1_u_dphy_cil_59 ;
wire int_clk ;
wire un1_u_dphy_cil_101 ;
// @46:1205
  DPHY \HARD_IP.CIL.u_dphy_cil  (
	.LMMICLK(PLL_1_clkop_o),
	.LMMIRESET_N(VCC),
	.LMMIREQUEST(GND),
	.LMMIWRRD_N(GND),
	.LMMIOFFSET({GND, GND, GND, GND, GND}),
	.LMMIWDATA({GND, GND, GND, GND}),
	.LMMIRDATA(lmmi_rdata_o[3:0]),
	.LMMIRDATAVALID(lmmi_rdata_valid_o),
	.LMMIREADY(ready_o),
	.BITCKEXT(VCC),
	.CKN(MIPI_DPHY_1_clk_n_io),
	.CKP(MIPI_DPHY_1_clk_p_io),
	.CLKREF(VCC),
	.D0ACTIVE(un1_u_dphy_cil_5[1:0]),
	.D0BYTCNT(un1_u_dphy_cil_38[9:0]),
	.D0ERRCNT(un1_u_dphy_cil_39[9:0]),
	.D0PASS(un1_u_dphy_cil_88[1:0]),
	.D0VALID(un1_u_dphy_cil_89[1:0]),
	.D1ACTIVE(un1_u_dphy_cil_90[1:0]),
	.D1BYTCNT(un1_u_dphy_cil_64[9:0]),
	.D1ERRCNT(un1_u_dphy_cil_65[9:0]),
	.D1PASS(un1_u_dphy_cil_66[1:0]),
	.D1VALID(un1_u_dphy_cil_67[1:0]),
	.D2ACTIVE(un1_u_dphy_cil_68[1:0]),
	.D2BYTCNT(un1_u_dphy_cil_69[9:0]),
	.D2ERRCNT(un1_u_dphy_cil_70[9:0]),
	.D2PASS(un1_u_dphy_cil_71[1:0]),
	.D2VALID(un1_u_dphy_cil_72[1:0]),
	.D3ACTIVE(un1_u_dphy_cil_73[1:0]),
	.D3BYTCNT(un1_u_dphy_cil_74[9:0]),
	.D3ERRCNT(un1_u_dphy_cil_22[9:0]),
	.D3PASS(un1_u_dphy_cil_23[1:0]),
	.D3VALID(un1_u_dphy_cil_104[1:0]),
	.DCTSTOUT(un1_u_dphy_cil_105[9:0]),
	.DN0(MIPI_DPHY_1_data_n_io[0]),
	.DN1(MIPI_DPHY_1_data_n_io[1]),
	.DN2(MIPI_DPHY_1_data_n_io[2]),
	.DN3(MIPI_DPHY_1_data_n_io[3]),
	.DP0(MIPI_DPHY_1_data_p_io[0]),
	.DP1(MIPI_DPHY_1_data_p_io[1]),
	.DP2(MIPI_DPHY_1_data_p_io[2]),
	.DP3(MIPI_DPHY_1_data_p_io[3]),
	.LOCK(un1_u_dphy_cil_114),
	.PDDPHY(GND),
	.PDPLL(VCC),
	.SCCLKIN(VCC),
	.UDIR(un1_u_dphy_cil_48),
	.UED0THEN(VCC),
	.UERCLP0(un1_u_dphy_cil_49),
	.UERCLP1(un1_u_dphy_cil_50),
	.UERCTRL(un1_u_dphy_cil_118),
	.UERE(un1_u_dphy_cil_119),
	.UERSTHS(un1_u_dphy_cil),
	.UERSSHS(un1_u_dphy_cil_1),
	.UERSE(un1_u_dphy_cil_78),
	.UFRXMODE(GND),
	.UTXMDTX(GND),
	.URXACTHS(un1_u_dphy_cil_43),
	.URXCKE(un1_u_dphy_cil_44),
	.URXCKINE(GND),
	.URXDE(un1_u_dphy_cil_45[7:0]),
	.URXDHS(dphy_hs_data_line0_w[15:0]),
	.URXLPDTE(un1_u_dphy_cil_3),
	.URXSKCHS(un1_u_dphy_cil_128),
	.URXDRX(un1_u_dphy_cil_129),
	.URXSHS(u_rx_sync_hs_w[3:0]),
	.URE0D3DP(un1_u_dphy_cil_24),
	.URE1D3DN(un1_u_dphy_cil_25),
	.URE2CKDP(un1_u_dphy_cil_26),
	.URE3CKDN(un1_u_dphy_cil_27),
	.URXULPSE(un1_u_dphy_cil_28),
	.URXVDE(un1_u_dphy_cil_29),
	.URXVDHS(un1_u_dphy_cil_30[3:0]),
	.USSTT(un1_u_dphy_cil_31),
	.UTDIS(GND),
	.UTXCKE(GND),
	.UDE0D0TN(GND),
	.UDE1D1TN(GND),
	.UDE2D2TN(GND),
	.UDE3D3TN(GND),
	.UDE4CKTN(GND),
	.UDE5D0RN(GND),
	.UDE6D1RN(GND),
	.UDE7D2RN(GND),
	.UTXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.UTXENER(GND),
	.UTXRRS(un1_u_dphy_cil_32),
	.UTXRYP(un1_u_dphy_cil_33),
	.UTXRYSK(un1_u_dphy_cil_34),
	.UTXRD0EN(GND),
	.UTRD0SEN(GND),
	.UTXSKD0N(GND),
	.UTXTGE0(GND),
	.UTXTGE1(GND),
	.UTXTGE2(GND),
	.UTXTGE3(GND),
	.UTXULPSE(GND),
	.UTXUPSEX(GND),
	.UTXVDE(GND),
	.UTXWVDHS({VCC, VCC, VCC, VCC}),
	.UUSAN(un1_u_dphy_cil_62),
	.U1DIR(un1_u_dphy_cil_63),
	.U1ENTHEN(VCC),
	.U1ERCLP0(un1_u_dphy_cil_131),
	.U1ERCLP1(un1_u_dphy_cil_132),
	.U1ERCTRL(un1_u_dphy_cil_133),
	.U1ERE(un1_u_dphy_cil_134),
	.U1ERSTHS(un1_u_dphy_cil_135),
	.U1ERSSHS(un1_u_dphy_cil_136),
	.U1ERSE(un1_u_dphy_cil_137),
	.U1FRXMD(GND),
	.U1FTXST(GND),
	.U1RXATHS(un1_u_dphy_cil_138),
	.U1RXCKE(un1_u_dphy_cil_139),
	.U1RXDE(un1_u_dphy_cil_140[7:0]),
	.U1RXDHS(dphy_hs_data_line1_w[15:0]),
	.U1RXDTE(un1_u_dphy_cil_8),
	.U1RXSKS(un1_u_dphy_cil_9),
	.U1RXSK(un1_u_dphy_cil_10),
	.U1RXSHS(u1_rx_sync_hs_w[3:0]),
	.U1RE0D(un1_u_dphy_cil_123),
	.U1RE1CN(un1_u_dphy_cil_40),
	.U1RE2D(un1_u_dphy_cil_41),
	.U1RE3N(un1_u_dphy_cil_42),
	.U1RXUPSE(un1_u_dphy_cil_83),
	.U1RXVDE(un1_u_dphy_cil_84),
	.U1RXVDHS(un1_u_dphy_cil_85[3:0]),
	.U1SSTT(un1_u_dphy_cil_2),
	.U1TDIS(GND),
	.U1TREQ(GND),
	.U1TDE0D3(GND),
	.U1TDE1CK(GND),
	.U1TDE2D0(GND),
	.U1TDE3D1(GND),
	.U1TDE4D2(GND),
	.U1TDE5D3(GND),
	.U1TDE6(GND),
	.U1TDE7(GND),
	.U1TXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.U1TXLPD(GND),
	.U1TXRYE(un1_u_dphy_cil_7),
	.U1TXRY(un1_u_dphy_cil_115),
	.U1TXRYSK(un1_u_dphy_cil_116),
	.U1TXREQ(GND),
	.U1TXREQH(GND),
	.U1TXSK(GND),
	.U1TXTGE0(GND),
	.U1TXTGE1(GND),
	.U1TXTGE2(GND),
	.U1TXTGE3(GND),
	.U1TXUPSE(GND),
	.U1TXUPSX(GND),
	.U1TXVDE(GND),
	.U1TXWVHS({VCC, VCC, VCC, VCC}),
	.U1USAN(un1_u_dphy_cil_130),
	.U2DIR(un1_u_dphy_cil_11),
	.U2END2(VCC),
	.U2ERCLP0(un1_u_dphy_cil_12),
	.U2ERCLP1(un1_u_dphy_cil_13),
	.U2ERCTRL(un1_u_dphy_cil_14),
	.U2ERE(un1_u_dphy_cil_15),
	.U2ERSTHS(un1_u_dphy_cil_16),
	.U2ERSSHS(un1_u_dphy_cil_17),
	.U2ERSE(un1_u_dphy_cil_18),
	.U2FRXMD(GND),
	.U2FTXST(GND),
	.U2RXACHS(un1_u_dphy_cil_19),
	.U2RXCKE(un1_u_dphy_cil_20),
	.U2RXDE(un1_u_dphy_cil_21[7:0]),
	.U2RXDHS(dphy_hs_data_line2_w[15:0]),
	.U2RPDTE(un1_u_dphy_cil_117),
	.U2RXSK(un1_u_dphy_cil_91),
	.U2RXSKC(un1_u_dphy_cil_92),
	.U2RXSHS(u2_rx_sync_hs_w[3:0]),
	.U2RE0D2(un1_u_dphy_cil_94),
	.U2RE1D2(un1_u_dphy_cil_95),
	.U2RE2D3(un1_u_dphy_cil_96),
	.U2RE3D3(un1_u_dphy_cil_97),
	.U2RXUPSE(un1_u_dphy_cil_98),
	.U2RXVDE(un1_u_dphy_cil_99),
	.U2RXVDHS(un1_u_dphy_cil_100[3:0]),
	.U2SSTT(un1_u_dphy_cil_141),
	.U2TDIS(GND),
	.U2TREQ(GND),
	.U2TDE0D0(GND),
	.U2TDE1D1(GND),
	.U2TDE2D2(GND),
	.U2TDE3D3(GND),
	.U2TDE4CK(GND),
	.U2TDE5D0(GND),
	.U2TDE6D1(GND),
	.U2TDE7D2(GND),
	.U2TXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.U2TPDTE(GND),
	.U2TXRYE(un1_u_dphy_cil_35),
	.U2TXRYH(un1_u_dphy_cil_103),
	.U2TXRYSK(un1_u_dphy_cil_37),
	.U2TXREQ(GND),
	.U2TXREQH(GND),
	.U2TXSKC(GND),
	.U2TXTGE0(GND),
	.U2TXTGE1(GND),
	.U2TXTGE2(GND),
	.U2TXTGE3(GND),
	.U2TXUPSE(GND),
	.U2TXUPSX(GND),
	.U2TXVDE(GND),
	.U2TXWVHS({VCC, VCC, VCC, VCC}),
	.U2USAN(un1_u_dphy_cil_122),
	.U3DIR(un1_u_dphy_cil_127),
	.U3END3(VCC),
	.U3ERCLP0(un1_u_dphy_cil_80),
	.U3ERCLP1(un1_u_dphy_cil_81),
	.U3ERCTRL(un1_u_dphy_cil_82),
	.U3ERE(un1_u_dphy_cil_87),
	.U3ERSTHS(un1_u_dphy_cil_124),
	.U3ERSSHS(un1_u_dphy_cil_125),
	.U3ERSE(un1_u_dphy_cil_6),
	.U3FRXMD(GND),
	.U3FTXST(GND),
	.U3RXATHS(un1_u_dphy_cil_47),
	.U3RXCKE(un1_u_dphy_cil_75),
	.U3RXDE(un1_u_dphy_cil_36[7:0]),
	.U3RXDHS(dphy_hs_data_line3_w[15:0]),
	.U3RPDTE(un1_u_dphy_cil_126),
	.U3RXSK(un1_u_dphy_cil_52),
	.U3RXSKC(un1_u_dphy_cil_120),
	.U3RXSHS(u3_rx_sync_hs_w[3:0]),
	.U3RE0CK(un1_u_dphy_cil_86),
	.U3RE1CK(un1_u_dphy_cil_56),
	.U3RE2(un1_u_dphy_cil_76),
	.U3RE3(un1_u_dphy_cil_54),
	.U3RXUPSE(un1_u_dphy_cil_46),
	.U3RXVDE(un1_u_dphy_cil_60),
	.U3RXVDHS(un1_u_dphy_cil_53[3:0]),
	.U3SSTT(un1_u_dphy_cil_102),
	.U3TDISD2(GND),
	.U3TREQD2(GND),
	.U3TDE0D3(GND),
	.U3TDE1D0(GND),
	.U3TDE2D1(GND),
	.U3TDE3D2(GND),
	.U3TDE4D3(GND),
	.U3TDE5CK(GND),
	.U3TDE6(GND),
	.U3TDE7(GND),
	.U3TXDHS({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.U3TXLPDT(GND),
	.U3TXRY(un1_u_dphy_cil_77),
	.U3TXRYHS(un1_u_dphy_cil_51),
	.U3TXRYSK(un1_u_dphy_cil_57),
	.U3TXREQ(GND),
	.U3TXREQH(GND),
	.U3TXSKC(GND),
	.U3TXTGE0(GND),
	.U3TXTGE1(GND),
	.U3TXTGE2(GND),
	.U3TXTGE3(GND),
	.U3TXULPS(GND),
	.U3TXUPSX(GND),
	.U3TXVD3(GND),
	.U3TXWVHS({VCC, VCC, VCC, VCC}),
	.U3USAN(un1_u_dphy_cil_93),
	.UCENCK(VCC),
	.UCRXCKAT(un1_u_dphy_cil_121),
	.UCRXUCKN(un1_u_dphy_cil_55),
	.UCSSTT(un1_u_dphy_cil_61),
	.UCTXREQH(GND),
	.UCTXUPSC(GND),
	.UCTXUPSX(GND),
	.UCUSAN(un1_u_dphy_cil_58),
	.LTSTEN(GND),
	.LTSTLANE({GND, GND}),
	.URWDCKHS(clk_byte_o),
	.UTRNREQ(GND),
	.UTWDCKHS(un1_u_dphy_cil_59),
	.UCRXWCHS(int_clk),
	.CLKLBACT(un1_u_dphy_cil_101)
);
defparam \HARD_IP.CIL.u_dphy_cil .GSR = "ENABLED";
defparam \HARD_IP.CIL.u_dphy_cil .AUTO_PD_EN = "POWERED_UP";
defparam \HARD_IP.CIL.u_dphy_cil .CFG_NUM_LANES = "FOUR_LANES";
defparam \HARD_IP.CIL.u_dphy_cil .CM = "0b00000000";
defparam \HARD_IP.CIL.u_dphy_cil .CN = "0b00000";
defparam \HARD_IP.CIL.u_dphy_cil .CO = "0b000";
defparam \HARD_IP.CIL.u_dphy_cil .CONT_CLK_MODE = "ENABLED";
defparam \HARD_IP.CIL.u_dphy_cil .DESKEW_EN = "DISABLED";
defparam \HARD_IP.CIL.u_dphy_cil .DSI_CSI = "CSI2_APP";
defparam \HARD_IP.CIL.u_dphy_cil .EN_CIL = "CIL_ENABLED";
defparam \HARD_IP.CIL.u_dphy_cil .HSEL = "DISABLED";
defparam \HARD_IP.CIL.u_dphy_cil .LANE0_SEL = "LANE_0";
defparam \HARD_IP.CIL.u_dphy_cil .LOCK_BYP = "GATE_TXBYTECLKHS";
defparam \HARD_IP.CIL.u_dphy_cil .MASTER_SLAVE = "SLAVE";
defparam \HARD_IP.CIL.u_dphy_cil .PLLCLKBYPASS = "BYPASSED";
defparam \HARD_IP.CIL.u_dphy_cil .RSEL = "0b00";
defparam \HARD_IP.CIL.u_dphy_cil .RXCDRP = "0b01";
defparam \HARD_IP.CIL.u_dphy_cil .RXDATAWIDTHHS = "0b00";
defparam \HARD_IP.CIL.u_dphy_cil .RXLPRP = "0b001";
defparam \HARD_IP.CIL.u_dphy_cil .TEST_ENBL = "0b000000";
defparam \HARD_IP.CIL.u_dphy_cil .TEST_PATTERN = "0b10000000001000000000000000000000";
defparam \HARD_IP.CIL.u_dphy_cil .TST = "0b0000";
defparam \HARD_IP.CIL.u_dphy_cil .TXDATAWIDTHHS = "0b00";
defparam \HARD_IP.CIL.u_dphy_cil .U_PRG_HS_PREPARE = "0b00";
defparam \HARD_IP.CIL.u_dphy_cil .U_PRG_HS_TRAIL = "0b000000";
defparam \HARD_IP.CIL.u_dphy_cil .U_PRG_HS_ZERO = "0b000000";
defparam \HARD_IP.CIL.u_dphy_cil .U_PRG_RXHS_SETTLE = "0b000011";
defparam \HARD_IP.CIL.u_dphy_cil .UC_PRG_HS_PREPARE = "1P0_TXCLKESC";
defparam \HARD_IP.CIL.u_dphy_cil .UC_PRG_HS_TRAIL = "0b00000";
defparam \HARD_IP.CIL.u_dphy_cil .UC_PRG_HS_ZERO = "0b0000000";
defparam \HARD_IP.CIL.u_dphy_cil .UC_PRG_RXHS_SETTLE = "0b000010";
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_1_ipgen_lscc_mipi_wrapper_rx_Z5_layer0 */

module MIPI_DPHY_1_ipgen_lscc_mipi_dphy_Z4_layer0 (
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_1_data_p_io,
  PLL_1_clkop_o,
  MIPI_DPHY_1_clk_n_io,
  MIPI_DPHY_1_clk_p_io
)
;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
wire PLL_1_clkop_o ;
wire MIPI_DPHY_1_clk_n_io ;
wire MIPI_DPHY_1_clk_p_io ;
wire GND ;
wire VCC ;
// @46:5715
  MIPI_DPHY_1_ipgen_lscc_mipi_wrapper_rx_Z5_layer0 \RECEIVER.lscc_mipi_wrapper_rx  (
	.MIPI_DPHY_1_data_p_io(MIPI_DPHY_1_data_p_io[3:0]),
	.MIPI_DPHY_1_data_n_io(MIPI_DPHY_1_data_n_io[3:0]),
	.MIPI_DPHY_1_clk_p_io(MIPI_DPHY_1_clk_p_io),
	.MIPI_DPHY_1_clk_n_io(MIPI_DPHY_1_clk_n_io),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_1_ipgen_lscc_mipi_dphy_Z4_layer0 */

module MIPI_DPHY_1 (
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_1_clk_p_io,
  MIPI_DPHY_1_clk_n_io,
  PLL_1_clkop_o
)
;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
wire MIPI_DPHY_1_clk_p_io ;
wire MIPI_DPHY_1_clk_n_io ;
wire PLL_1_clkop_o ;
wire GND ;
wire VCC ;
// @46:164
  MIPI_DPHY_1_ipgen_lscc_mipi_dphy_Z4_layer0 lscc_mipi_dphy_inst (
	.MIPI_DPHY_1_data_n_io(MIPI_DPHY_1_data_n_io[3:0]),
	.MIPI_DPHY_1_data_p_io(MIPI_DPHY_1_data_p_io[3:0]),
	.PLL_1_clkop_o(PLL_1_clkop_o),
	.MIPI_DPHY_1_clk_n_io(MIPI_DPHY_1_clk_n_io),
	.MIPI_DPHY_1_clk_p_io(MIPI_DPHY_1_clk_p_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_1 */

module MIPI_DPHY_2_ipgen_lscc_mipi_wrapper_tx_Z8_layer0 (
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_data_n_io,
  MIPI_DPHY_2_clk_p_io,
  MIPI_DPHY_2_clk_n_io,
  PLL_1_clkop_o
)
;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
wire MIPI_DPHY_2_clk_p_io ;
wire MIPI_DPHY_2_clk_n_io ;
wire PLL_1_clkop_o ;
wire [3:0] lmmi_rdata_o;
wire [1:0] un1_u_DPHY_CIL_tx_37;
wire [9:0] un1_u_DPHY_CIL_tx_38;
wire [9:0] un1_u_DPHY_CIL_tx_87;
wire [1:0] un1_u_DPHY_CIL_tx_74;
wire [1:0] un1_u_DPHY_CIL_tx_70;
wire [1:0] un1_u_DPHY_CIL_tx_71;
wire [9:0] un1_u_DPHY_CIL_tx_72;
wire [9:0] un1_u_DPHY_CIL_tx_69;
wire [1:0] un1_u_DPHY_CIL_tx_73;
wire [1:0] un1_u_DPHY_CIL_tx_14;
wire [1:0] un1_u_DPHY_CIL_tx_15;
wire [9:0] un1_u_DPHY_CIL_tx_16;
wire [9:0] un1_u_DPHY_CIL_tx_17;
wire [1:0] un1_u_DPHY_CIL_tx_18;
wire [1:0] un1_u_DPHY_CIL_tx_19;
wire [1:0] un1_u_DPHY_CIL_tx_20;
wire [9:0] un1_u_DPHY_CIL_tx_21;
wire [9:0] un1_u_DPHY_CIL_tx_22;
wire [1:0] un1_u_DPHY_CIL_tx_23;
wire [1:0] un1_u_DPHY_CIL_tx_24;
wire [9:0] un1_u_DPHY_CIL_tx_25;
wire [7:0] un1_u_DPHY_CIL_tx_1;
wire [15:0] un1_u_DPHY_CIL_tx_2;
wire [3:0] un1_u_DPHY_CIL_tx_31;
wire [3:0] un1_u_DPHY_CIL_tx_57;
wire [3:0] data_lane_ss_w;
wire [3:0] hs_tx_cil_ready_w;
wire [7:0] un1_u_DPHY_CIL_tx_109;
wire [15:0] un1_u_DPHY_CIL_tx_114;
wire [3:0] un1_u_DPHY_CIL_tx_122;
wire [3:0] un1_u_DPHY_CIL_tx_5;
wire [7:0] un1_u_DPHY_CIL_tx_101;
wire [15:0] un1_u_DPHY_CIL_tx_102;
wire [3:0] un1_u_DPHY_CIL_tx_66;
wire [3:0] un1_u_DPHY_CIL_tx_132;
wire [7:0] un1_u_DPHY_CIL_tx_124;
wire [15:0] un1_u_DPHY_CIL_tx_50;
wire [3:0] un1_u_DPHY_CIL_tx_85;
wire [3:0] un1_u_DPHY_CIL_tx_48;
wire GND ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o ;
wire VCC ;
wire ready_o ;
wire un1_u_DPHY_CIL_tx_43 ;
wire un1_u_DPHY_CIL_tx_116 ;
wire un1_u_DPHY_CIL_tx_117 ;
wire un1_u_DPHY_CIL_tx_118 ;
wire un1_u_DPHY_CIL_tx_47 ;
wire un1_u_DPHY_CIL_tx_76 ;
wire un1_u_DPHY_CIL_tx_77 ;
wire un1_u_DPHY_CIL_tx_78 ;
wire un1_u_DPHY_CIL_tx_123 ;
wire un1_u_DPHY_CIL_tx ;
wire un1_u_DPHY_CIL_tx_127 ;
wire un1_u_DPHY_CIL_tx_34 ;
wire un1_u_DPHY_CIL_tx_30 ;
wire un1_u_DPHY_CIL_tx_32 ;
wire un1_u_DPHY_CIL_tx_29 ;
wire un1_u_DPHY_CIL_tx_33 ;
wire un1_u_DPHY_CIL_tx_54 ;
wire un1_u_DPHY_CIL_tx_55 ;
wire un1_u_DPHY_CIL_tx_56 ;
wire un1_u_DPHY_CIL_tx_59 ;
wire un1_u_DPHY_CIL_tx_61 ;
wire un1_u_DPHY_CIL_tx_62 ;
wire un1_u_DPHY_CIL_tx_63 ;
wire un1_u_DPHY_CIL_tx_64 ;
wire un1_u_DPHY_CIL_tx_65 ;
wire un1_u_DPHY_CIL_tx_26 ;
wire un1_u_DPHY_CIL_tx_27 ;
wire un1_u_DPHY_CIL_tx_28 ;
wire un1_u_DPHY_CIL_tx_110 ;
wire un1_u_DPHY_CIL_tx_113 ;
wire un1_u_DPHY_CIL_tx_111 ;
wire un1_u_DPHY_CIL_tx_112 ;
wire un1_u_DPHY_CIL_tx_3 ;
wire un1_u_DPHY_CIL_tx_120 ;
wire un1_u_DPHY_CIL_tx_121 ;
wire un1_u_DPHY_CIL_tx_7 ;
wire un1_u_DPHY_CIL_tx_40 ;
wire un1_u_DPHY_CIL_tx_41 ;
wire un1_u_DPHY_CIL_tx_42 ;
wire un1_u_DPHY_CIL_tx_115 ;
wire un1_u_DPHY_CIL_tx_4 ;
wire un1_u_DPHY_CIL_tx_119 ;
wire un1_u_DPHY_CIL_tx_13 ;
wire un1_u_DPHY_CIL_tx_10 ;
wire un1_u_DPHY_CIL_tx_11 ;
wire un1_u_DPHY_CIL_tx_9 ;
wire un1_u_DPHY_CIL_tx_12 ;
wire un1_u_DPHY_CIL_tx_94 ;
wire un1_u_DPHY_CIL_tx_95 ;
wire un1_u_DPHY_CIL_tx_96 ;
wire un1_u_DPHY_CIL_tx_97 ;
wire un1_u_DPHY_CIL_tx_58 ;
wire un1_u_DPHY_CIL_tx_99 ;
wire un1_u_DPHY_CIL_tx_60 ;
wire un1_u_DPHY_CIL_tx_103 ;
wire un1_u_DPHY_CIL_tx_104 ;
wire un1_u_DPHY_CIL_tx_105 ;
wire un1_u_DPHY_CIL_tx_67 ;
wire un1_u_DPHY_CIL_tx_68 ;
wire un1_u_DPHY_CIL_tx_129 ;
wire un1_u_DPHY_CIL_tx_133 ;
wire un1_u_DPHY_CIL_tx_130 ;
wire un1_u_DPHY_CIL_tx_131 ;
wire un1_u_DPHY_CIL_tx_35 ;
wire un1_u_DPHY_CIL_tx_125 ;
wire un1_u_DPHY_CIL_tx_126 ;
wire un1_u_DPHY_CIL_tx_39 ;
wire un1_u_DPHY_CIL_tx_80 ;
wire un1_u_DPHY_CIL_tx_81 ;
wire un1_u_DPHY_CIL_tx_82 ;
wire un1_u_DPHY_CIL_tx_75 ;
wire un1_u_DPHY_CIL_tx_44 ;
wire un1_u_DPHY_CIL_tx_91 ;
wire un1_u_DPHY_CIL_tx_6 ;
wire un1_u_DPHY_CIL_tx_88 ;
wire un1_u_DPHY_CIL_tx_8 ;
wire un1_u_DPHY_CIL_tx_79 ;
wire un1_u_DPHY_CIL_tx_49 ;
wire un1_u_DPHY_CIL_tx_84 ;
wire un1_u_DPHY_CIL_tx_86 ;
wire un1_u_DPHY_CIL_tx_52 ;
wire un1_u_DPHY_CIL_tx_45 ;
wire un1_u_DPHY_CIL_tx_98 ;
wire un1_u_DPHY_CIL_tx_46 ;
wire un1_u_DPHY_CIL_tx_100 ;
wire un1_u_DPHY_CIL_tx_51 ;
wire un1_u_DPHY_CIL_tx_53 ;
wire un1_u_DPHY_CIL_tx_106 ;
wire un1_u_DPHY_CIL_tx_107 ;
wire un1_u_DPHY_CIL_tx_108 ;
wire un1_u_DPHY_CIL_tx_89 ;
wire un1_u_DPHY_CIL_tx_93 ;
wire un1_u_DPHY_CIL_tx_90 ;
wire clk_byte_o ;
wire un1_u_DPHY_CIL_tx_92 ;
wire un1_u_DPHY_CIL_tx_128 ;
// @48:2331
  DPHY \HARD_IP.genblk1.u_DPHY_CIL_tx  (
	.LMMICLK(PLL_1_clkop_o),
	.LMMIRESET_N(GND),
	.LMMIREQUEST(GND),
	.LMMIWRRD_N(GND),
	.LMMIOFFSET({GND, GND, GND, GND, GND}),
	.LMMIWDATA({GND, GND, GND, GND}),
	.LMMIRDATA(lmmi_rdata_o[3:0]),
	.LMMIRDATAVALID(lmmi_rdata_valid_o),
	.LMMIREADY(lmmi_ready_o),
	.BITCKEXT(VCC),
	.CKN(MIPI_DPHY_2_clk_n_io),
	.CKP(MIPI_DPHY_2_clk_p_io),
	.CLKREF(GND),
	.D0ACTIVE(un1_u_DPHY_CIL_tx_37[1:0]),
	.D0BYTCNT(un1_u_DPHY_CIL_tx_38[9:0]),
	.D0ERRCNT(un1_u_DPHY_CIL_tx_87[9:0]),
	.D0PASS(un1_u_DPHY_CIL_tx_74[1:0]),
	.D0VALID(un1_u_DPHY_CIL_tx_70[1:0]),
	.D1ACTIVE(un1_u_DPHY_CIL_tx_71[1:0]),
	.D1BYTCNT(un1_u_DPHY_CIL_tx_72[9:0]),
	.D1ERRCNT(un1_u_DPHY_CIL_tx_69[9:0]),
	.D1PASS(un1_u_DPHY_CIL_tx_73[1:0]),
	.D1VALID(un1_u_DPHY_CIL_tx_14[1:0]),
	.D2ACTIVE(un1_u_DPHY_CIL_tx_15[1:0]),
	.D2BYTCNT(un1_u_DPHY_CIL_tx_16[9:0]),
	.D2ERRCNT(un1_u_DPHY_CIL_tx_17[9:0]),
	.D2PASS(un1_u_DPHY_CIL_tx_18[1:0]),
	.D2VALID(un1_u_DPHY_CIL_tx_19[1:0]),
	.D3ACTIVE(un1_u_DPHY_CIL_tx_20[1:0]),
	.D3BYTCNT(un1_u_DPHY_CIL_tx_21[9:0]),
	.D3ERRCNT(un1_u_DPHY_CIL_tx_22[9:0]),
	.D3PASS(un1_u_DPHY_CIL_tx_23[1:0]),
	.D3VALID(un1_u_DPHY_CIL_tx_24[1:0]),
	.DCTSTOUT(un1_u_DPHY_CIL_tx_25[9:0]),
	.DN0(MIPI_DPHY_2_data_n_io[0]),
	.DN1(MIPI_DPHY_2_data_n_io[1]),
	.DN2(MIPI_DPHY_2_data_n_io[2]),
	.DN3(MIPI_DPHY_2_data_n_io[3]),
	.DP0(MIPI_DPHY_2_data_p_io[0]),
	.DP1(MIPI_DPHY_2_data_p_io[1]),
	.DP2(MIPI_DPHY_2_data_p_io[2]),
	.DP3(MIPI_DPHY_2_data_p_io[3]),
	.LOCK(ready_o),
	.PDDPHY(GND),
	.PDPLL(GND),
	.SCCLKIN(VCC),
	.UDIR(un1_u_DPHY_CIL_tx_43),
	.UED0THEN(VCC),
	.UERCLP0(un1_u_DPHY_CIL_tx_116),
	.UERCLP1(un1_u_DPHY_CIL_tx_117),
	.UERCTRL(un1_u_DPHY_CIL_tx_118),
	.UERE(un1_u_DPHY_CIL_tx_47),
	.UERSTHS(un1_u_DPHY_CIL_tx_76),
	.UERSSHS(un1_u_DPHY_CIL_tx_77),
	.UERSE(un1_u_DPHY_CIL_tx_78),
	.UFRXMODE(GND),
	.UTXMDTX(GND),
	.URXACTHS(un1_u_DPHY_CIL_tx_123),
	.URXCKE(un1_u_DPHY_CIL_tx),
	.URXCKINE(GND),
	.URXDE(un1_u_DPHY_CIL_tx_1[7:0]),
	.URXDHS(un1_u_DPHY_CIL_tx_2[15:0]),
	.URXLPDTE(un1_u_DPHY_CIL_tx_127),
	.URXSKCHS(un1_u_DPHY_CIL_tx_34),
	.URXDRX(un1_u_DPHY_CIL_tx_30),
	.URXSHS(un1_u_DPHY_CIL_tx_31[3:0]),
	.URE0D3DP(un1_u_DPHY_CIL_tx_32),
	.URE1D3DN(un1_u_DPHY_CIL_tx_29),
	.URE2CKDP(un1_u_DPHY_CIL_tx_33),
	.URE3CKDN(un1_u_DPHY_CIL_tx_54),
	.URXULPSE(un1_u_DPHY_CIL_tx_55),
	.URXVDE(un1_u_DPHY_CIL_tx_56),
	.URXVDHS(un1_u_DPHY_CIL_tx_57[3:0]),
	.USSTT(data_lane_ss_w[0]),
	.UTDIS(GND),
	.UTXCKE(GND),
	.UDE0D0TN(GND),
	.UDE1D1TN(GND),
	.UDE2D2TN(GND),
	.UDE3D3TN(GND),
	.UDE4CKTN(GND),
	.UDE5D0RN(GND),
	.UDE6D1RN(GND),
	.UDE7D2RN(GND),
	.UTXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.UTXENER(GND),
	.UTXRRS(un1_u_DPHY_CIL_tx_59),
	.UTXRYP(hs_tx_cil_ready_w[0]),
	.UTXRYSK(un1_u_DPHY_CIL_tx_61),
	.UTXRD0EN(GND),
	.UTRD0SEN(GND),
	.UTXSKD0N(GND),
	.UTXTGE0(GND),
	.UTXTGE1(GND),
	.UTXTGE2(GND),
	.UTXTGE3(GND),
	.UTXULPSE(GND),
	.UTXUPSEX(GND),
	.UTXVDE(GND),
	.UTXWVDHS({GND, GND, GND, VCC}),
	.UUSAN(un1_u_DPHY_CIL_tx_62),
	.U1DIR(un1_u_DPHY_CIL_tx_63),
	.U1ENTHEN(VCC),
	.U1ERCLP0(un1_u_DPHY_CIL_tx_64),
	.U1ERCLP1(un1_u_DPHY_CIL_tx_65),
	.U1ERCTRL(un1_u_DPHY_CIL_tx_26),
	.U1ERE(un1_u_DPHY_CIL_tx_27),
	.U1ERSTHS(un1_u_DPHY_CIL_tx_28),
	.U1ERSSHS(un1_u_DPHY_CIL_tx_110),
	.U1ERSE(un1_u_DPHY_CIL_tx_113),
	.U1FRXMD(GND),
	.U1FTXST(GND),
	.U1RXATHS(un1_u_DPHY_CIL_tx_111),
	.U1RXCKE(un1_u_DPHY_CIL_tx_112),
	.U1RXDE(un1_u_DPHY_CIL_tx_109[7:0]),
	.U1RXDHS(un1_u_DPHY_CIL_tx_114[15:0]),
	.U1RXDTE(un1_u_DPHY_CIL_tx_3),
	.U1RXSKS(un1_u_DPHY_CIL_tx_120),
	.U1RXSK(un1_u_DPHY_CIL_tx_121),
	.U1RXSHS(un1_u_DPHY_CIL_tx_122[3:0]),
	.U1RE0D(un1_u_DPHY_CIL_tx_7),
	.U1RE1CN(un1_u_DPHY_CIL_tx_40),
	.U1RE2D(un1_u_DPHY_CIL_tx_41),
	.U1RE3N(un1_u_DPHY_CIL_tx_42),
	.U1RXUPSE(un1_u_DPHY_CIL_tx_115),
	.U1RXVDE(un1_u_DPHY_CIL_tx_4),
	.U1RXVDHS(un1_u_DPHY_CIL_tx_5[3:0]),
	.U1SSTT(data_lane_ss_w[1]),
	.U1TDIS(GND),
	.U1TREQ(GND),
	.U1TDE0D3(GND),
	.U1TDE1CK(GND),
	.U1TDE2D0(GND),
	.U1TDE3D1(GND),
	.U1TDE4D2(GND),
	.U1TDE5D3(GND),
	.U1TDE6(GND),
	.U1TDE7(GND),
	.U1TXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.U1TXLPD(GND),
	.U1TXRYE(un1_u_DPHY_CIL_tx_119),
	.U1TXRY(hs_tx_cil_ready_w[1]),
	.U1TXRYSK(un1_u_DPHY_CIL_tx_13),
	.U1TXREQ(GND),
	.U1TXREQH(GND),
	.U1TXSK(GND),
	.U1TXTGE0(GND),
	.U1TXTGE1(GND),
	.U1TXTGE2(GND),
	.U1TXTGE3(GND),
	.U1TXUPSE(GND),
	.U1TXUPSX(GND),
	.U1TXVDE(GND),
	.U1TXWVHS({GND, GND, GND, VCC}),
	.U1USAN(un1_u_DPHY_CIL_tx_10),
	.U2DIR(un1_u_DPHY_CIL_tx_11),
	.U2END2(VCC),
	.U2ERCLP0(un1_u_DPHY_CIL_tx_9),
	.U2ERCLP1(un1_u_DPHY_CIL_tx_12),
	.U2ERCTRL(un1_u_DPHY_CIL_tx_94),
	.U2ERE(un1_u_DPHY_CIL_tx_95),
	.U2ERSTHS(un1_u_DPHY_CIL_tx_96),
	.U2ERSSHS(un1_u_DPHY_CIL_tx_97),
	.U2ERSE(un1_u_DPHY_CIL_tx_58),
	.U2FRXMD(GND),
	.U2FTXST(GND),
	.U2RXACHS(un1_u_DPHY_CIL_tx_99),
	.U2RXCKE(un1_u_DPHY_CIL_tx_60),
	.U2RXDE(un1_u_DPHY_CIL_tx_101[7:0]),
	.U2RXDHS(un1_u_DPHY_CIL_tx_102[15:0]),
	.U2RPDTE(un1_u_DPHY_CIL_tx_103),
	.U2RXSK(un1_u_DPHY_CIL_tx_104),
	.U2RXSKC(un1_u_DPHY_CIL_tx_105),
	.U2RXSHS(un1_u_DPHY_CIL_tx_66[3:0]),
	.U2RE0D2(un1_u_DPHY_CIL_tx_67),
	.U2RE1D2(un1_u_DPHY_CIL_tx_68),
	.U2RE2D3(un1_u_DPHY_CIL_tx_129),
	.U2RE3D3(un1_u_DPHY_CIL_tx_133),
	.U2RXUPSE(un1_u_DPHY_CIL_tx_130),
	.U2RXVDE(un1_u_DPHY_CIL_tx_131),
	.U2RXVDHS(un1_u_DPHY_CIL_tx_132[3:0]),
	.U2SSTT(data_lane_ss_w[2]),
	.U2TDIS(GND),
	.U2TREQ(GND),
	.U2TDE0D0(GND),
	.U2TDE1D1(GND),
	.U2TDE2D2(GND),
	.U2TDE3D3(GND),
	.U2TDE4CK(GND),
	.U2TDE5D0(GND),
	.U2TDE6D1(GND),
	.U2TDE7D2(GND),
	.U2TXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.U2TPDTE(GND),
	.U2TXRYE(un1_u_DPHY_CIL_tx_35),
	.U2TXRYH(hs_tx_cil_ready_w[2]),
	.U2TXRYSK(un1_u_DPHY_CIL_tx_125),
	.U2TXREQ(GND),
	.U2TXREQH(GND),
	.U2TXSKC(GND),
	.U2TXTGE0(GND),
	.U2TXTGE1(GND),
	.U2TXTGE2(GND),
	.U2TXTGE3(GND),
	.U2TXUPSE(GND),
	.U2TXUPSX(GND),
	.U2TXVDE(GND),
	.U2TXWVHS({GND, GND, GND, VCC}),
	.U2USAN(un1_u_DPHY_CIL_tx_126),
	.U3DIR(un1_u_DPHY_CIL_tx_39),
	.U3END3(VCC),
	.U3ERCLP0(un1_u_DPHY_CIL_tx_80),
	.U3ERCLP1(un1_u_DPHY_CIL_tx_81),
	.U3ERCTRL(un1_u_DPHY_CIL_tx_82),
	.U3ERE(un1_u_DPHY_CIL_tx_75),
	.U3ERSTHS(un1_u_DPHY_CIL_tx_44),
	.U3ERSSHS(un1_u_DPHY_CIL_tx_91),
	.U3ERSE(un1_u_DPHY_CIL_tx_6),
	.U3FRXMD(GND),
	.U3FTXST(GND),
	.U3RXATHS(un1_u_DPHY_CIL_tx_88),
	.U3RXCKE(un1_u_DPHY_CIL_tx_8),
	.U3RXDE(un1_u_DPHY_CIL_tx_124[7:0]),
	.U3RXDHS(un1_u_DPHY_CIL_tx_50[15:0]),
	.U3RPDTE(un1_u_DPHY_CIL_tx_79),
	.U3RXSK(un1_u_DPHY_CIL_tx_49),
	.U3RXSKC(un1_u_DPHY_CIL_tx_84),
	.U3RXSHS(un1_u_DPHY_CIL_tx_85[3:0]),
	.U3RE0CK(un1_u_DPHY_CIL_tx_86),
	.U3RE1CK(un1_u_DPHY_CIL_tx_52),
	.U3RE2(un1_u_DPHY_CIL_tx_45),
	.U3RE3(un1_u_DPHY_CIL_tx_98),
	.U3RXUPSE(un1_u_DPHY_CIL_tx_46),
	.U3RXVDE(un1_u_DPHY_CIL_tx_100),
	.U3RXVDHS(un1_u_DPHY_CIL_tx_48[3:0]),
	.U3SSTT(data_lane_ss_w[3]),
	.U3TDISD2(GND),
	.U3TREQD2(GND),
	.U3TDE0D3(GND),
	.U3TDE1D0(GND),
	.U3TDE2D1(GND),
	.U3TDE3D2(GND),
	.U3TDE4D3(GND),
	.U3TDE5CK(GND),
	.U3TDE6(GND),
	.U3TDE7(GND),
	.U3TXDHS({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.U3TXLPDT(GND),
	.U3TXRY(un1_u_DPHY_CIL_tx_51),
	.U3TXRYHS(hs_tx_cil_ready_w[3]),
	.U3TXRYSK(un1_u_DPHY_CIL_tx_53),
	.U3TXREQ(GND),
	.U3TXREQH(GND),
	.U3TXSKC(GND),
	.U3TXTGE0(GND),
	.U3TXTGE1(GND),
	.U3TXTGE2(GND),
	.U3TXTGE3(GND),
	.U3TXULPS(GND),
	.U3TXUPSX(GND),
	.U3TXVD3(GND),
	.U3TXWVHS({GND, GND, GND, VCC}),
	.U3USAN(un1_u_DPHY_CIL_tx_106),
	.UCENCK(VCC),
	.UCRXCKAT(un1_u_DPHY_CIL_tx_107),
	.UCRXUCKN(un1_u_DPHY_CIL_tx_108),
	.UCSSTT(un1_u_DPHY_CIL_tx_89),
	.UCTXREQH(GND),
	.UCTXUPSC(GND),
	.UCTXUPSX(GND),
	.UCUSAN(un1_u_DPHY_CIL_tx_93),
	.LTSTEN(GND),
	.LTSTLANE({GND, GND}),
	.URWDCKHS(un1_u_DPHY_CIL_tx_90),
	.UTRNREQ(GND),
	.UTWDCKHS(clk_byte_o),
	.UCRXWCHS(un1_u_DPHY_CIL_tx_92),
	.CLKLBACT(un1_u_DPHY_CIL_tx_128)
);
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .GSR = "ENABLED";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .AUTO_PD_EN = "POWERED_UP";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .CFG_NUM_LANES = "FOUR_LANES";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .CM = "0b11010101";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .CN = "0b11111";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .CO = "0b010";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .CONT_CLK_MODE = "ENABLED";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .DESKEW_EN = "DISABLED";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .DSI_CSI = "DSI_APP";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .EN_CIL = "CIL_ENABLED";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .HSEL = "DISABLED";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .LANE0_SEL = "LANE_0";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .LOCK_BYP = "GATE_TXBYTECLKHS";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .MASTER_SLAVE = "MASTER";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .PLLCLKBYPASS = "REGISTERED";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .RSEL = "0b01";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .RXCDRP = "0b00";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .RXDATAWIDTHHS = "0b01";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .RXLPRP = "0b000";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .TEST_ENBL = "0b000000";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .TEST_PATTERN = "0b00000000000000000000000000000000";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .TST = "0b1001";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .TXDATAWIDTHHS = "0b00";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .U_PRG_HS_PREPARE = "0b01";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .U_PRG_HS_TRAIL = "0b000001";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .U_PRG_HS_ZERO = "0b000001";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .U_PRG_RXHS_SETTLE = "0b000001";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .UC_PRG_HS_PREPARE = "1P0_TXCLKESC";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .UC_PRG_HS_TRAIL = "0b00001";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .UC_PRG_HS_ZERO = "0b0000001";
defparam \HARD_IP.genblk1.u_DPHY_CIL_tx .UC_PRG_RXHS_SETTLE = "0b000001";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* MIPI_DPHY_2_ipgen_lscc_mipi_wrapper_tx_Z8_layer0 */

module MIPI_DPHY_2_ipgen_lscc_mipi_dphy_Z7_layer0 (
  MIPI_DPHY_2_data_n_io,
  MIPI_DPHY_2_data_p_io,
  PLL_1_clkop_o,
  MIPI_DPHY_2_clk_n_io,
  MIPI_DPHY_2_clk_p_io
)
;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
wire PLL_1_clkop_o ;
wire MIPI_DPHY_2_clk_n_io ;
wire MIPI_DPHY_2_clk_p_io ;
wire GND ;
wire VCC ;
// @48:5659
  MIPI_DPHY_2_ipgen_lscc_mipi_wrapper_tx_Z8_layer0 \TRANSMITTER.lscc_mipi_wrapper_tx  (
	.MIPI_DPHY_2_data_p_io(MIPI_DPHY_2_data_p_io[3:0]),
	.MIPI_DPHY_2_data_n_io(MIPI_DPHY_2_data_n_io[3:0]),
	.MIPI_DPHY_2_clk_p_io(MIPI_DPHY_2_clk_p_io),
	.MIPI_DPHY_2_clk_n_io(MIPI_DPHY_2_clk_n_io),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_2_ipgen_lscc_mipi_dphy_Z7_layer0 */

module MIPI_DPHY_2 (
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_data_n_io,
  MIPI_DPHY_2_clk_p_io,
  MIPI_DPHY_2_clk_n_io,
  PLL_1_clkop_o
)
;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
wire MIPI_DPHY_2_clk_p_io ;
wire MIPI_DPHY_2_clk_n_io ;
wire PLL_1_clkop_o ;
wire GND ;
wire VCC ;
// @48:184
  MIPI_DPHY_2_ipgen_lscc_mipi_dphy_Z7_layer0 lscc_mipi_dphy_inst (
	.MIPI_DPHY_2_data_n_io(MIPI_DPHY_2_data_n_io[3:0]),
	.MIPI_DPHY_2_data_p_io(MIPI_DPHY_2_data_p_io[3:0]),
	.PLL_1_clkop_o(PLL_1_clkop_o),
	.MIPI_DPHY_2_clk_n_io(MIPI_DPHY_2_clk_n_io),
	.MIPI_DPHY_2_clk_p_io(MIPI_DPHY_2_clk_p_io)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* MIPI_DPHY_2 */

`pragma protect begin_protected

`pragma protect version=1
`pragma protect author="Lattice Semiconductor Corporation"
`pragma protect author_info="Lattice Semiconductor Corporation"
`pragma protect encrypt_agent="Radiant encrypt_hdl"
`pragma protect encrypt_agent_info="Radiant encrypt_hdl Version 1.0"

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP15_1"
`pragma protect key_method="rsa"
`pragma protect key_block
0IQ9ET8DpNFyv7fA/xsNBVhsjLblJTTyC9wb3VKe3ZXGR6i67EepHA/sUArtTIBT
ktNgS3UfGTnIwQc1XDQIe1vafdjKiNjFulqDNXZLbIdxSYpae7aR4lx9huddppZl
Ql0vC8d5hfGIIJmDYNWVxxgslpmoetICrM7yxWomQB2oP3M77xvRqZJPQlOpCpCh
MLdjyemvQuUGiZkg1EYqzN21bzuVOUp9SCgJnUqW6orqtkFtXZdP2eGztIV8krLl
oRdQTI58DwjLOtqbnp+4Ed9MHcEepNmtKxBT6lNbv8vjOtzBgG2Nk1JIEn97AiO3
p8tq4Msk26r/qgpEqoNAJA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
a85UEzm52mIFnb/DgEULfgUyewTnoB67vF4fluiTwghtejaqEEDczNECFq7xFMgS
XjxDa9mOrBrWUpxE6C8VjNZkB1cZg8w9vggd44TzU8G+KyLWIlDBwKYc2+FNLGrw
4qLQ0R3GnfSwrMmTQIoMU6AtJKTRO26iJYavLje7S6FfZbvkrJFMAxP3H7TzAPRw
ZG0hgsulRH+qNZubOdNS7XXTXxAHCH7XqvkRzl3yvIn8fUwr1i+ZAforC+ulf04K
IB4YdoKPqzTz2XduChTuTrVClUKUPxAH0tPErtJY4LfhQ2YZazULR1yjqJHRs82+
4faFp0C+X5BYNyBRpHhAwA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Mentor Graphics Corporation"
`pragma protect key_keyname="MGC-VERIF-SIM-RSA-2"
`pragma protect key_method="rsa"
`pragma protect key_block
VQD6OWWRvC8wnN5aDjvknTcEvJ0JUAUwtBLNoy/fy8eTER2kEmpNJsn6dJI5Z5MH
dWOEibzd/SkZP+5U1yoX9RiYxsmoodaIqzkrhBAMpxAeFYNgKgNHRREqjjqG6ytY
8EwzzvaPOky1kwV7pgxyJvxbnKY58cvFmEd2horNCfVS86NIACMjTdaBSXzbnLop
4IKAsZF+NnsgI/phYFa6yYvC0d3Tk1lXAOP+dMZ0eumzl/uq+Km50A8W139KDJdR
aL6KdTIoeAN/kOks0qUexeW1a11u4OixIRtu/v2ysOlG2OA7UsKSkXYbvwQ1hDb0
La6wv+nGkLTw5hWVL8V68w==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=128)
`pragma protect key_keyowner="Synopsys"
`pragma protect key_keyname="SNPS-VCS-RSA-1"
`pragma protect key_method="rsa"
`pragma protect key_block
iHx/bssSgWZK1BgRBWgdv9qyjV+vuLMAC+oNH+HOor5ZrxqDWotgsBK3+QPZcH/7
R7atpC1foxbUJ38KPM49FpcNPXbmgCq9PnxPspXlprnqadDCuEe9kNe0Tjnr0pkL
VKDhDZz54lXVIZMDE7YX4w3oqXF7lRJtxlMeEHBafW8=

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Aldec"
`pragma protect key_keyname="ALDEC15_001"
`pragma protect key_method="rsa"
`pragma protect key_block
Ltaf3udVTyyNqjcX0D18cVMFd7gaW/SAFJK2qEVAuPe0KvUlT6hlelcF5uTQA4XU
MbBKGgtTl2d7onexTeNszN3qnarBpMZkZuPgiRzWlgm3u/vPWdJ2w9GKsLi/YVnP
MbHboITb+mMMZV3Z+n9scixcmPcTMYV7k6PQrmv9RZHLXjbjulL9udkdHG8kF5Ms
Wh8C2IZaZQ1NHS1ojETnLASzlkwnymI1hJEhCe/P3sMswukjnUgNBM6cFao5vYTf
mxeS+ZLgMUrBmDcIli/Gj+1DnTEtF/g/4sdvA3JAMUWZzjqKP4pg6Nlff8d3zY0Y
+BAshTTH8zOqZLNT9W83xg==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Cadence Design Systems."
`pragma protect key_keyname="CDS_RSA_KEY_VER_1"
`pragma protect key_method="rsa"
`pragma protect key_block
mXTAeOI3tvRdpdsKE4jxVc0bW217FnZZxGRD0toIuu0LcklRyr7H0Rw3WhIgveeF
yCkRsxbQABjYXEnuNxKoeCK0f19QdaP9TmeiAgrpq/w01NdXwaapBWt7Cs5mIJid
q93DHW5gfC6539kM2tS8eSj6AlfUUENXsH3fnkXy9OnG9lF8t1i6pGURd5oDHxpz
IdNGZ1k/LTxNY2uVZF53SZkdZ7zCtNfr4m3HNkWcpoRUZMyxhTy9OncPExZgneMI
74TunHPovImSQmSUPEggy12XsQZy0eChdwib+brtNuulm1YjYC0F3lTE2v2XtaZI
Slb3yTPw/KR6KFx8p1ljjQ==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_2"
`pragma protect key_method="rsa"
`pragma protect key_block
V09EDyHNhBw4v7B2MDrK7k5ZTGhP2wjFIM/d3LQ9QTCI9gv96oHiEBbOj8Fmobab
rBNETpirqel6XYBNfnCy5/aqu2PVXJBigmECc21zxdpxk4o9grA3Irmmj7RxfF3K
MhXmMXtq7rO8pZU1bVYJdXlqmx+gZQRMXqRit8uAW3QqEALm+SeU2oT19E6g7mGb
WEVj6oHSvwJyp/UrFDqyzp4qlB6OxZmKhx9pCl40Vsm4FzGUD98XTErvQFOFXZ7i
3MiLjy9sJdobbZC0kv+JHJzAlcMrgm4DD6fyd0VZDlpemQ9c2VEks/Td8z3X7098
PUaF2yoyFTykPcazpv/TQw==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=384)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_3"
`pragma protect key_method="rsa"
`pragma protect key_block
k+Sy7ZpCnwFifWltn1Xs5RBEwm2/M18X8HP1tfYyvMLA/OOIocQbDzwBYl8r6rqw
gWWvARnGpr0CjEJEi9k8m/3fQu2ta+C7VoRSXkQkXPBhyBFEof3dGsneuNjUj8yC
ExKA/LRtzN3B+VhdPjrWtkLWXaCkNIYwQ52uRdXokuG42GE4pOxEqdl4IeluNf/l
AoUGX5JE2TmacLn6Kwlm56KwciIaAo3TSND43dxuEdv0RmlDhMGeddWF3BnA6Ecd
d1y+QE5LEJ/VBZ5KkapJatHdy0K434pyB0R2KNcQZyuVLWORjVllm+RDjRrZUazi
D4a+t1fAoJwXRJvz9YMgwwd1rAdkhtJjt1Ok+a74tbLrSeRvP8eqZxiexo9ZvlkL
0/jWCqgz8X9y6WWDlC8907RSC3caJygpE8aKKjMSvMwpgpXP4n2MuBhkHMApcgqN
LfH3WE/uSyyZf6XayG2deXo9Vt4UTJZ5YP9EP7gO6fpQQk2ouVCYbXX06MmF2R8a

`pragma protect data_method="aes256-cbc"
`pragma protect encoding=(enctype="base64", line_length=64, bytes=3680)
`pragma protect data_block
JjIc1PydknnEQ7YifRB3jLhsChUkjUmz7meoChj77l3NOLQhzs5mGdvw1UWvv54d
ldQ7/+xbw7Fmzo3RH1deBfzaRwN56/PMeuk5wPJvZJyF2JCr4MzaKThypjWwMX0j
brFOhqhLhv3ueXHnKjKhhVrmTHST9nh7MPuLl4WRI+9KefFJislmve5D/ugXARsI
fU+5YXKT/bMl5NogXtcQCoXrR6LB5i593xJ4yrM6A7hYgTSSR0V+KO135LnwlL6M
K/sLiIk/krTiDm1y3KnEGxzUJ+c8fR4r+ADqGhGC6eo2nWOG1UVp4svLtXcYBY+t
Mr4J7HfknC8jbUM3uP1nX1+f97EE/fmRvaF3GyLhTnVQ4qjwzPAtODdauHqM3f8f
3HBEc/MZ5MHyRLf/2fSJ/tycqT6VrqAhPcdNUy1OEYbVhohIiF7XBXiww0Gw9goN
FPFLhpmT1I5fCF3kNjgMtMwg3zMbjk9JfU1cLdKwh2BgtSwwcv+3QmjtqUm7sPyE
KO2HzxcON3hrbHzUpeqT08c205MdHp+TclLeAdSyOnumfJemywTVYmCymm2Hd7Xv
sAuv6yXkPxZARMvnfnKJidl0vCr+KxX8MF0NQDSudqjUoW5iqc9TTTeDvdMhHWT9
s9LOOU0N3EQcP7RSjIj4Mwe+Tlyjam+Mv1kq9w/Y1vVyl3lSsGaVsCfJZlmQCIZt
MzYliflYJKZhJcbbFDKv/x6sbM6vq9oEiVw0PR+G7wRuG6iVkXMcsu+z5PJbis9y
XKY//obODKEtV0NFM5cNz5NH7JGZ+Nkmh54SCtVIifmoRKpzyOELjNO0tVH3vFQb
llHmJYTgfe7VIVpqkfKh4PUdUnJqEq7azQr6ylN57ZcyOYkLKPjqcxLNZimirCA0
xmrR4ONolNTRrFtLiQu4mkrzp6U5+R65PBMF1tjDWgOkHgfAX1PK2AN7MDFb32r3
2ZJtIYlTACKouCx4RwJUm7Ln1WCX7QJ8IeUiYUPlaLx0JPcVF5EE1tiV16RA0VtS
A9i4E7B09HcK2DT15kj9GLMxgFwbW2NKZ44/A5PVtaJXip3Na5zAVRs7LcqN5Hn+
1nA61fZAa5Aju7Fcs/+7TnhMSyTS3WL7PjEZCs+ACmhF6UnnNZ4nJl99tu3Cf7Mk
lx1vTqlVlsIqI3ZADkNBGN2Owzh91jLvjc8DCam9HS4Dm5PBoTv//Axv3/dWRnoa
XDk06LcE6vZQXaZbMZ22gWWVZdxvirPNmgASR/OzSnaeE/6/1IFcmmtQJ+u+yvz1
6EA9jqIBIGfIYOWuCOuuIhageys40jyATjppOZNXc+cQsPAShDcW228y6WGr8z21
6suPKFjFlnYHfuZ2du68CAsKweunZReVJNwAHcfDN/OY7/WqYTn2HQ5Uv3n6HmO7
jLXVeA64Ta4Pwb7UyhSgpCQ7KcirLtCKqWOuPtQ0i4zTpSkDTH44NCZ1vUDlqRu7
yudvy6vTMIQCpQJW2BAXE02o7Y2oL7xpKQV85OPqtjgXZmxwwJoXnEP4xYNpiXbb
a/IICfL66m+7qDp+qFkpRFBH0LhdvR8e1g4QKQWgmPtGtqjFIZAldMbNw6v/QUXd
YmHrIq8SGoVa2sdM3zQaNGekXbGQ0JNhR5BcTZH/eFS8rYbOoJqa6nrTk1UJoVvG
79du6PscB4Fcsgz3AUFfRT9n6l9z8t9C3XLcUllY2gKHlvKkIVhCcjFu1BMRqvpk
pvsD/LcbHksTLef4MBqOnKmelbmYlTbQuBvi228wXlWcZQUWEcb6yA0BVR9K7qM6
vOH+IIDcJAHafc8KGfhkCGP83M0KJA0lHhwwrKhuvCedO7dGqDh6gcVwMUneJJ8C
6BD++A7quHQSwMdRbCViI6/h85iPYwi2VjAcJ7uN4z2Zm19w4CVyUvzaTTms/Pyi
dwW+NTush9B4sVbga6MNd1Xe5LS/xw1bIbq22qjSXW3YSGwRXxGydeOxdNzNKLs5
xpo4qyE9n6Ljy9Smdrur1qbMhaUP8kILNf2PxvMPoOz2mc6JF1Ae0yeFbYPnl6QO
o+oAfoKbzkE96i34ileyEYiUmYa11qk8pZlZdTkepAuJd0UEOPzzlrxGvXUTy7Zr
XBnV8hvPvO4FpkwZFP/aOqxUzN5PKU+7GPFjA5Xe7yU/d4gZxo+XAE1byfWf5cbs
iJjK+DmUAbOYhnG0Fqm0dh6k5uDeXT9KR0pcac9XHBu6k83tQN+kbbOIT6CX9j1f
P07qXkolyuBrQ/N3VuWST7X03zqBe52EB2fK7Y5PoUE98Xu+NP0TJDuhGAs9XSYZ
/SI5a+qO8rbUOYaRo7T8tVJFWb8lApuuKdFekXffN6E/plwPdAYYWI7U0Uj3bvi0
sTjMXnMDIsHA1eTPLEShfD+JMVmeA7wb8NrP/8xn/tKfuOjBU60T8FxWoH8r/aWI
TN8YhvTGTBga2noBePFuNP6qUfAHEnHb6nNheV0zFcuszdh8Iy0CQtrLuNtjdEyG
noFsV6xhOSQ1T6m3tPcY7CH1+HPIGK+FIqcA+ArVHhiXTsBAbFka19BvCQuSO1Lz
DselFYaJYwNMrTGXe+zBa9S+T13F1num+HqcOWpcU/Oz1x46CfxnuH22i0FGrp4E
QhGv+p/lv+uoj4L5sF6D79USeK3Stadam4kCP3uAq2/r6KkxJ+Fz8R2v1ro0zL9L
OXDkbd6Ht0P2Iz6Q4RiaqKlRzw2TZ6gLxl7Bue64FIxGUHvZgfwbX4kgpKfuLrpR
qWpJdqonnprWmwqCUrIaYgJiJt5Jtu/6WiyCoGuIMKPWo5x1Q/FWAtLWbKiLQLR4
jgAMc/F6DnnBYM9YNyOWnx77yfnbP6P137zHNM9z3q7f73TiIh/q6aagCPB059dK
JaQRGATPLvE9PchhCkvC3Ux4pmZaYLBy4jEZIMHQ35z3KcIVJsUoDdPyXNdCqPWm
Gj3H45qEZDX30I0I7tjEiqzE/jSVwUnABxQCzKcrLsbWIP2TQvvnoqSJg9dEnGjA
kOAMqutr7exAzC94CP7vxUoNxVv/TC/XbGWxfERy5337bKGPThfBB7o+Vzm+Ylto
fgYC3VooBV9EqjxM8QDgHxDVEvHwxSLnXWvSi6N+8xWMqIKwn62dHIZmqA4UoKyr
rznlu+NPYHj8j/ty56mirVcifN+nlZtXtSva6CTQ4phGNpRm4s9FH78DdOODvxWp
rz//j5sYc/UkAYkyF7PWGoG4T4PLRRaJWS4ILVGyslsgqdaW8rL11oCWW9xWhLPt
UEaJlU+m9XcwsKMfDO1BNJ4EDB1X/svVNL2oVLXPHnKGo2zVe4xbCMYZkosrSYJP
Dh+n5y6rNlkjweey5sWQsnm1AlcJtvuUHPqgx3bwH67WMDzkJ5mzJRAtkAI+awJv
rmSnSNBSdwOySGbNkXTjBJGPmXSgk1k/wPjuGCAxQGcFRztCyEC/lTg9Am+afujz
4Vg5xI7XPH4GjIUh0n0Vfz2lfEH2KJpw4KVpMgEGzIHSBy02RrWb8sfUeOHXP9pl
zjsiQoSew5GjBYHLrZAPgVsKH2zRYzRpCsOvcREgsvP0w2PmbiGG9tCwLxDScHb1
pBSb/pJ+91mUGtlJuS2kqOHfVuSL40OlPjgyzY1B/CCSaYd5h+qJv5mz+cqCD9fR
2nzwkH9k1KkcHXIMvqSqgB2Tb7uRZfIFptg6gKrH1MTtGVs1RB2FtFqRuwCVQqTW
MTkTPAFFfj88171gavz0lXefrhueQU76SWNId8/PDLVkpNRQs0c5a2m/25tFqebK
DKiCGxXx7QgLahZRCjHtAt+EqlomkQMytQduGDLG6yNKduXZy3nWDQCmTn3r6IM3
/ZeP1cFmDWyFfZbbMZXwHuPku5+/Qd54w5eUre7JH/7UJMP+ILtOAu2W5GP89oCP
BNuN5t0gv9TsKso24YHzCCX8qwp/xzt6Eh2yycQKXZyp/e0DF984Vf4G+yEKGqSa
WiRyMuMPIgaGUA03Zy+xTz6QSrCjqGoJhBP1ddFWjV8seYECWnrGvHfNaSXb01FX
qDlYfALPVY37z/p+V7esAuOlTjpPxrw4sG6heWbiJI8B+BLcAerqwABMHk+pxtij
Qt8uIdcB9JtZv6zc6K6t1G8uHnOBNVV/PUsjN/tTOvJ0P8egUCEKnv5iYqiC/FKC
bhC61bs821iadftbwM4nib3VJj8dtZsJD2LDEStmBbAOZYplDRLbMv4fn6yCY6xn
vdx9XjwkjcLb329gq8UMYo8ksO/LE7qJluGlm6PEiPVJBXkyhOlvqmImuQMi4Fxx
d13XO7cpY2uJB6K22tW2ez4QKXPFCyTSm9BbiHTMzsDduSSzr8JYInj8qaMrds9O
ulaovlWg9AgOKKHmnEXJ1k0VgdRZMjhkaco0FNoYWxo/FeHy/MlKCisJGdV4wPjG
A5Bsd5A54P840Updji3N6bXC/xDgZrG06cMahQFul17+2epAfBpFmPhnKuRcx89m
AyOt2BkHCKApXNcw1qBR5x7uQm2Ct4e+zsalLeUUDfegE5F9swcKbS7nAmCBcpDN
N3QZfjMYVCvAICqf985cU2kOkI2HeUKBY6acTIZ/DdGDoBVVr1fq6B8SKBXu+ZjR
RMII467Ly/4c0qFDm9ycjUB5DeGGR2xcYcD/HsRhJ0z/dB7lhu1/VozEI3Qn9q+J
fNAghgVa9bK7Bf7zz9d7pWra43cfIuv4ji0f1B3OB7SjqpkfLrjDR8pbAJ0qJ5Ez
WiHal3Lmgaqiqf8T9Wbxlh4tSv4HnBZTLkI35SeQzH3LGoTqyJ7Fv4LFQzRPpCzD
EXW8D29cYhssllr9lmCUvnC6VyzVVcwVUALRMI87nyQ0KMcYQU10DlkDAcnF3bIB
3QgjXbY9OcPItCRvDBAm0+CYXa2JToJTlFknrK61WAM=
`pragma protect end_protected
module I2C_DPHY_1 (
  I2C_DPHY_1_sda_io,
  I2C_DPHY_1_scl_io,
  PLL_1_clkop_o
)
;
inout I2C_DPHY_1_sda_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_1_scl_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
wire I2C_DPHY_1_sda_io ;
wire I2C_DPHY_1_scl_io ;
wire PLL_1_clkop_o ;
wire [7:0] lmmi_rdata_o;
wire [31:0] apb_prdata_o;
wire GND ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o ;
wire int_o ;
wire apb_pready_o ;
wire apb_pslverr_o ;
wire VCC ;
// @50:42
  I2C_DPHY_1_ipgen_lscc_i2c_master_Z21_layer0 lscc_i2c_master_inst (
	.clk_i(PLL_1_clkop_o),
	.rst_n_i(GND),
	.lmmi_wdata_i({GND, GND, GND, GND, GND, GND, GND, GND}),
	.lmmi_rdata_o(lmmi_rdata_o[7:0]),
	.lmmi_rdata_valid_o(lmmi_rdata_valid_o),
	.lmmi_ready_o(lmmi_ready_o),
	.lmmi_wr_rdn_i(GND),
	.lmmi_offset_i({GND, GND, GND, GND}),
	.lmmi_request_i(GND),
	.int_o(int_o),
	.scl_io(I2C_DPHY_1_scl_io),
	.sda_io(I2C_DPHY_1_sda_io),
	.apb_penable_i(GND),
	.apb_psel_i(GND),
	.apb_pwrite_i(GND),
	.apb_paddr_i({GND, GND, GND, GND, GND, GND}),
	.apb_pwdata_i({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.apb_pready_o(apb_pready_o),
	.apb_pslverr_o(apb_pslverr_o),
	.apb_prdata_o(apb_prdata_o[31:0])
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* I2C_DPHY_1 */

`pragma protect begin_protected

`pragma protect version=1
`pragma protect author="Lattice Semiconductor Corporation"
`pragma protect author_info="Lattice Semiconductor Corporation"
`pragma protect encrypt_agent="Radiant encrypt_hdl"
`pragma protect encrypt_agent_info="Radiant encrypt_hdl Version 1.0"

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP15_1"
`pragma protect key_method="rsa"
`pragma protect key_block
aBJKmleg3sOuxGTSTHmYGtDi862aHisdYtWa8OXKTJU+QU3l0UgOjAGT2IcNwrae
ncwe/uR+2yLjU0TNgeKYnhVO002bBnUDCOzHhSc3UjeEYaEnl9XKao85Z4V8kVIP
K+41BzLCJwAeN+ghumbd2c6JtvFMyJJLrRHgNIz41588wSeeLnLowPCiYGLGYAeS
1p898wYiFXiVlpSF90g3sAYidBSl+gVvoBiAex7S2FZGYPsOzzXRH7MzPmNxM705
t46Mq+pFcXpk9DF7Ucvi1P9vWWi+GNcKwuKhNE7IA1C5v2d/lAg90zHxR+mG/LtP
2wM25FbxQKzstTFbigIwMg==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
hzGmuWKs69KB4JvsI7WxgzyCZIX9c2dBTVRXzVtL8ttese7yG+ldpg08VM8N2Jqo
GFfAtvPzQPpcA8xnl0MsMqxEUPhLwmoYUiRF97NdZ7ifZptXtpupaqXJ4Q7Myf5l
/QBUg50ivHjz5hYd7/TqNkg6TGGqh7foLqJDEVGsynnntJKw3fym1Ke5iZEtX3/H
3YNiwNAIGYM0E+DGeXjco1GwZPNF2ZSvaLyPt4nomBAyXg2SQkmnCMFaNF0WcKKd
dKS1TEJ4hI1UgmZM0uVE8PF6KlSJDhx16S4Xjdr6himdiKkvKrDfkxOCcll3cDtu
+klBp+xeERaXEDUOR7gK3g==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Mentor Graphics Corporation"
`pragma protect key_keyname="MGC-VERIF-SIM-RSA-2"
`pragma protect key_method="rsa"
`pragma protect key_block
HRETOqlsyqhXjtpgc2+77JekcWzQlBT3qLPprKuAGpt7Rg4wSlDxjfvLAQTj+9Yo
xCkd7hVhliqPLEd8//op1NberAR2z0kHzE24Y+C19moQ0N2gHNJtyToKAkecZpMa
P+awTdxqloJ0P1Ze9GXJX/stg1zN5U+68IHUKNWw5g2Y/4ImtSZ8s737YHozfrey
N/WmHkVYM/P+lFfEHZYs5Gs4//5NOZKX5JpNhRJbM5SvCznFpPKQYe0/H5VGQW/r
cICoztPepIYOIRgCwJ9dSVOF3PfYbYEPu1bhW7Y3dJpL1oggGeHa8ThC0ep0Ushr
Lp3jptI4AYXEzi0mloz0oA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=128)
`pragma protect key_keyowner="Synopsys"
`pragma protect key_keyname="SNPS-VCS-RSA-1"
`pragma protect key_method="rsa"
`pragma protect key_block
diK9amPBaPkSSBBTKSKTvbyQbPxLR5l9l1ScglI24HxiNVY2EHwFjYNFe6FWDpcA
LdnzvkbuzYNIczOsKVCkmHarXukYj3yJqGRRfvJCPqN2Mm/gHSp0/fntTmEINvgp
gDIoV9DPi4sNFHb10Mq74ZE2+Yhb9jhsvJj8SNMpw0w=

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Aldec"
`pragma protect key_keyname="ALDEC15_001"
`pragma protect key_method="rsa"
`pragma protect key_block
j4jZmHlGios2At1al7iiS5GXHT/LRoGfiXc/Vf5WBZttXDAi6izREeUp8bgnrCtL
VGDH8Ft3a2g8RJu1DjS1Daa3vIu/oVqXIoSgXjvHQow8ydGEio7v17Ixz2aGo55K
JiBJIhZS8Jks6kNNl9lviPHjqP0kC9RkudwsDWjTvcMStufp6ofF8wnJdQgZo4aD
rZUIbl381JwtLbT3SWrRfkL0J38LjTlI1xWNt6SrLFqkDRX7RWIMPFUhwwn+tHAq
TKngXGA59AlvNQWJl2MvG7u/Q8WtYPrEP/+JmE2u2w1C9bDWmQzgj48E16v6jloO
p0aRzXqYllNGxLkeZK3viQ==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Cadence Design Systems."
`pragma protect key_keyname="CDS_RSA_KEY_VER_1"
`pragma protect key_method="rsa"
`pragma protect key_block
ZVaKSac0kD8WZdZSYRBo2qscG6lSqwSFzilKnMpNN3ROEUJKi4mfe2xFbfn0LOBn
sAOWWYglXhNFZLjJgHX3BXqIXSYLg7Z4x6keUqntU0JblV60IvxMMfUtbqJJfDy7
Y8hUEsFRXBM+w9skuW3jqwAhfnGQgpwYXAfuXoGoZUw2lOpePX9Vcx4msA7Q3lV3
OhH309uiFhiBcsQ3SMBZNUXxQ8g0ejrc3CVfCJFBdJNz+D+JaqblCufoncw22e+v
yz4nkl6A6HUFI/fv4T3lA23xtcZ1kozcFgi/7CWdvVfYUWoZwjc/5E5h5uspB9hM
egbxEmccNL+vVAAvimoCKA==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=256)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_2"
`pragma protect key_method="rsa"
`pragma protect key_block
J3iRtlMQOMvi6uw0NvYuvbudkUvC4n5m4oAKSCjxrp31jC/ru3cWwaLpgq9PMViC
QZjDvLPbECaed6SIa8pjQUtWbw5iPg9fHeMgleYSPtO4zdQhvyvUT4uVP6dTaZUt
ayCgevJZNF0sx719DUAr1GAmw6Xo7MT11cxCTDd6kB9yJfXgfo26onMHnfakGYG1
zibMZfJy1urMme2kYKciUJ3Ee++XX+TQc4FtXVBTTtZ7K51y0qq9Rk6PZNbWs4D8
YoCMx0Z2psKUBdvZzWr9w42jTKEzvF5OwTVH/etjRINhGY5bUjvDeQcl9k3UgSUB
RSuj6guCycw9FHSMxFjwYQ==

`pragma protect encoding=(enctype="base64", line_length=64, bytes=384)
`pragma protect key_keyowner="Lattice Semiconductor"
`pragma protect key_keyname="LSCC_RADIANT_3"
`pragma protect key_method="rsa"
`pragma protect key_block
O0JlrPw30z8OihfYc7SaQ9rChY3wqRCwxB0pW9WZM+2iVA0a4s9q93wLsObHHQHw
W8nvAkMX+ONVfNVDiasJQP71ehU6XeQkUgLftITcV9v875KMl/1BAA006oHaZ1BL
vvreVxjdwrbXEo7l6H75VYlaaaot32pPD5yWP5wW7AYyVziF7UQWfAPPlumeCgNL
hqzkMLx/dx2TtcgqqQ/NB7NXtkZBB8qo55JEtYosZ4/uvUn7gl+e/vtzY7i3ss21
I9e7G/fkQdxjZWuknzMAsXJzPKyl7/nE8m0MO+smgw5uftYZheH4Ev6LahtzLL/I
RQH0oDCm5IBiJw/nCwxa2CHtaR8tcCvawXBq2utp9s7vlWNbZEoEG1nG+ci0XNs0
lshm8WgJIXjSiBLyQyZhJgFfHlB2esNrOc728Wdccyn47/mUFPnxcIXrtbjEIPk4
xX31OG9ZeGadb7EASnGyEDsU3DBDulLLNzsiulFcW8GtcQPepghPjkJpfY53LSf3

`pragma protect data_method="aes256-cbc"
`pragma protect encoding=(enctype="base64", line_length=64, bytes=3680)
`pragma protect data_block
z2xvmpu/IKI0wDDwBGL4p+lDy0zKa7PWNuOGzmq7aUOFRQ6X18cf7vunf/C+hXTc
NXmUYS+aoTO3Y+TzECYviGkF4B/NugcHSYBAUJWZ2QCnVmLfTl7zLzcoyQn20UL9
0+69ht7mzyc6wsYUj15naSFfPTxSkS1ByeMIuHWX3qz25nKPS+J2Ga5ycTH+jMpv
0Dbjh7eKe24kAQBm4WNpZe2B0/4CEva1kTyf0QVJPwh0Mo3Zj1MKc37YP03DeCkw
xPOW1/9XPrT12fAxHVbZWxF12EDz1K6q6kEN34bkbpiJHrE/PI55AIWa2rDaufr1
/mQsUG7XlCTsPvsDXxFYudPZ6Ydn83i50rW6r8ntd0H9WrQb1QRY+wAabIPJwmWf
D1+pPWTNFetrxyhmAE6qjdzOg6rb37Wg/+X+LPHqTQ4oTg+8f+kcA/jyv/vAzCGK
C03lJZfEN4P672vmiCVgsJeTGg64hmMjb1QOZa0HBU46ZJ2mwdCm7izuPW9H20oj
2XfTBXQL2efxaDavmvY67HlC3ti74tPtU7MpaQfHvotsNYIPcP0pYj4hcZi4nUtz
QfTJpqfcOMfzgDonKnbLERHd9ioRrtO18wMqJ3Ad/yEODRPFQu/9h/fhCchKjVcS
buM+XkHWnKSJLiNkwS8GRGt7S8LZxAXEdQ1fF/SFgSau0pxLdpkm449mGXB8/m7N
Hg3RG4IekEvTRXLaDwKRmXS6VK2R8zZwx3LJSFtjWczKE6j4nMgERlFkXqXCZWdP
/iJbh0F55W7Fv9eDJUvmbMer3VpeXYxGhCHxdDTgaj47ULD0a1oGi2nAu+OpTkWe
w1uQ1iqcY7TWyNioa8UbzvqHeF7xCVOIqVkohAccebplQqxT1MXFRcNdqbK3fcsZ
QwKFDJNKg5SB+Dvy4AJLPE3MwvFmNstxPT2rE9NPILQ8ajnrVX3wUjlh82ICI3b/
zcs5UaqBZs0a5grEsacD9x4I7G9Ijd3+nA3Zda1yOqpMjbq1FgqZJiUza/iGdA/X
6+XsCUXfy9H/doi1Okf2IUsfG76Z07mARpX1T+1vqNVwt1hmwvM27y7NwF62zOOO
2zGqvk9EsbVSXBqiEjSPnxjho85MzsJ7LuE1Z9pf9cRtrjomJ7VekZf4c13sBtTd
y5ebpSXrPRerYTaw12p9itcmLVJdqqGhv0gziSdZKxIZG45dBUjfUXGvST+Mx0lH
mhMagnM/wBrD6Xv1ZmqS/2iBZpV4dbxYBOYbI8sKQur48N6fbJmR2dHqWKHxjLq9
qihgly3emKIyXKNq71XN+xibWbnvqo/H4AIozuDJLluX8vtAdsqVTTCKNld9RMzj
bz2LpGZeAhGMgaHnKNvPWF+8JtXGZtPr+zVvP9JUucWnYndgpBFqBRj+qWdbiZjD
yoYfpLeUAWTIq+/FANQG1BDIcH1rO76WelkpYzdrCZU7nbOsRLdccd9oTRq7gFyR
pGxVvwmZs81C7Lfb4szxLOS0YBPxDc6xmTwfxuKU2T2iafIt8gIQtf7qxEEYOJgy
5lcfRAODXGtgSgss//uh1g0k2/v0oay5MadfouZpUVt0QYwPdQKp8x9q1ibhe/GO
BMd//GMVfDLTco1pcFK2VilmOnyAuDOgQXoLpt+3gyibn2Qmfi3MhnhO26BZh/qu
1CbhpHAY4kfKr9CMK7JswFjXh7eEufRtYK9Q16wP0+kvRHndHDP9E09TxDdESxVs
fAx4mlH1gINbdjnHUaMwTZVxQ0gaRbftkugjlGdb9NJu4zRbgV3kt3wnOTL9ubKa
xJBS3dyBsPs2Xj9Xde8oyg+Nmx6As3TkECbSDyxd3PBmItsSnGQRDU4G7nH6SIeq
qooAYE9UAHVOaxW0Qx47kqvl1xY4EpwSubZfHtuy1zA6DbNUkhnUMY0jBYLYJFUr
vk5CnkTFSGXJMJEum9JOj8TYB4WjK5UjOWFboQCQCdaluw8sXHZnF9Fvu5XlVAgA
ZH8Gy8dCg38bmX4jYU8J4/eQJKyE2xljnIuOuM41XuLsYYdJvjqLh+XwCEP0zn2u
aMxt+FZ8YZSZEeabXLg7VsKpIMOiRl0558uLc6gNrMtmpmxNyx29/cDsIUuaOcnN
i8CL1YTeFSmcrS7n9aidadVeYI/Sg6xzzW3Vh10ZmLsjw0Wi5QHNQ5bw8CCAAzV+
PJPccR6rN7ai5dlNvWB1Va7G0iN5P688rWcJch/KN6EqDy0nIH6+hG+MorM4O8qR
yeKLac8GiT1mgXDBqqj+Ys+PMZphnTQGGiryJGGMsuwAKAlqr91J2DEBV4clNxub
XbHbUNBzIbqPKM+/F/WWF0AI3z5Tk3S0edJRrQ2KDGOJrSAAZ+Jzlx/Z8jgR3cs2
bJWagbKbMffZzB11deXGaBXmckQbAgqsRcJiUqexq4UqiAlbibVJmcBb+s1BNV+x
rOpbKVBHLIK6P5SKs+rcpVqe/y3GovDcMruUfu0bQNueX38eo3sLfAluxapa+KRt
vP8oHE17YmdGHRQW5Rdz5VsK/B77nxxJZmP1+1uyC4Jy0MXSfmUu/97FuEq38ihk
iKSnwI2LbEvl19Lz75Jwx2/8AnZjljXbFpEHnW4q9UbLH6ICgl0N9QRF3nsvWpgb
3/fu+HqGQqEpZI03kSOzICurjvFBteDPjyUYc7lJbQSdDbcfKPLPPDC8Bwp43pOt
WD1eZ4HNlxozsW8b4utydFVEormMT+w3kUVX925MG8FAVHycCq7Gi/LKYSb5YjOE
FyHU6irr5zyITkRLlfmL8wW99t5+Oubr2iQJFJvMn4TgCP3WoB7K9wp3H+WjWLnR
3ZWxsYYctxDnjcxYosAJG+8yI9epl4dM0d0CRmJveNReoHNAk3HIdt+tcljy9QqA
Otqzdfr36XKT07mEXwIDwG9aQgaFVQRNfzYafQGSQyS2tRXXYCP0VUgQhS6fH97R
pGSPKPpe2aKHiST73oykKNC+2D6WLrqpYzsp+1fgvXFnBAII8QKFN+1W9OBGPOKI
mEVV515rM/hvefY2GUEwcZzR1aN/OOxQAlri1sCu6GvTUd97T5dizzgd4JDF9T/b
Au4tKnbpBxZGYzAqkyh0GFDwBklbpX2LlNhmZ2k81kC6vMbr8JWBrp4tUzKsYiib
97eFYbnj1qkHaKekiTG5sXV21rWLCaSJwNLajhrRLpyEVqfudykzvdCuV2xXBjN8
H7Jb3UxMRvc4y5q+7XU00LbGuINk5DXOCK65YovDwtvYFOvnITSsWwtZIm8n+GuR
mM2fxcU5Zw9Wf0Ke9lgRXcdeAs/AXWDIzW2+GfXALMbJdt0RQbgHYKPWyGlkD3xQ
RfCORxlOjIGXN32dbiNXZdcXRfqvOgTB+t5mkKiUGyE0WjsyLDVqEAKKkCjjZ5Vf
Im4rcfCXdoBuLum9fBsnPAxHa8smcr4BFugzkBTfnZy1Yef4fBzqF58Qp4m1XK5f
LUi6ni1TU8Hccy2n9nQvkGGZYMXyLvE3E3ch7bL7a6Jx7txrFPtumKXWKBkwmCQ3
+p9+F4l2XVcC6gXlGqwyu/44bet4bE+HrxVcqUBnmd4a4T64g/QNWOS7bSIgP1AE
0ZFpsPAUxmzmeaq6oMBTtWy5ChceDzDMzRvA7UhJSB1R2fiqFfYg5GfwcTnVMieL
+RJ2su8U0XiEz+DIuUDeY0JA+OBGMFUy2Wqy/LgxfHfHtxEc8FWmvCIksHN44dVU
aJGMKNCOzFe0cKLd4APzQ4iDyMoeSwwty9/bnumRQq2Sc7FaHAgz+kKh6kiMpdFl
8yoScf1G0Dw07igbDcCch1Mh5LRSg9/HH3N0udmCo2DJ4llXi1dC2+zXfvyG+AzR
R7wP2rk/yjqcNw1ldlnm2nBfJejNiYGVTzz002vihLFRh5nXpGDCCYcLKXPhsvCG
K8AoOO4qg7I5Uh1vDRH5Ba2wT3yAJVPDSQER6cnwDCJaueE0sVRGlbmRsLF6hztF
6PFhwNupv4oz5sFwejsz/X5tJK/Wc/4v2pg/pm8f++6ibNe7v5Bad6oBYLeA8vA5
oT+eZaLat6ipH7YzEgJFnqnIKV2naaKtjGrA436cS56AWKgu0YmnYvHQ8Be2sev0
dPNw3MVMvzaXdk1H9X7WZec4DzZ4LNVT1MErlOr0CkGYd0MMWN8QI9cY8s6AlQ//
o91fUiZ+uZDKSBA3OhuacQmqKzPWgTSzYZONXZvl0jl4IYIFlR2QvZoOrWqi7Kvj
NZpfO+LVwB8o5UhDAJAQkvwd9mNPMld4s6i1itvaGMTfUWb6nOTaRfBHN+kW747S
wPPZT4+O6FWHbVLA43EgbExKYWO2AAYXs4BEzulcXby/Clxb3a8PFUJP9k2JOsT9
acS8pto0gtIeFZAhir7J3F9yM4xoPwgCrU0jPYgx6iwL7jh4nMEz4O0hgQ7m/yTi
X+7m4yPO/+Cjx5Dnjc8vYmn6Scx3vh/h5njeoSC+rxvrlWHqDWCsr9uMESYuQXjt
jlMxNkpa4mf/TasphtShfEa3UyIrliABOMGIZphtU/h5T5H9SXxEACQWBfdrWRnO
MjOayGlpanSso9gpr5dMrZlpbWbyMJ/fCjKFpZ3MvIcdQZKdJJRk7dzFcOPvrYOI
HQHr6hunmdplb5L/Ef26YMIuOnn+w7X+wp2eCWzGy8xSklQnPGgzmK/TPgDX9Nwq
fQRkMK/mwkLnBh0pdqvxATA6DL3M5IS9sYVj23goOTa5IFhZY2fIlTqFf5d0+0bA
VaF4v19AFBAMcn5Hd7JLYmACA1rEQ2E/8pBt4uu2d233rkDOf7mou2WZqbESVMQn
tjR/FFNstMM1TjiyI7XXw/BZN6dpTeLrn0o5ZHl2B8awfN+YvgeklgGXaigX25j8
CAz6Yr2g1Py/rZiKBPCFzDImkshENgelFcP6ADfnlWo=
`pragma protect end_protected
module I2C_DPHY_2 (
  I2C_DPHY_2_sda_io,
  I2C_DPHY_2_scl_io,
  PLL_1_clkop_o
)
;
inout I2C_DPHY_2_sda_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_2_scl_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clkop_o ;
wire I2C_DPHY_2_sda_io ;
wire I2C_DPHY_2_scl_io ;
wire PLL_1_clkop_o ;
wire [7:0] lmmi_rdata_o;
wire [31:0] apb_prdata_o_0;
wire GND ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o_0 ;
wire int_o ;
wire apb_pready_o_0 ;
wire apb_pslverr_o_0 ;
wire VCC ;
// @51:42
  I2C_DPHY_2_ipgen_lscc_i2c_master_Z25_layer0 lscc_i2c_master_inst (
	.clk_i(PLL_1_clkop_o),
	.rst_n_i(GND),
	.lmmi_wdata_i({GND, GND, GND, GND, GND, GND, GND, GND}),
	.lmmi_rdata_o(lmmi_rdata_o[7:0]),
	.lmmi_rdata_valid_o(lmmi_rdata_valid_o),
	.lmmi_ready_o(lmmi_ready_o_0),
	.lmmi_wr_rdn_i(GND),
	.lmmi_offset_i({GND, GND, GND, GND}),
	.lmmi_request_i(GND),
	.int_o(int_o),
	.scl_io(I2C_DPHY_2_scl_io),
	.sda_io(I2C_DPHY_2_sda_io),
	.apb_penable_i(GND),
	.apb_psel_i(GND),
	.apb_pwrite_i(GND),
	.apb_paddr_i({GND, GND, GND, GND, GND, GND}),
	.apb_pwdata_i({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.apb_pready_o(apb_pready_o_0),
	.apb_pslverr_o(apb_pslverr_o_0),
	.apb_prdata_o(apb_prdata_o_0[31:0])
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* I2C_DPHY_2 */

module PLL_1_ipgen_lscc_pll_Z26_layer0 (
  PLL_1_clkos_o,
  PLL_1_clki_i,
  PLL_1_clkop_o
)
;
output PLL_1_clkos_o ;
input PLL_1_clki_i ;
output PLL_1_clkop_o ;
wire PLL_1_clkos_o ;
wire PLL_1_clki_i ;
wire PLL_1_clkop_o ;
wire [7:0] lmmi_rdata_o;
wire GND ;
wire VCC ;
wire clki_w ;
wire intclkop_w ;
wire intclkos_w ;
wire intclkos2_w ;
wire intclkos3_w ;
wire intclkos4_w ;
wire intclkos5_w ;
wire lmmi_rdata_valid_o ;
wire lmmi_ready_o ;
wire clkos2_o ;
wire clkos3_o ;
wire clkos4_o ;
wire clkos5_o ;
wire un1_u_PLL_2 ;
wire un1_u_PLL ;
wire PLL_1_lock_o ;
wire un1_u_PLL_5 ;
wire un1_u_PLL_4 ;
wire un1_u_PLL_6 ;
wire un1_u_PLL_1 ;
wire un1_u_PLL_3 ;
wire un1_u_PLL_7 ;
wire un1_u_PLL_8 ;
//@52:111
// @52:647
  BB \genblk1.u0_BB  (
	.B(PLL_1_clki_i),
	.I(GND),
	.T(VCC),
	.O(clki_w)
);
// @52:1301
  PLL \gen_no_refclk_mon.u_PLL  (
	.INTFBKOP(intclkop_w),
	.INTFBKOS(intclkos_w),
	.INTFBKOS2(intclkos2_w),
	.INTFBKOS3(intclkos3_w),
	.INTFBKOS4(intclkos4_w),
	.INTFBKOS5(intclkos5_w),
	.DIR(GND),
	.DIRSEL({GND, GND, GND}),
	.LOADREG(GND),
	.DYNROTATE(GND),
	.LMMICLK(GND),
	.LMMIRESET_N(VCC),
	.LMMIREQUEST(GND),
	.LMMIWRRD_N(GND),
	.LMMIOFFSET({GND, GND, GND, GND, GND, GND, GND}),
	.LMMIWDATA({GND, GND, GND, GND, GND, GND, GND, GND}),
	.LMMIRDATA(lmmi_rdata_o[7:0]),
	.LMMIRDATAVALID(lmmi_rdata_valid_o),
	.LMMIREADY(lmmi_ready_o),
	.PLLPOWERDOWN_N(VCC),
	.REFCK(clki_w),
	.CLKOP(PLL_1_clkop_o),
	.CLKOS(PLL_1_clkos_o),
	.CLKOS2(clkos2_o),
	.CLKOS3(clkos3_o),
	.CLKOS4(clkos4_o),
	.CLKOS5(clkos5_o),
	.ENCLKOP(VCC),
	.ENCLKOS(VCC),
	.ENCLKOS2(VCC),
	.ENCLKOS3(VCC),
	.ENCLKOS4(VCC),
	.ENCLKOS5(VCC),
	.FBKCK(PLL_1_clkop_o),
	.INTLOCK(un1_u_PLL_2),
	.LEGACY(VCC),
	.LEGRDYN(un1_u_PLL),
	.LOCK(PLL_1_lock_o),
	.PFDDN(un1_u_PLL_5),
	.PFDUP(un1_u_PLL_4),
	.PLLRESET(VCC),
	.STDBY(GND),
	.REFMUXCK(un1_u_PLL_6),
	.REGQA(un1_u_PLL_1),
	.REGQB(un1_u_PLL_3),
	.REGQB1(un1_u_PLL_7),
	.CLKOUTDL(un1_u_PLL_8),
	.ROTDEL(GND),
	.DIRDEL(GND),
	.ROTDELP1(GND),
	.GRAYTEST({GND, GND, GND, GND, GND}),
	.BINTEST({GND, GND}),
	.DIRDELP1(GND),
	.GRAYACT({GND, GND, GND, GND, GND}),
	.BINACT({GND, GND})
);
defparam \gen_no_refclk_mon.u_PLL .BW_CTL_BIAS = "0b0101";
defparam \gen_no_refclk_mon.u_PLL .CLKOP_TRIM = "0b0000";
defparam \gen_no_refclk_mon.u_PLL .CLKOS_TRIM = "0b0000";
defparam \gen_no_refclk_mon.u_PLL .CRIPPLE = "1P";
defparam \gen_no_refclk_mon.u_PLL .CSET = "8P";
defparam \gen_no_refclk_mon.u_PLL .DELA = "8";
defparam \gen_no_refclk_mon.u_PLL .DELB = "2";
defparam \gen_no_refclk_mon.u_PLL .DELC = "7";
defparam \gen_no_refclk_mon.u_PLL .DELD = "7";
defparam \gen_no_refclk_mon.u_PLL .DELE = "7";
defparam \gen_no_refclk_mon.u_PLL .DELF = "7";
defparam \gen_no_refclk_mon.u_PLL .DIVA = "8";
defparam \gen_no_refclk_mon.u_PLL .DIVB = "2";
defparam \gen_no_refclk_mon.u_PLL .DIVC = "7";
defparam \gen_no_refclk_mon.u_PLL .DIVD = "7";
defparam \gen_no_refclk_mon.u_PLL .DIVE = "7";
defparam \gen_no_refclk_mon.u_PLL .DIVF = "7";
defparam \gen_no_refclk_mon.u_PLL .DYN_SOURCE = "STATIC";
defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOP = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS2 = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS3 = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS4 = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .ENCLK_CLKOS5 = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .V2I_1V_EN = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .FBK_CUR_BLE = "0b00000000";
defparam \gen_no_refclk_mon.u_PLL .FBK_INTEGER_MODE = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .FBK_MASK = "0b00000000";
defparam \gen_no_refclk_mon.u_PLL .FBK_MMD_DIG = "1";
defparam \gen_no_refclk_mon.u_PLL .FBK_MMD_PULS_CTL = "0b0000";
defparam \gen_no_refclk_mon.u_PLL .FBK_PI_RC = "0b1100";
defparam \gen_no_refclk_mon.u_PLL .FBK_PR_CC = "0b0000";
defparam \gen_no_refclk_mon.u_PLL .FBK_PR_IC = "0b1000";
defparam \gen_no_refclk_mon.u_PLL .IPI_CMP = "0b0001";
defparam \gen_no_refclk_mon.u_PLL .IPI_CMPN = "0b0011";
defparam \gen_no_refclk_mon.u_PLL .IPP_CTRL = "0b0100";
defparam \gen_no_refclk_mon.u_PLL .IPP_SEL = "0b0111";
defparam \gen_no_refclk_mon.u_PLL .KP_VCO = "0b00011";
defparam \gen_no_refclk_mon.u_PLL .LDT_LOCK_SEL = "UFREQ";
defparam \gen_no_refclk_mon.u_PLL .LEGACY_ATT = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .PHIA = "0";
defparam \gen_no_refclk_mon.u_PLL .PHIB = "0";
defparam \gen_no_refclk_mon.u_PLL .PHIC = "0";
defparam \gen_no_refclk_mon.u_PLL .PHID = "0";
defparam \gen_no_refclk_mon.u_PLL .PHIE = "0";
defparam \gen_no_refclk_mon.u_PLL .PHIF = "0";
defparam \gen_no_refclk_mon.u_PLL .PLLPDN_EN = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .PLLPD_N = "USED";
defparam \gen_no_refclk_mon.u_PLL .PLLRESET_ENA = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .REF_INTEGER_MODE = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .REF_MASK = "0b00000000";
defparam \gen_no_refclk_mon.u_PLL .REF_MMD_DIG = "1";
defparam \gen_no_refclk_mon.u_PLL .REF_MMD_PULS_CTL = "0b0000";
defparam \gen_no_refclk_mon.u_PLL .SEL_OUTA = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SEL_OUTB = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SEL_OUTC = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SEL_OUTD = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SEL_OUTE = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SEL_OUTF = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SSC_DITHER = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SSC_EN_CENTER_IN = "DOWN_TRIANGLE";
defparam \gen_no_refclk_mon.u_PLL .SSC_EN_SDM = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SSC_EN_SSC = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SSC_F_CODE = "0b000000000000000";
defparam \gen_no_refclk_mon.u_PLL .SSC_N_CODE = "0b000000000";
defparam \gen_no_refclk_mon.u_PLL .SSC_ORDER = "SDM_ORDER1";
defparam \gen_no_refclk_mon.u_PLL .SSC_PI_BYPASS = "NOT_BYPASSED";
defparam \gen_no_refclk_mon.u_PLL .SSC_REG_WEIGHTING_SEL = "0b000";
defparam \gen_no_refclk_mon.u_PLL .SSC_SQUARE_MODE = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .SSC_STEP_IN = "0b0000000";
defparam \gen_no_refclk_mon.u_PLL .SSC_TBASE = "0b000000000000";
defparam \gen_no_refclk_mon.u_PLL .TRIMOP_BYPASS_N = "BYPASSED";
defparam \gen_no_refclk_mon.u_PLL .TRIMOS_BYPASS_N = "BYPASSED";
defparam \gen_no_refclk_mon.u_PLL .V2I_KVCO_SEL = "60";
defparam \gen_no_refclk_mon.u_PLL .V2I_PP_ICTRL = "0b11111";
defparam \gen_no_refclk_mon.u_PLL .V2I_PP_RES = "9K";
defparam \gen_no_refclk_mon.u_PLL .CLKMUX_FB = "CMUX_CLKOP";
defparam \gen_no_refclk_mon.u_PLL .SEL_FBK = "FBKCLK0";
defparam \gen_no_refclk_mon.u_PLL .DIV_DEL = "0b0001000";
defparam \gen_no_refclk_mon.u_PLL .INTFBKDEL_SEL = "DISABLED";
defparam \gen_no_refclk_mon.u_PLL .PMU_WAITFORLOCK = "ENABLED";
defparam \gen_no_refclk_mon.u_PLL .REF_OSC_CTRL = "3P2";
defparam \gen_no_refclk_mon.u_PLL .SIM_FLOAT_PRECISION = "0.1";
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* PLL_1_ipgen_lscc_pll_Z26_layer0 */

module PLL_1 (
  PLL_1_clkop_o,
  PLL_1_clki_i,
  PLL_1_clkos_o
)
;
output PLL_1_clkop_o ;
input PLL_1_clki_i ;
output PLL_1_clkos_o ;
wire PLL_1_clkop_o ;
wire PLL_1_clki_i ;
wire PLL_1_clkos_o ;
wire GND ;
wire VCC ;
// @52:111
  PLL_1_ipgen_lscc_pll_Z26_layer0 lscc_pll_inst (
	.PLL_1_clkos_o(PLL_1_clkos_o),
	.PLL_1_clki_i(PLL_1_clki_i),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @51:3291
  VHI VCC_cZ (
	.Z(VCC)
);
// @51:3291
  VLO GND_cZ (
	.Z(GND)
);
endmodule /* PLL_1 */

module main (
  dq_dqs0_io,
  dq_dqs1_io,
  dqs0_io,
  dqs1_io,
  DDR_MEM_1_ck_o,
  DDR_MEM_1_csn_o,
  DDR_MEM_1_addr_o,
  DDR_MEM_1_ba_o,
  DDR_MEM_1_casn_o,
  DDR_MEM_1_rasn_o,
  DDR_MEM_1_wen_o,
  DDR_MEM_1_odt_o,
  DDR_MEM_1_cke_o,
  MIPI_DPHY_1_clk_p_io,
  MIPI_DPHY_1_clk_n_io,
  MIPI_DPHY_1_data_p_io,
  MIPI_DPHY_1_data_n_io,
  MIPI_DPHY_2_clk_p_io,
  MIPI_DPHY_2_clk_n_io,
  MIPI_DPHY_2_data_p_io,
  MIPI_DPHY_2_data_n_io,
  I2C_DPHY_1_scl_io,
  I2C_DPHY_1_sda_io,
  I2C_DPHY_2_scl_io,
  I2C_DPHY_2_sda_io,
  PLL_1_clki_i
)
;
inout [7:0] dq_dqs0_io /* synthesis syn_tristate = 1 */ ;
inout [7:0] dq_dqs1_io /* synthesis syn_tristate = 1 */ ;
inout dqs0_io /* synthesis syn_tristate = 1 */ ;
inout dqs1_io /* synthesis syn_tristate = 1 */ ;
output [0:0] DDR_MEM_1_ck_o ;
output [0:0] DDR_MEM_1_csn_o ;
output [12:0] DDR_MEM_1_addr_o ;
output [2:0] DDR_MEM_1_ba_o ;
output DDR_MEM_1_casn_o ;
output DDR_MEM_1_rasn_o ;
output DDR_MEM_1_wen_o ;
output [0:0] DDR_MEM_1_odt_o ;
output [0:0] DDR_MEM_1_cke_o ;
inout MIPI_DPHY_1_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_1_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_1_data_n_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_p_io /* synthesis syn_tristate = 1 */ ;
inout MIPI_DPHY_2_clk_n_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_p_io /* synthesis syn_tristate = 1 */ ;
inout [3:0] MIPI_DPHY_2_data_n_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_1_scl_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_1_sda_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_2_scl_io /* synthesis syn_tristate = 1 */ ;
inout I2C_DPHY_2_sda_io /* synthesis syn_tristate = 1 */ ;
input PLL_1_clki_i ;
wire dqs0_io ;
wire dqs1_io ;
wire DDR_MEM_1_casn_o ;
wire DDR_MEM_1_rasn_o ;
wire DDR_MEM_1_wen_o ;
wire MIPI_DPHY_1_clk_p_io ;
wire MIPI_DPHY_1_clk_n_io ;
wire MIPI_DPHY_2_clk_p_io ;
wire MIPI_DPHY_2_clk_n_io ;
wire I2C_DPHY_1_scl_io ;
wire I2C_DPHY_1_sda_io ;
wire I2C_DPHY_2_scl_io ;
wire I2C_DPHY_2_sda_io ;
wire PLL_1_clki_i ;
wire [0:0] DDR_MEM_1_ck_o_c;
wire [0:0] DDR_MEM_1_csn_o_c;
wire [12:0] DDR_MEM_1_addr_o_c;
wire [2:0] DDR_MEM_1_ba_o_c;
wire [0:0] DDR_MEM_1_odt_o_c;
wire [0:0] DDR_MEM_1_cke_o_c;
wire PLL_1_clkos_o ;
wire PLL_1_clkop_o ;
wire VCC ;
wire GND ;
wire DDR_MEM_1_casn_o_c ;
wire DDR_MEM_1_rasn_o_c ;
wire DDR_MEM_1_wen_o_c ;
wire NC0 ;
// @0:1
  VHI VCC_cZ (
	.Z(VCC)
);
// @0:1
  VLO GND_cZ (
	.Z(GND)
);
// @51:3291
  GSR GSR_INST (
	.GSR_N(VCC),
	.CLK(NC0)
);
defparam GSR_INST.SYNCMODE="ASYNC";
// @49:91
  OB \DDR_MEM_1_cke_o_pad[0]  (
	.I(DDR_MEM_1_cke_o_c[0]),
	.O(DDR_MEM_1_cke_o[0])
);
// @49:90
  OB \DDR_MEM_1_odt_o_pad[0]  (
	.I(DDR_MEM_1_odt_o_c[0]),
	.O(DDR_MEM_1_odt_o[0])
);
// @49:89
  OB DDR_MEM_1_wen_o_pad (
	.I(DDR_MEM_1_wen_o_c),
	.O(DDR_MEM_1_wen_o)
);
// @49:88
  OB DDR_MEM_1_rasn_o_pad (
	.I(DDR_MEM_1_rasn_o_c),
	.O(DDR_MEM_1_rasn_o)
);
// @49:87
  OB DDR_MEM_1_casn_o_pad (
	.I(DDR_MEM_1_casn_o_c),
	.O(DDR_MEM_1_casn_o)
);
// @49:86
  OB \DDR_MEM_1_ba_o_pad[2]  (
	.I(DDR_MEM_1_ba_o_c[2]),
	.O(DDR_MEM_1_ba_o[2])
);
// @49:86
  OB \DDR_MEM_1_ba_o_pad[1]  (
	.I(DDR_MEM_1_ba_o_c[1]),
	.O(DDR_MEM_1_ba_o[1])
);
// @49:86
  OB \DDR_MEM_1_ba_o_pad[0]  (
	.I(DDR_MEM_1_ba_o_c[0]),
	.O(DDR_MEM_1_ba_o[0])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[12]  (
	.I(DDR_MEM_1_addr_o_c[12]),
	.O(DDR_MEM_1_addr_o[12])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[11]  (
	.I(DDR_MEM_1_addr_o_c[11]),
	.O(DDR_MEM_1_addr_o[11])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[10]  (
	.I(DDR_MEM_1_addr_o_c[10]),
	.O(DDR_MEM_1_addr_o[10])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[9]  (
	.I(DDR_MEM_1_addr_o_c[9]),
	.O(DDR_MEM_1_addr_o[9])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[8]  (
	.I(DDR_MEM_1_addr_o_c[8]),
	.O(DDR_MEM_1_addr_o[8])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[7]  (
	.I(DDR_MEM_1_addr_o_c[7]),
	.O(DDR_MEM_1_addr_o[7])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[6]  (
	.I(DDR_MEM_1_addr_o_c[6]),
	.O(DDR_MEM_1_addr_o[6])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[5]  (
	.I(DDR_MEM_1_addr_o_c[5]),
	.O(DDR_MEM_1_addr_o[5])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[4]  (
	.I(DDR_MEM_1_addr_o_c[4]),
	.O(DDR_MEM_1_addr_o[4])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[3]  (
	.I(DDR_MEM_1_addr_o_c[3]),
	.O(DDR_MEM_1_addr_o[3])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[2]  (
	.I(DDR_MEM_1_addr_o_c[2]),
	.O(DDR_MEM_1_addr_o[2])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[1]  (
	.I(DDR_MEM_1_addr_o_c[1]),
	.O(DDR_MEM_1_addr_o[1])
);
// @49:85
  OB \DDR_MEM_1_addr_o_pad[0]  (
	.I(DDR_MEM_1_addr_o_c[0]),
	.O(DDR_MEM_1_addr_o[0])
);
// @49:84
  OB \DDR_MEM_1_csn_o_pad[0]  (
	.I(DDR_MEM_1_csn_o_c[0]),
	.O(DDR_MEM_1_csn_o[0])
);
// @49:83
  OB \DDR_MEM_1_ck_o_pad[0]  (
	.I(DDR_MEM_1_ck_o_c[0]),
	.O(DDR_MEM_1_ck_o[0])
);
// @49:200
  DDR_MEM_1 DDR_MEM_1_inst (
	.dq_dqs1_io(dq_dqs1_io[7:0]),
	.dq_dqs0_io(dq_dqs0_io[7:0]),
	.DDR_MEM_1_csn_o_c_0(DDR_MEM_1_csn_o_c[0]),
	.DDR_MEM_1_addr_o_c(DDR_MEM_1_addr_o_c[12:0]),
	.DDR_MEM_1_ba_o_c(DDR_MEM_1_ba_o_c[2:0]),
	.DDR_MEM_1_odt_o_c_0(DDR_MEM_1_odt_o_c[0]),
	.DDR_MEM_1_cke_o_c_0(DDR_MEM_1_cke_o_c[0]),
	.DDR_MEM_1_ck_o_c_0(DDR_MEM_1_ck_o_c[0]),
	.PLL_1_clkos_o(PLL_1_clkos_o),
	.dqs1_io(dqs1_io),
	.dqs0_io(dqs0_io),
	.DDR_MEM_1_casn_o_c(DDR_MEM_1_casn_o_c),
	.DDR_MEM_1_rasn_o_c(DDR_MEM_1_rasn_o_c),
	.DDR_MEM_1_wen_o_c(DDR_MEM_1_wen_o_c)
);
// @49:261
  MIPI_DPHY_1 MIPI_DPHY_1_inst (
	.MIPI_DPHY_1_data_p_io(MIPI_DPHY_1_data_p_io[3:0]),
	.MIPI_DPHY_1_data_n_io(MIPI_DPHY_1_data_n_io[3:0]),
	.MIPI_DPHY_1_clk_p_io(MIPI_DPHY_1_clk_p_io),
	.MIPI_DPHY_1_clk_n_io(MIPI_DPHY_1_clk_n_io),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @49:283
  MIPI_DPHY_2 MIPI_DPHY_2_inst (
	.MIPI_DPHY_2_data_p_io(MIPI_DPHY_2_data_p_io[3:0]),
	.MIPI_DPHY_2_data_n_io(MIPI_DPHY_2_data_n_io[3:0]),
	.MIPI_DPHY_2_clk_p_io(MIPI_DPHY_2_clk_p_io),
	.MIPI_DPHY_2_clk_n_io(MIPI_DPHY_2_clk_n_io),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @49:315
  I2C_DPHY_1 I2C_DPHY_1_inst (
	.I2C_DPHY_1_sda_io(I2C_DPHY_1_sda_io),
	.I2C_DPHY_1_scl_io(I2C_DPHY_1_scl_io),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @49:328
  I2C_DPHY_2 I2C_DPHY_2_inst (
	.I2C_DPHY_2_sda_io(I2C_DPHY_2_sda_io),
	.I2C_DPHY_2_scl_io(I2C_DPHY_2_scl_io),
	.PLL_1_clkop_o(PLL_1_clkop_o)
);
// @49:341
  PLL_1 PLL_1_inst (
	.PLL_1_clkop_o(PLL_1_clkop_o),
	.PLL_1_clki_i(PLL_1_clki_i),
	.PLL_1_clkos_o(PLL_1_clkos_o)
);
endmodule /* main */

